{% extends "admin/layout.html" %}


{% block title %}
  {{ title }}
{% endblock title %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="{{ url_for('static', filename='spectrum/spectrum.min.js') }}" /></script>
<link rel='stylesheet' href="{{ url_for('static', filename='spectrum/spectrum.min.css') }}" />

<h2 class="text-center text-dark mb-3">Style Your Shop</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Style Shop</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

    <h3>How to</h3>
    <p class="card-subtitle mb-3 text-muted">Enter or paste in cusom css styling for your shop below:</p>

    <hr>

  <form action="#" method="POST">

    <h2>Choose your default colour</h2>
    <p class="card-subtitle mb-3 text-muted">Primary Colour is used for header, and buttons</p>

    <label for="primary">Primary</label>
    <input name="primary" value="{{ primary }}" id="primary" autocomplete="off" />
    <br />
    <div style="display:none">
    <label for="secondary">Secondary</label>
    <input name="secondary" value="{{ secondary }}" id="secondary" autocomplete="off" />
    <br />
    <label for="info">Info</label>
    <input name="info" value="{{ info }}" id="info" autocomplete="off" />
    <br />
    </div>

    <br /> <br /><h4>Live view:<hr />

    <iframe id="style-preview" src={{ request.host_url }} style="pointer-events: none" width="100%" frameborder="0" height="800px" scrolling="auto"
            allowfullscreen="true"
            title="Subscription shop">
    </iframe>


  <script>

  function saveColor(color) {
    // Get the chosen values for colours
    var hsl = color.toHsl()
    var primary = hsl.h + ',' + hsl.s + ',' + hsl.l;

    var http = new XMLHttpRequest();
    var url = '/style/style-shop';
    var params = 'primary=' + primary;
    http.open('POST', url, true);

    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

    http.onreadystatechange = function() {
        if(http.readyState == 4 && http.status == 200) {
          console.log("Saved chosen colour");
        }
    }
    http.send(params);
    document.getElementById('style-preview').contentWindow.location.reload();
  }

  $('#primary').spectrum({
      type: "component",
      preferredFormat: "hex",
      color: "{{ css_properties['primary'] }}", /* default to current colour */
      showInput: "true",
      showInitial: "true",
      move: function(color) { saveColor(color)},
      change: function(color) { saveColor(color)},
  });

  </script>


  <h2>Global Styles</h2>
  <p class="card-subtitle mb-3 text-muted">If you know how to write CSS, you can paste it here:</p>
  <form action="#" method="POST"> 
    <textarea name="css" cols="100" rows="20">{{ customCSS }}</textarea>
    <br />
    <input type="submit" value="Save" class="btn btn-primary btn-block col-md-6 my-3 mx-auto">
  </form>

    </div><!-- end container -->
  </div><!-- end section -->
</main>


{% endblock body %}
