{% extends "admin/layout.html" %}
{% block title %} {{ title }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Failed Invoices</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.failed_invoices') }}">Failed Invoices</a></li>
  </ul>
</div>
      
<main>
  <div class="container">
      <div class="row">

        <div class="card col-md-12" style="width: 18rem;">
          <div class="card-body">
            <h3>What are failed invoices?</h3>
            <p>
              An invoice is considered failed when all automatic payment retries have
              failed and no further automatic retries will be taken.
            </p>
            <p>You may want to use this information to:</p>
            <style>
            li { list-style: disc;}
            </style>
            <ul>
              <li>Mark the invoice as bad debt (uncollectible) if you know you're never going
                to get the money</li>
              <li>Collect the payment by another means (e.g. in cash directly)</li>
            </ul>
            <button id="refresh_failed_invoices" title="Refresh failed invoices" class="btn btn-primary disable-on-click">Refresh failed invoices</button>
            <script>
            btnRefreshFailedInvoices = document.getElementById('refresh_failed_invoices');
            btnRefreshFailedInvoices.addEventListener('click', refreshFailedInvoices);

            function refreshFailedInvoices() {
              btnRefreshFailedInvoices.textContent = "Please wait...this may take a while if you have lots of invoices";
              fetch('/admin/invoices/failed/?refreshFailedInvoices')
                .then(response => { document.location = "/admin/invoices/failed/"});
            }
            </script>
          </div>
          <ul class="list-group list-group-flush">
          </ul>
          <!-- invoices list -->
          <div class="card-body">
            <h3>Failed Invoices List:</h3>
            {% if failedInvoices|length == 0 %}
                There are no failed invoices.
            {% endif %}
            {% for failedInvoice in failedInvoices %}
              <div class="failed-invoice-container">
                ID: {{ failedInvoice.id }} <br />
                Status: {{ failedInvoice.status }} <br />
                Subscription to plan: {{ failedInvoice.subscribie_subscription.plan.title }} <br />
                Subscriber: <a href="{{ url_for('admin.show_subscriber', subscriber_id=failedInvoice.subscribie_subscription.person.id) }}">{{ failedInvoice.subscribie_subscription.person.given_name }} {{ failedInvoice.subscribie_subscription.person.family_name }}</a><br />
                Amount due: {{ failedInvoice.amount_due | currencyFormat }} <br />
                Amount paid: {{ failedInvoice.amount_paid| currencyFormat }} <br />
                Amount remaining: {{ failedInvoice.amount_remaining| currencyFormat }} <br />
                Charge Attempt Count: {{ failedInvoice.attempt_count }} <br />
                Next automatic charge attempt: {% if failedInvoice.next_payment_attempt is sameas None %} Never {% else %} {{ failedInvoice.next_payment_attempt | timestampToDate }} {% endif %} <br />
              </div>
              <hr />
            {% endfor %}


          </div>
          <!-- end invoices list -->
        </div>
      </div>

  </div><!--end container-->

</main>

{% endblock body %}
