{% extends "admin/layout.html" %}
{% block title %} {{ title }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Failed Invoices</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.failed_invoices') }}">Failed Invoices</a></li>
  </ul>
</div>
      
<main>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h3>Failed Invoices</h3>
            <p>A failed invoice is when all automatic attempts to collect payment have failed, and no further automatic collection will take place.</p>
            <p>To resolve, the subscriber needs to login to their account, and manually pay the failed invoice(s) and click 'Pay now' next to the unpaid invoice. Doing so will
            automatically match the payment against the correct invoice.</p>
            <button id="refresh_failed_invoices" title="Refresh failed invoices" class="btn btn-primary disable-on-click">Refresh failed invoices</button>
            {% if debtors.items() |length == 0 %}
                There are no failed invoices.
            {% endif %}
            <script>
            btnRefreshFailedInvoices = document.getElementById('refresh_failed_invoices');
            btnRefreshFailedInvoices.addEventListener('click', refreshFailedInvoices);

            function refreshFailedInvoices() {
              btnRefreshFailedInvoices.textContent = "Please wait...this may take a while if you have lots of invoices";
              fetch('/admin/invoices/failed/?refreshFailedInvoices')
                .then(response => { document.location = "/admin/invoices/failed/"});
            }
            </script>
        </div>
      </div>

      {% for key, debtor in debtors.items() %}
      <div class="row">
        <div class="card col-md-12 mt-4" style="width: 18rem;">
          <!-- Bad debtor list showing the debtor and their invoices -->
          <div class="card-body">
               <div class="bad-debtor-container">
                    <div class="debtor-info">
                    <h3>👤 <a href="{{ url_for("admin.show_subscriber", subscriber_id=debtor.person.id) }}" id="{{ debtor.person.uuid }}">
                        {{ debtor.person['full_name'] | title}}</a>
                    </h3>
                    </div>
                    <p>{{ debtor.person['full_name'] | title}} has <em>{{ debtor['failedInvoices'] | count }}</em> failed invoice(s).</p>
                    <div class="failed-invoices">
                      <h5>Failed Invoice(s):</h5>
                        <div id="scroll-alert" class="alert alert-info" style="display:none;">
                          <em>&lt;---- Swipe table to the left to see all columns</em>
                        </div>
                          <style>
                            #subscriber-invoices {
                              border-collapse: collapse;
                            }
                            #subscriber-invoices tbody {
                              display: block;
                              overflow-x: scroll;
                            }
                            @media (max-width: 850px) {
                              /* Scroll invoices table on mobile */
                              #scroll-alert {
                                display: block !important;
                              }
                              #subscriber-invoices tbody {
                                max-width: 450px;
                              }
                            }
                            @media (max-width: 400px) {
                              #subscriber-invoices tbody {
                                max-width: 265px;
                              }
                            }
                            #subscriber-invoices th {
                              padding: 8px;
                            }
                            #subscriber-invoices tr {
                              border-bottom: 1px solid lightgray;
                            }
                            #subscriber-invoices td {
                              text-align: center;
                              padding: 0.75em;
                            }
                          </style>
                          <table id="subscriber-invoices">
                            <tr>
                              <th>Plan title</th>
                              <th>Subscription Note</th>
                              <th>Due Date</th>
                              <th>Amount Unpaid</th>
                              <th>Collection attempts</th>
                              <th>Decline Code</th>
                              <th>Invoice payment URL</th>
                              <th>Invoice Reference</th>
                            </tr>
                            {% for invoice in debtor['failedInvoices'] %}
                            <tr>
                              <td>{{ invoice.subscribie_subscription.plan.title }}
                              </td>
                              <td>{% if invoice.subscribie_subscription.note and invoice.subscribie_subscription.note.note %}
                                    {% if invoice.subscribie_subscription.note.note.strip() != '' %}
                                      {{ invoice.subscribie_subscription.note.note }}
                                    {% else %}
                                        <small style="color: lightgrey">None</small>
                                    {% endif %}
                                  {% endif %}
                              </td>
                              <td>{{ invoice.created | timestampToHumanReadableDate }}</td>
                              <td>{{ currency_format(invoice.currency, invoice.amount_due) }}</td>
                              <td>{{ invoice.attempt_count }}</td>
                              <td>{{ invoice['stripe_decline_code'] or '' }}</td>
                              <td><a href="{{ invoice.hosted_invoice_url }}" title="Send this invoice url to your subscriber to chase payment" target="_blank">Payment link</a></td>
                              <td>{{ invoice.id }}</td>
                            </tr>
                            {% endfor %}
                          </table>

                    </div><!-- end .failed-invoices -->
                </div>
          </div>
          <!-- End bad debtor list showing the debtor and their invoices -->
        </div>
      </div>
      {% endfor %}

  </div><!--end container-->

</main>

{% endblock body %}
