#Only values in uppercase are actually stored in the config object later on. So make sure to use uppercase letters for your config keys.

# Change FLASK_ENV=live for live
FLASK_ENV=development

# Software as a service (SAAS)
SAAS_URL=https://subscribie.co.uk/
# SAAS_API_KEY is to allow subscribie platform to send authenticated
# api requests to subscribie shops created by the shop builder.
SAAS_API_KEY=changeme
SAAS_ACTIVATE_ACCOUNT_PATH=/activate

# For testing this repo in isolation, SUBSCRIBIE_REPO_DIRECTORY can be './'
# for production, SUBSCRIBIE_REPO_DIRECTORY should be wherever the repo
# is cloned to
SUBSCRIBIE_REPO_DIRECTORY=./
SQLALCHEMY_TRACK_MODIFICATIONS=False
SQLALCHEMY_DATABASE_URI="sqlite:////tmp/data.db"
SECRET_KEY="random string. e.g. echo -e 'from os import urandom\\nprint urandom(25)' | python"
DB_FULL_PATH="/tmp/data.db"
MODULES_PATH="./modules/"
TEMPLATE_BASE_DIR="./subscribie/themes/"
THEME_NAME="jesmond"
CUSTOM_PAGES_PATH="./subscribie/custom_pages/"
UPLOADED_IMAGES_DEST="./subscribie/static/"
UPLOADED_FILES_DEST="./subscribie/uploads/"
# Default 50Mb upload limit
MAX_CONTENT_LENGTH="52428800"
SUCCESS_REDIRECT_URL="http://127.0.0.1:5000/complete_mandate"
THANKYOU_URL="http://127.0.0.1:5000/thankyou"
EMAIL_LOGIN_FROM="hello@example.com"
EMAIL_QUEUE_FOLDER="/var/email-queue/"

SERVER_NAME="127.0.0.1:5000"

# Cookie policies
#SESSION_COOKIE_SECURE=True
#SESSION_COOKIE_HTTPONLY=True
#SESSION_COOKIE_SAMESITE=None

MAIL_DEFAULT_SENDER="noreply@example.com"

STRIPE_LIVE_PUBLISHABLE_KEY=
STRIPE_LIVE_SECRET_KEY=

STRIPE_TEST_PUBLISHABLE_KEY=
STRIPE_TEST_SECRET_KEY=

# Internal server where shop should send its stripe connect account id to. See https://github.com/Subscribie/subscribie/issues/352
STRIPE_CONNECT_ACCOUNT_ANNOUNCER_HOST=http://127.0.0.1:8001

# For development: 

HONEYCOMB_API_KEY=

# Python log levels: DEBUG, INFO, WARNING, ERROR, CRITICAL
# See https://docs.python.org/3/howto/logging.html
PYTHON_LOG_LEVEL=DEBUG

# Playwright testing
PLAYWRIGHT_HOST=http://127.0.0.1:5000/
PLAYWRIGHT_HEADLESS=true

#rename shop variables
PATH_TO_SITES="/path/to/sites/subscribie/"
PATH_TO_RENAME_SCRIPT="/path/to/sites/subscribie/rename-shop.sh"
SUBSCRIBIE_DOMAIN="subscriby.shop"

PRIVATE_KEY="/tmp/private.pem"
PUBLIC_KEY="/tmp/public.pem"


# Optional
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_PYTHON_LOG_LEVEL=ERROR


# Environment Settings for tests
TEST_SHOP_OWNER_EMAIL_ISSUE_704=admin@example.com
TEST_SHOP_OWNER_LOGIN_URL=http://127.0.0.1:5000/auth/login

