venv/
*.sql
*.swp
*.pyc
__pycache__/
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.env
Subscribie.egg-info*
subscribie.egg-info/*
build/*
dist/*
data.db
modules/
*.db
*.pub
id_rsa
.vscode
.mypy_cache
.project
.pylintrc
node_modules
*chromium.png
*webkit.png
.env
.env.docker
*.webm