wheel
Werkzeug==1.0.1
Flask>=1,<2
flask_cors
Flask-Reuploaded==0.3.2
Flask-WTF==0.14.3
wtforms[email]==2.3.3
Flask-Mail>=0.9.1
requests==2.25.0
blinker==1.4
stripe
GitPython
pathlib
pytest
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.0.1
python-dotenv==0.13.0
click==7.1.2
pyjwt[crypto]
py-auth-header-parser==1.0.2
pydantic==1.6.2
backoff==1.10.0
coloredlogs==15.0
env-validate==0.4
python-dateutil==2.8.2
currency-symbols==2.0.1
