Werkzeug==1.0.1
Flask>=1,<2
flask_cors
flask_login
Flask-Reuploaded==0.3.2
Flask-WTF==0.14.3
wtforms[email]
Flask-Mail>=0.9.1
requests=2.25.0
blinker
oauth2client
pyyaml
stripe
gocardless_pro
GitPython
pathlib
reload
pytest
tinycss
flask_sqlalchemy
flask_migrate
python-dotenv==0.13.0
click==7.1.2
pyjwt[crypto]
py-auth-header-parser==1.0.2
pydantic==1.6.1
honeycomb-beeline==2.14.0
