wheel
Flask>=2,<3
flask_cors
Flask-Reuploaded==0.3.2
Flask-WTF==1.0.0
email-validator==1.1.3
Flask-Mail>=0.9.1
requests==2.27.1
blinker==1.4
stripe
GitPython
pathlib
pytest
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.0.1
Flask-Babel==2.0.0
python-dotenv==0.13.0
pyjwt[crypto]
py-auth-header-parser==1.0.2
pydantic==1.6.2
backoff==1.10.0
coloredlogs==15.0
env-validate==0.4
python-dateutil==2.8.2
currency-symbols==2.0.1
pycryptodome==3.14.1
pycountry==22.3.5
SQLAlchemy==1.4.43
GraphLab-Create
