[Unit]
Description=uWSGI Emperor for Subscribie uwsgi vassals
After=network.target

[Service]
# Remember to ensure enable-threads = true in your emperor config.ini
ExecStart=/path/to/venv/bin/uwsgi --ini config.ini

RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
WorkingDirectory=/path/to/subscribie/
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

# See https://uwsgi-docs.readthedocs.io/en/latest/Systemd.html#systemd
