{% extends "layout.html" %}
{% block title %}Thank you!{% endblock %}

{% block hero %}
  <div class="section-hero px-2">
    <div class="wrapper mx-auto">
  
      <div class="container">
        <div class="row">
          <div class="col col-md-8 hero-content py-5 px-3 px-sm-4 ">
            <h2 class="title-1">Order Complete!</h2>
            <p class="text-light body-lg mb-0">We've received your order and will be in contact soon.</p>
          </div>
          <div class="col-4 col-md-4 text-right d-none d-lg-block py-4 px-0 px-sm-4">
            <svg style="max-width: 350px; width:75%;" viewBox="0 0 173 107" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Subscription Builder - Success</title>
              <defs></defs>
              <g id="Subscription-Builder---Success" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                  <path class="tick" d="M65,53.9213658 L78.2769791,67.4578625 C79.050432,68.2464336 80.3167026,68.2586894 81.1052737,67.4852365 C81.1183336,67.472427 81.1312171,67.459439 81.1439206,67.446276 L108.597255,39" id="Line" stroke="#FFFFFF" stroke-width="10"></path>
              </g>
            </svg>
          </div>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}
