#Only values in uppercase are actually stored in the config object later on. So make sure to use uppercase letters for your config keys.

ENV="development"
SECRET_KEY="random string. e.g. echo -e 'from os import urandom\\nprint urandom(25)' | python"
DB_FULL_PATH="../../../data.db"
JAMLA_PATH="../../../jamla.yaml"
STATIC_FOLDER="../../../static"
UPLOADED_IMAGES_DEST="../../../static/photos/"
TEMPLATE_FOLDER="../../../templates"
SUCCESS_REDIRECT_URL="https://127.0.0.1:5000/complete_mandate"
THANKYOU_URL="https://127.0.0.1:5000/thankyou"
CRAB_URL="http://127.0.0.1:5001"
GOCARDLESS_TOKEN="sandbox_abc123"
GOCARDLESS_ENVIRONMENT="sandbox"
PENGUIN_URL="http://127.0.0.1:8088"
REST_USER="foo"
REST_PASSWORD="foo"
