version: 1
site:
      static_folder: path/to/static/assets
payment_providers:
    - paypal:
         - sepa_direct_supported: No
         - subscription_supported: Yes
         - instant_payment_supported: Yes
         - variable_payments_supported: No
    - stripe: 
         - sepa_direct_supported: No
         - subscription_supported: Yes
         - instant_payment_supported: Yes
         - variable_payments_supported: No
    - gocardless:
         - sepa_direct_supported: No
         - subscription_supported: Yes
         - instant_payment_supported: Yes
         - variable_payments_supported: Yes

items:
    - sku: basicwebhosting 
      title: Starter Hosting
      sell_price: 0.00
      monthly_price: 4.99
      lead_time_days: 1
      subscription: Yes
      subscription_terms:
          minimum_term_months: 12
      requirements:
        instant_payment: False
        subscription: True
        customer_address: True
        customer_contact_details_required: True
      oboarding_start_url: /new_customer?plan=basicwebhosting
      selling_points:
          - Small websites
          - FTP Access
          - 5GB space
          - 1000Mb Bandwidth
      primary_icon:
          src: /static/basicwebhosting.svg
          type: image/svg+xml
      primary_colour: "#8dc047"
      icons:
          - 
              - src: basicwebhosting48.png
                size: 48x48
                type: image/png
              - src: images/basicwebhosting192.png
                size: 192x192
                type: image/png

    - sku: standardwebhosting
      title: Standard Web Hosting
      sell_price: 0.00
      monthly_price: 8.99
      lead_time_days: 1
      subscription: Yes
      subscription_terms:
          - minimum_term_months: 12
      requirements:
        instant_payment: False
        subscription: True
        customer_address: True
        customer_contact_details_required: True
      oboarding_start_url: /new_customer?plan=standardwebhosting
      selling_points:
          - Larger websites
          - FTP Access
          - 10GB space
          - 2000Mb Bandwidth
      primary_colour: "#db802d"
      primary_icon:
          src: /static/standardwebhosting.svg
          type: image/svg+xml
      icons:
          - 
              - src: images/standardwebhosting48.png
                size: 48x48
                type: image/png
              - src: images/standardwebhosting192.png
                size: 192x192
                type: image/png
    - sku: smallbusinesswebhosting
      title: Small Business Web Hosting
      sell_price: 0.00
      monthly_price: 25.85
      lead_time_days: 1
      subscription: Yes
      subscription_terms:
          minimum_term_months: 24
      requirements:
        instant_payment: False
        subscription: True
        customer_address: True
        customer_contact_details_required: True
      oboarding_start_url: /new_customer?plan=smallbusinesswebhosting
      selling_points:
          - Busy websites
          - FTP Access
          - 60GB space
          - 4000Mb Bandwidth
          - Telephone support
          - 24 Month Minimum Term
      primary_colour: "#e73b1a"
      primary_icon:
          src: /static/smallbusinesswebhosting.svg
          type: image/svg+xml
      icons:
          - 
              - src: images/smallbusinesswebhosting48.png
                size: 48x48
                type: image/png
              - src: images/smallbusinesswebhosting192.png
                size: 192x192
                type: image/png
