{% extends "layout.html" %}
{% block title %} Connect Stripe Manually {% endblock %}

{% block hero %}

    <h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">Manage My Shop</h1>

{% endblock %}

{% block body %}

<div style="padding: 1rem 1.5rem 0 1.5rem;">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <p>You're here: </p>
        <li><a href="/">Shop</a></li>
        <li><a href="/dashboard">Manage My Shop</a></li>
        <li class="is-active"><a href="#" aria-current="page">Connect Stripe</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="section">
  <div class="container">

    <div class="columns">
      <div class="column">
        <h2 class="title is-3">Connect Stripe to your shop</h2>
        <div class="notification {% if stripe_connected %}is-success{% else %}is-light{% endif %}"><p><b>Status: </b>{% if stripe_connected %}Stripe is already connected!{% else %}Stripe isn't yet configured, use the form below.{% endif %}</p></div>
        <p>To start taking one-off payments, please connect your Stripe account by copy &amp; pasting your Stripe API keys into the boxes below. You need to enter both your publishable and secret key.</p>
        <br />
        <form class="form" action="" method="POST" action="/">

            {{ form.csrf_token }}
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Publishable Key:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" name="publishable_key" id="publishable_key" placeholder="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Secret Key:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" name="secret_key" id="secret_key" placeholder="...">
                  </div>
                </div>
              </div>
            </div><br />
            <button type="submit" class="button is-fullwidth is-info">{% if stripe_connected %}Reconnect{% else %}Connect{% endif %} Stripe</button>
        </form>
      </div>
      <div class="is-divider-vertical"></div>
      <div class="column is-one-third" style="padding:0;">
        <img src="/static/stripe.svg" style="max-height:100px">
        <h3 class="title is-5">Need some help?</h3>
        <p>In order to link Stripe, you must already have a Stripe account created. If you do not yet have an account, <a href="https://dashboard.stripe.com/register">click here</a> to create one.<br /><br />Once logged in, on the left menu, click 'Developers' then 'API Keys'. To be able to copy the 'Secret Key' click 'Reveal Live Key Token'.</p>
        <br />
        <h3 class="title is-5">Stripe Charges</h3>
        <p>Whilst we at Subscribie do not charge per transaction, Stripe does.<br /> Their rates and more information can be found at: <a href="https://stripe.com/gb/pricing">https://stripe.com/gb/pricing</a></p>
      </div>
    </div>

  </div>
</div>


{% endblock %}
