{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}

{% block hero %}

    <h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">Manage My Shop</h1>

{% endblock %}

{% block body %}

<div style="padding: 1rem 1.5rem 0 1.5rem;">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <p>You're here: </p>
        <li><a href="/">Shop</a></li>
        <li class="is-active"><a href="#" aria-current="page">Manage My Shop</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="section">
  <div class="container">

    <h2 class="title is-3">Manage Payment Gateways</h2>
    <p class="subtitle is-5">Payment gateways allow you to take payment from your customers over the internet, you'll need to link at least <b>one</b> in order to successfully generate income from your store.</p>
    <br />
    <div class="columns" style="max-width:1000px;">
      <div class="column">
        <div class="box hover">
          <img src="/static/stripe.svg" style="width:50%; display:block; margin:auto">
          <h3 class="title is-5">Stripe</h3>
          <p>Stripe works well for one-off payments, customers can use their credit or debit card to make purchases securely online.</p>
          <br />
          <a class="button is-fullwidth
          {% if stripe_connected  %}
            is-success
          {% else %}
            is-info
          {% endif %}
          " href="/connect/stripe/manually">{% if stripe_connected  %}Active! Click to reconnect Stripe{% else %}Connect to Stripe{% endif %}</a>
        </div>
      </div>
      <div class="column">
        <div class="box hover">
          <img src="/static/gocardless-blue-rgb_2018.svg" style="width:50%; display:block; margin:2rem auto">
          <h3 class="title is-5">GoCardless</h3>
          <p>GoCardless allows you to take scheduled payments easily using Direct Debit, which makes it great for subscription services.</p>
          <br />
          <a class="button is-fullwidth
          {% if gocardless_connected  %}
            is-success
          {% else %}
            is-info
          {% endif %}
          " href="/connect/gocardless/manually">{% if gocardless_connected  %}Active! Click to reconnect GoCardless{% else %}Connect to GoCardless{% endif %}</a>
        </div>
      </div>
    </div>
    <div class="notification">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="/static/money.svg">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p><strong>Unlike most subscription website services, Subscribie doesn't take a cut of each purchase!</strong></p><small>Payment providers however will charge a small fee, to find out the fees, click on the payment provider above and click 'Charges and Fees'.</small>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">

    <h2 class="title is-3">Edit Items</h2>
        <a class="button is-fullwidth is-success" href="/edit">
        Edit
        </a>
  </div>
</div>

{% endblock %}
