{% extends "admin/layout.html" %}
{% block title %} Connect Stripe Manually {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Manage My Shop</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Connect Stripe</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-7">
          <h2>Connect Stripe to your shop</h2>
          <p>Connect to Stripe below. When your subscribers pay one-off or recurring amounts, they 
          will be paid out into your bank account via Stripe.
          </p>
          Default currency is set to: {{ default_currency }}
          <p>The country in which the account holder resides, or in which the business is legally established:</p>
          <select id="country_code" class="form-control" style="margin-bottom: 2em">
            {% for country in countryToCurrency %}
              {% if default_currency == country['currency_code'] %}
                <option value="{{ country['country_code'] }}" data-currency="{{ country['currency_code'] }}" selected>{{ country['country_name'] }}</option>
              {% else %}
                <option value="{{ country['country_code'] }}" data-currency="{{ country['currency_code'] }}">{{ country['country_name'] }}</option>
              {% endif %}
            {% endfor %}
            </select>
          </select>


          {# Only allow activated shops to activate Stripe
            in live mode #}
         {% if shop_activated %}
           <button id="submit" class="btn btn-success">
           Setup payouts on Stripe
           {% if payment_provider.stripe_livemode %}
             (live mode)
           {% else %}
             (test mode)
           {% endif %}
           </button>
           {% elif account.payouts_enabled is not sameas True and payment_provider.stripe_livemode is sameas True %}
           {# Only require non-already stripe connected sites to activate via human operator #}
           <a href="{{ saas_activate_account_url }}" class="btn btn-success" id="submit">Start taking live payments</a>

          {% else %}
           <button id="submit" class="btn btn-success mb-4" id="submit"> Setup payouts on Stripe (test mode) </button>
          {% endif %}

         {% if account.payouts_enabled %}
            {% if payment_provider.stripe_livemode is not sameas True %}
            <div class="alert alert-warning" role="alert">
                <b>Your currently running in test mode.</b> <br />
                To make a test order, use the following test card: <br />
                4242 4242 4242 4242 <br />
                Month/Year: 06/20 <br />
                CVC: 123 <br />
                Any valid name/Address
            </div>
            {% endif %}

            {% if payment_provider.stripe_livemode is sameas True %}
            <div class="alert alert-success" role="alert">
                <b>Congrats!</b> Payouts are active on your site, which means 
                you'll receive funds to your bank account. <br />
            </div> 
            {% endif %}

            {% if payment_provider.stripe_livemode is not sameas True %}
              <div class="alert alert-warning" role="alert">
                <b>Your accout is currently in test mode, once you are ready,
                you can switch to live mode using real money.</b>
              </div>
            {% endif %}

            <a href="{{ stripe_express_dashboard_url }}" class="btn btn-success">
                View balance, payouts and change bank account settings
            </a> <br /> <br />

         {% elif account.payouts_enabled is sameas False %}
            <div class="alert alert-warning" role="alert">
                Payouts to your bank account are not active yet.
                Stripe needs you to provide identification.<br />
                If you have already done this, please check back here after a
                short while (5 mins). <br />
                Otherwise please click 'Setup payouts on stripe' again and you'll
                be asked to provide documents. This is to better protect you and your customers
                from fraud.
                <br />
                <p>
                    If you have recently uploaded these documents, please give Stripe some time
                    to review and process them.
                </p>
                {% if account.requirements.currently_due %}
                      <h3>Items Currently Due</h3>
                      <p>Stripe currently needs the following information:</p>
                      {% for item in account.requirements.currently_due %}
                        {{ item }} <br/>
                      {% endfor %}

                      <ul>
                      
                      {% if 'individual.verification.document' in account.requirements.currently_due %}
                          <li>Requires a proof of entity document establishing the business’ entity ID number, such as the company’s articles of incorporation.</li>
                      {% endif %}
                      {% if 'individual.verification.additional_document' in account.requirements.currently_due %}
                          <li>Requires a color scan or photo of a document verifying the user’s address, such as a utility bill.</li>
                      {% endif %}
                      </ul>
                <p>
                    Click 'Setup payouts on stripe' to complete the document upload process.
                </p>
                {% endif %}  
            </div> 
         {% endif %}

         {% if account.details_submitted is sameas False %}
            <div class="alert alert-warning" role="alert">
                Stripe is waiting for you to provide information to validate 
                your bank account for payments. Please connect Stripe below and upload
                any information they request.
            </div> 
         {% endif %}

          <hr />
          <h3>Live / Test mode</h3>
          <p>Switch between live and test mode.</p>
          <p><em>Live</em> means use real money. <em>Test</em> is pretend money.</p>

          <div class="form-check form-check-inline">
            <input class="form-check-input stripe-change-live-mode" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"
              {% if payment_provider.stripe_livemode %} 
                checked
              {% endif %}
             >
            <label class="form-check-label" for="inlineRadio1">Live</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input stripe-change-live-mode" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0"
              {% if payment_provider.stripe_livemode is sameas False %}
                checked
              {% endif %}
            >
            <label class="form-check-label" for="inlineRadio2">Test</label>
          </div>
        
        </div>

        <div class="col-md-5">
          <div class="card shadow-sm" >
            <img src="{{ url_for('admin.static', filename='stripe.svg') }}"  
                 class="card-img-top" 
                 alt="..." 
                 style="width:50%; display:block; margin:auto">
            <div class="card-body">
              <h4 class="card-title">How you get paid</h4>
              <p>
                We've automated the process, all you need to do is connect to 
                Stripe and follow the on-screen instructions.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>

<script>
let elmButton = document.querySelector("#submit");
elmButton.addEventListener(
  "click",
  e => {
    let country_code = document.querySelector("#country_code");
    let data = {};
    data['country_code'] = country_code.value;
    data['default_currency'] = country_code[country_code.selectedIndex].dataset.currency;
    elmButton.setAttribute("disabled", "disabled");
    elmButton.textContent = "Opening please wait...";

    fetch('{{ stripe_onboard_path }}', {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data),
    })
      .then(response => response.json())
      .then(data => {
        if (data.url) {
          window.location = data.url;
        } else {
          elmButton.removeAttribute("disabled");
          elmButton.textContent = "Something went wrong";
          console.log("data", data);
        }
      });
  },
  false
);
/* Toggle stripe live mode */
elms = document.querySelectorAll('.stripe-change-live-mode');

for (let elm of elms) {
  elm.addEventListener('click', function(e) {
    console.log(e.target.value);
    fetch('/admin/connect/stripe-set-livemode?next=/admin/connect/stripe-connect', {
      method: 'POST',
      body: e.target.value,
    })
    .then(function(response){
      document.location = response.url;
    });

  });
}
/* */
</script>




{% endblock %}
