:root {
  --primary-color-hs: 200, 5%;
  --primary-color-l: 12%;
  --primary-color-hsl-full: var(--primary-color-hs), var(--primary-color-l);

  --primary-color: hsl(var(--primary-color-hs), var(--primary-color-l));
  --primary-color-lighten-15: hsl(var(--primary-color-hs),calc(var(--primary-color-l) + 15%));
  --primary-color-lighten-50: hsl(var(--primary-color-hs),calc(var(--primary-color-l) + 50%));
  --primary-color-darken: hsl(var(--primary-color-hs),calc(var(--primary-color-l) - 15%));

  --primary: var(--primary-color);
  --secondary: white;
  --grey-100: #F7F9FA;
  --grey-300: #DADEE0;
  --grey-600: #74787A;
  --grey-900: #1C1E1F;
}

/* --------------- typografy --------------- */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-900);
}

p {
  margin-bottom: 0;
}

.body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-900);
}

.heading-1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -5%;

  margin-bottom: 1rem;
}

.title-1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  margin-bottom: 1rem;
}

.body-lg {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  margin-bottom: .5rem;
}

.text {
  color: var(--grey-600);
  margin-bottom: 40px;
}

.text-light {
  color: var(--grey-300);
  margin-bottom: 40px;
}

.price {
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;

  color: var(--grey-900);
}

.quote {
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}


/* --------------- buttons --------------- */

.btn-primary, 
.btn-primary-lg, 
.btn-outlined, 
.btn-outlined-lg,
.btn-link,
.btn-link-lg {
  display: inline-block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  font-size: 16px;
  line-height: 24px;
}

.btn-primary,
.btn-primary-lg {
  color: white;
  background-color: var(--primary);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-width: 0;
  border-style: none;
  border-color: none;
}

.btn-primary{
  padding: 8px 16px;
  font-weight: 400;
}

.btn-primary-lg{
  padding: 12px 16px;
  font-weight: 700;
  letter-spacing: 4%;
}

.btn-primary:hover, 
.btn-primary-lg:hover{
  background-color: var(--primary-color-darken);
  text-decoration: none;
}

.btn-outlined {
  
  padding: 8px 16px;
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  font-weight: 400;
}


.btn-outlined-lg {
  
  padding: 12px 16px;
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
  font-weight: 700;
  letter-spacing: 4%;
}

.btn-outlined:hover {
  border: 1px solid var(--primary-color-darken);
}

.btn-outlined-lg:hover {
  border: 2px solid var(--primary-color-darken);
}

.btn-outlined:hover, 
.btn-outlined-lg:hover {
  color: white;
  background-color: var(--primary-color-darken);
  text-decoration: none;
}

.btn-link {
  font-weight: normal;
  padding: 8px 16px;
  cursor: pointer;
  color: var(--grey-900);
}

.btn-link:hover {
  background-color: var(--grey-100);
  color: var(--grey-900);
  text-decoration: none;
}

.btn-link-lg {
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 4%;
  padding: 12px 16px;
  cursor: pointer;
}

.btn-link-lg:hover {
  background-color: var(--grey-100);
}

/* --------------- main --------------- */


body {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 10rem;
}

.section {
  max-width: 1280px;
  margin: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.col {
  padding: 0;
}

/* --------------- logo --------------- */
#logo {
  height: 50px;
}

@media only screen and (min-width: 600px) {
  #logo {
    height: 80px;
  }
}

/* --------------- nav --------------- */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #000000;
} 

/* --------------- hero section --------------- */

.section-hero .wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  overflow: hidden;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}


/* --------------- plans section --------------- */

.plans-section .wrapper{
  max-width: 1280px;
  width: 100%;
  background-color: var(--primary);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.plans-section-header h4 {
  color: var(--secondary);
}

.plans-row {
  justify-content: center;
}

.plans-section-footer {
  color: var(--secondary);
}

.plans-section .card {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.pricing-plan {
  transition: 0.25s;
}

.pricing-plan.is-active {
  box-shadow: 0 8px 12px 0 rgba(122, 122, 122, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.plan-selling-points i, .fa-check-circle {
  color: var(--primary);
}

.pricing-plan .card-footer {
  background-color: white;
  border: none;
}

.modal-img {
  width: 100%;
}

.card-body, .card-footer {
  padding-left: 32px;
  padding-right: 32px;
}

.card-body {
  padding-top: 32px;
}

.card-footer {
  padding-bottom: 32px;
}

/* Footer */
.footer, .footer a{
  color:  var(--grey-900);
}

/* --------------- media small --------------- */
@media (min-width: 576px){
}

/* --------------- media medium --------------- */
@media (min-width: 769px) {

}
