<p>Hello {{ first_name or ''}},</p>

<p>Welcome to {{ company_name or '' }}.</p>

<p>Plan name: {{ plan.title }}</p>


{% if plan.requirements.instant_payment %}
    <p>Upfront payment: {{ plan.showSellPrice() }}</p>
{% endif %}

{% if plan.requirements.subscription %}
    <p>Interval: {{ plan.interval_unit }}</p>
    <p>Amount: {{ plan.showIntervalAmount()  }}
    {% if first_charge_date %}
      <p>Your first payment will be taken on: {{ first_charge_date }}</p>
    {% endif %}
    <p>Each payment will be on the same day {{ plan.interval_unit }}</p>
{% endif %}


<p>You can login to manage your account at:
    <a href="{{ subscriber_login_url }}?email={{ subscriber_email }}">My account</a>
</p>

<p>Once again welcome to {{ company_name }}.</p>
