.btn-google {
    padding: 0.5rem 1rem;
    width: 100%;
    text-decoration: none;
    display: block;
    border-radius: 0.25rem;
    color: #555;
    text-align: center;
    box-sizing:border-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url(./google-icon.svg);

}

.btn-google:hover {

    background-color: #dfdfdf;
}

.btn-google--lg {
    font-size: 1.5rem;
    background-size: 4rem 4rem;
}

.btn-google--border {
    border: 1px solid #ccc;
}

