.btn-google {
    /*width: 191px;
    height: 46px;*/
    padding: 0.5rem 1rem;
    width: 100%;
    text-decoration: none;
    display: block;
    border-radius: 0.25rem;
    color: #555;
    text-align: center;
    box-sizing:border-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url(./google-icon.svg);

}

.btn-google:hover {

    background-color: #dfdfdf;
}

@media only screen and (min-width: 1024px) {


    .btn-google {
        max-width: 290px;
    }
}
