* {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-width: 360px !important;
}

h1 {
    font-weight: 600;
    font-size: 45px;
}

/**
    Override bootstrap styles
 */

button {
    outline: none;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

.navbar-collapse {
    max-width: 90%;
}

.header {
    padding: 0;
    color: white;
    position: relative;
}

.header-content {
    margin-top: 4rem;
}

.nav-menu {
    padding: 1rem;
}

.navbar-brand {
    font-weight: 600;
}

.navbar-brand, .nav-link {
    color: white;
    font-size: 14px;
}

.get-started-btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6086fc;
    background: white;
    border: none;
    box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -9px rgba(0, 0, 0, 0.75);
}

.header-bg {
    width: 100%;
    padding: 0 0 200px 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background: rgb(74, 150, 254);
    background: -moz-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: -webkit-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a96fe", endColorstr="#8761f6", GradientType=1);
}

.features-container {
    padding: 2rem 4rem;
}

.feature-section-title {
    font-size: 30px;
    font-weight: 700;
    color: #5c74a5;
    margin: 0.4rem 0;
}

.feature-img {
    max-width: 40%;
    margin: 1rem 0;
}

.feature-section-description {
    font-weight: 500;
    color: #5c74a5;
}

.feature-description {
    font-weight: 600;
    font-size: 18px;
    color: #5c74a5;
    margin: 1.2rem 0;
}

.customer-description {
    color: #5c74a5;
}

.payment-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14rem 1rem;
    position: absolute;
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
    background: #5c74a5;
}

.payment-title {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

.payment-desc {
    color: #fff;
    font-weight: 400;
}

.payment-p {
    color: white;
    font-size: 15px;
    min-width: 250px;
}

.footer-section {
    padding: 4rem 0;
    min-height: 350px;
}

.section-title {
    color: #6284fc;
    font-weight: 600;
}

.footer-menu {
    color: #6284fc;
    margin: 1rem 0;
    list-style: none !important;
    padding: 0;
    font-weight: 400;
}

footer h3 {
    color: #6284fc;
    font-weight: 700;
}

.footer-bottom {
    background: rgb(74, 150, 254);
    background: -moz-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: -webkit-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a96fe", endColorstr="#8761f6", GradientType=1);
    color: #fff;
}

footer img {
    max-width: 35px;
    max-height: 35px;
    margin: 0.5rem;
}

.copyrights {
    text-align: center;
    padding: 0.5rem;
    font-weight: 400;
}


.color-primary {
    background: #4b96ff !important;
    color: white !important;
}

.text-color-primary {
    color: #588cfd !important;
}

.menu-link:hover {
    color: red !important;
}

.nav-link.inverted {
    color: #707070;
}

.dashboard-bg {
    background: #ededed;
}

.dashboard-content {
    padding-top: 3rem;
}

.dashboard-content .settings-page-title {
    font-size: 24px;
    font-weight: 400;
}

.table-line {
    background: #fff;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 19px -2px rgba(12, 48, 99, 0.15);
    box-shadow: 0px 0px 19px -2px rgba(12, 48, 99, 0.15);
    margin: 1rem 0 !important;
}

.product-title {
    font-weight: 500;
}

.item-status.active {
    color: #83e396 !important;
    font-weight: 500;
}

.item-status.inactive {
    color: #d80027 !important;
    font-weight: 500;
}

.settings-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit-icon {
    background: #568dfd;
}

.edit-icon:hover {
    background: #6f9fff;
}

.delete-icon {
    background: #d80027;
}

.delete-icon:hover {
    background: #e90932;
}

.toggle-switch, .toggle-switch .toggle-knob {
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.text-white {
    color: white !important;
}

.toggle-switch {
    height: 30px;
    min-width: 55px;
    display: inline-block;
    background-color: #ededed;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px #ededed;
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.toggle-switch .toggle-knob {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #fff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
    border-radius: 26px;
    margin: -1px 1px;
}

.toggle-switch.active {
    background-color: #ededed;
    border: solid 1px transparent;
}

.toggle-switch.active .toggle-knob {
    margin-left: 24px;
    background-color: #77e189;
}

.item-type-mob {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8761f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7951ec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7950f1;
}

@media (max-width: 1024px) {

    .header-bg {
        padding: 0 0 250px 0 !important;
    }

    .navbar-collapse {
        max-width: 100% !important;
        margin: 2rem 0;
    }

    .nav-link {
        font-weight: 500;
        margin: 0.2rem 0;
    }

    .nav-link:focus {
        background: #ffffff24;
        padding: 0.5rem 1rem !important;
        border-radius: 24px;
    }

    .navbar-brand {
        width: 40% !important;
    }

    .navbar-nav {
        width: 100% !important;
    }

    .nav-item {
        width: 100% !important;
    }

    .nav-item, .user-details {
        padding: 0.5rem 2rem !important;
    }

    .table-line {
        padding: 2rem 1rem !important;
    }
}

@media (max-width: 768px) {
    .features-container .col-md-4 {
        transition: all 0.2s ease-in-out;
        border: 1px dashed #5c74a5;
        padding: 1rem;
        border-radius: 12px;
        margin: 1rem 0;
    }

    footer h3 {
        margin-bottom: 2rem;
    }

    .footer-section {
        padding: 2rem 0 !important;
    }

    .product-title {
        text-align: center;
        padding: 1rem 0;
    }

    .title-description {
        text-align: center;
        padding: 1rem 0;
    }

    .item-type-mob {
        display: flex;
    }

    .table-header {
        display: none;
    !important;
    }

    .payment-section{
        padding: 26rem 1rem!important;
    }

}
