body {
    background: rgb(247, 247, 247);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
}

nav.navbar {
    z-index: 1;
}

.jumbotron {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 84%);
    color: #fff;
}


@media (min-width: 1202px) 
{ 
    .jumbotron:before {
      content: '';
      position: absolute;
      top: -26px;
      z-index: 0;
      width: 100%;
      height: 480px;
      background: url(/static/right_top.png) center 120px no-repeat;
    }
}

.plan {
    border: 2px solid #3A99FC;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

.flashy-container {
  width: 100%;
  overflow: hidden;
  margin-top: -26px;
}
.flashy {
    background: linear-gradient(135deg, rgba(0, 0, 255, 0), white, rgba(0, 0, 255,
0));
    height: 1px;
    width: 20%;
    animation: 0.8s ease-in 0s 1 alternate move_eye forwards;
}

    
        
@keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }

.text-muted {
 color: #49525a!important;
}
