version: 1
company:
    name: "My Company Ltd"
theme:                                                                        
    name: jesmond
payment_providers:
    paypal:
        - sepa_direct_supported: No
        - subscription_supported: Yes
        - instant_payment_supported: Yes
        - variable_payments_supported: No
    stripe:
        - sepa_direct_supported: No
        - subscription_supported: Yes
        - instant_payment_supported: Yes
        - variable_payments_supported: No
        - publishable_key: ''
        - secret_key: ''
    gocardless:
        - sepa_direct_supported: No
        - subscription_supported: Yes
        - instant_payment_supported: Yes
        - variable_payments_supported: Yes
        - access_token: ''
        - environment: ''

items:
    - sku: item1
      title: Package 1
      sell_price: 5.99
      monthly_price: 9.99
      subscription: Yes
      subscription_terms:
          - minimum_term_months: 4
      requirements:
        - instant_payment: Yes
        - subscription: Yes
        - customer_address: Yes
        - customer_contact_details_required: Yes
      selling_points:
          - Limited Usage
          - Friendly UK Support
          - Only 1 month commitment!
      primary_icon:
          src: /static/item1.svg
          type: image/svg+xml
      primary_colour: "#8dc047"
      icons:
          -
              - src: item1148.png
                size: 48x48
                type: image/png
              - src: images/item1192.png
                size: 192x192
                type: image/png

    - sku: item2
      title: Package 2
      sell_price: 8.99
      monthly_price: 15.99
      subscription: Yes
      subscription_terms:
          - minimum_term_months: 6
      requirements:
        - instant_payment: Yes
        - subscription: Yes
        - customer_address: Yes
        - customer_contact_details_required: Yes
      selling_points:
          - Unlimited Usage
          - Email support
          - 6 Month Minimum Term
      primary_colour: "#db802d"
      primary_icon:
          src: /static/item2.svg
          type: image/svg+xml
      icons:
          -
              - src: images/item2148.png
                size: 48x48
                type: image/png
              - src: images/item2192.png
                size: 192x192
                type: image/png
    - sku: item3
      title: Package 3
      sell_price: 0.00
      monthly_price: 25.99
      subscription: True
      subscription_terms:
          - minimum_term_months: 12
      requirements:
        - instant_payment: False
        - subscription: True
        - customer_address: True
        - customer_contact_details_required: True
      selling_points:
          - Unlimited Usage
          - Friendly telephone Support
          - "No upfront cost!"
      primary_colour: "#e73b1a"
      primary_icon:
          src: /static/item380.svg
          type: image/svg+xml
      icons:
          -
              - src: images/item3148.png
                size: 48x48
                type: image/png
              - src: images/item3192.png
                size: 192x192
                type: image/png
pages:
    - privacy:
        path: "privacy"
        template_file: "privacy.html"
    - demo:
        path: "demo"
        template_file: "demo.html"
modules_path: ../../../modules
modules:
    - mymodule
