{% extends "admin/layout.html" %}                                                
{% block title %} Dashboard {% endblock %}                                                                                                        
                                                                                 
{% block body %}  

<h2 class="text-center text-dark mb-3">Add new product</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Add new product</li>
  </ul>
</div>

{% from "_formhelpers.html" import render_field %}

<main>
  <div class="section">
    {% if form.errors %}
    <div class="container">
      <div class="alert alert-danger col-md-6 mx-auto">
        <p><strong class="alert-heading">Oops, something is missing. Please take a look at:</strong></p>
        <ul class=errors>                                                            
          {% for error in form.errors %}                                              
            <li>{{ error }}</li>                                                       
          {% endfor %}                                                                 
        </ul> 
      </div>                                                        
    </div>                                                                    
      {% endif %} 

    <div class="container">

      <div class="card mx-auto col-md-6">
        <form method="post" action="#" enctype="multipart/form-data">
          {{ form.csrf_token }}

          <div style="display:none">
            {{ render_field(form.company_name, value=company.name ) }}
            <input name="email" type="hidden" value='email@example.com' />
          </div>

          <div class="form-group">
            <label for="title-0" class="col-form-label font-weight-bolder">Product name</label>
            <input name="title-0" id="title-0" class="form-control">
          </div>

          <fieldset class="form-group">
            <legend class="col-form-label font-weight-bolder">Product selling points</legend>
              <div>
                <input name="selling_points-0-0"  class="form-control mb-2 col-md">
              </div>
              <div>
                <input name="selling_points-0-1"  class="form-control mb-2 col-md">
              </div>
              <div>
                <input name="selling_points-0-3"  class="form-control mb-2 col-md">
              </div>
          </fieldset>

          <div class="form-group">
            <label for="image-0" class="col-form-label font-weight-bolder">Product image</label>
            <input type="file" name="image-0" id="image-0" class="form-control-file">
          </div>
          
          <hr>

          <fieldset>
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="subscription-0" id="subscription-0" checked>
                <label class="form-check-label font-weight-bolder" for="subscription-0">Billed monthly</label>
              </div>
            </div>

            <div class="extra_fields">
              <div class="form-group">
                <label for="monthly_price-0" class="col-form-label font-weight-bolder">Monthly Price</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">£</span>
                  </div>
                  <input name="monthly_price-0" id="monthly_price-0" class="form-control" type="number">
                </div>
              </div>

              <div class="form-group">
                <label for="days_before_first_charge-0" class="col-form-label font-weight-bolder">Days before the first charge</label>
                <input id="days_before_first_charge-0" name="days_before_first_charge-0" type="number" value="0" class="form-control" >
                <small class="form-text text-muted">
                  "Cooling off period" before the first charge happens. Leave 0 to charge the customer as soon as possible
                </small>
              </div>
            </div>
          </fieldset>

          <hr>

          <fieldset>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="instant_payment-0" id="instant_payment-0" >
              <label class="form-check-label font-weight-bolder" for="instant_payment-0">Add upfront charge</label>
            </div>

            <div class="form-group extra_fields" id="upfront_price" >
              <label for="sell_price-0" class="col-form-label font-weight-bolder">Upfront price</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">£</span>
                </div>
                <input type="number" name="sell_price-0" id="sell_price-0" class="form-control">
              </div>
            </div>
          </fieldset>

          <hr>

          <fieldset>
            <div class="form-group ">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="note_to_seller_required-0" id="note_to_seller_required-0">
                <label class="form-check-label font-weight-bolder" for="note_to_seller_required-0">Require customer note</label>
              </div>
              <small class="form-text text-muted">
                Useful for product personalisation, customisation or variations
              </small>
            </div>
            
            <div class="form-group extra_fields" id="message" >
              <label for="note_to_buyer_message-0" class="col-form-label font-weight-bolder">Message for the customer</label>
              <textarea class="form-control" id="note_to_buyer_message-0" name="note_to_buyer_message-0" rows="3"></textarea>
              <small class="form-text text-muted">
                This message will be shown during checkout to the customer
              </small>
            </div>
          </fieldset>
        
          <button type="submit" class="btn btn-primary btn-block col-md-6 my-3 mx-auto">Save</button>
        </form>
      </div>

    </div>
  </div><!-- end .section -->
</main>
{% endblock body %}
