{% extends "admin/layout.html" %}                                                
{% block title %} Dashboard {% endblock %}                                                                 
                                                                                 
{% block body %}

<h2 class="text-center text-dark mb-3">Cancel all GoCardless mandates for {{ email }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Cancel Mandates</li>
  </ul>
</div>  

<main>
  <div class="section">
    <div class="container">
      <div class="card col-md-6 mx-auto my-3 py-3">
        <h3 class="card-title mx-auto">Are you sure?</h3>
        <p>You cannot undo this action once you choose.</p>
        <p>It will cancel any existing GoCardless subscriptions and payments you
          have arranged with this email address.</p>
        <div class="mx-auto">
          <a href="{{ url_for('admin.cancel_mandates', email=email, confirm=1) }}" 
              class="btn btn-danger mx-3 px-5">
              Yes
          </a>
          <a href="{{ url_for('admin.customers', cancel=1)}}" 
              class="btn btn-success mx-3 px-5">
              No
          </a>
        </div>
      </div>
    </div>
  </div> <!--end section-->
</main>
{% endblock body %}
