{% extends "admin/layout.html" %}
{% block title %} Change Email{% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Change Email</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Change Email</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-7">
          <h2>Change Email</h2>
          <p>Enter your new email below</p>
          
          <form action="" method="POST" action="/">
            {{ form.csrf_token }}
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="email">Current email:</label>
              <div class="col-sm-9">
                <input class="form-control" value="{{ g.user.email }}" disabled>
              </div>
              <label class="col-sm-3 col-form-label" for="email">New email:</label>
              <div class="col-sm-9">
                <input class="form-control" type="email" name="email" required>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3">Save</button>
          </form>
        </div>

        <div class="col-md-5">
        </div>
      </div>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>



{% endblock %}
