{% extends "admin/layout.html" %}
{% block title %} {{ _('Connect Tawk Chat') }}{% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">{{ _('Connect Tawk Chat') }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{{ _('Shop') }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">{{ _('Manage My Shop') }}</a></li>   
    <li class="breadcrumb-item active" aria-current="page">{{ _('Connect Tawk Chat') }}</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-7">
          <h2>{{ _('Connect Tawk Chat to your shop') }}</h2>
          <div class="alert
            {% if integration.tawk_property_id %}
            alert-success
            {% else %}
            alert-light
            {% endif %}">
            <p><b>{{ _('Status') }}: </b>
            {% if integration.tawk_property_id %}
              {{ _('Tawk Chat is already connected') }}!
            {% else %}
              {{ _("Tawk Chat isn't yet configured, use the form below") }}.
            {% endif %}
            </p>
          </div>

          <div class="py-3">
            <p>{{ _('To start using Tawk Chat, copy') }} &amp; {{ _('paste your') }} 
              <em>{{ _('Property ID') }}</em> {{ _('into the box below') }}.
            </p>
            <img src="{{ url_for('admin.static', filename='tawk_property_id.png') }}" 
                alt="Tawk property in url example" 
                title="Where to find your Tawk property id">
            <p>{{ _('You can find your Tawk property id by logging into your Tawk account (Tawk is free), then selecting 'Admn' (the cog). Your Tawk property id is in the url at the top') }}. </p> 
          </div>

          <form action="" method="POST" action="/">
            {{ form.csrf_token }}
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="property_id">{{ _('Property ID') }}:</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="property_id"
                      id="property_id" placeholder="defjkkdfjkk">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3">
            {% if integration.tawk_property_id %}
              {{ _('Reconnect') }}
            {% else %}
              {{ _('Connect') }}
            {% endif %} 
              {{ _('Tawk Chat') }}
            </button>
          </form>
        </div>

        <div class="col-md-5">
          <div class="card shadow-sm">
            <img src="{{ url_for('admin.static', filename='tawk_logo.png') }}" 
                 class="card-img-top my-3"    
                 style="width:20%; display:block; margin:auto">
            <div class="card-body">
              <h4 class="card-title">{{ _('Need some help') }}?</h4>
              <p>{{ _('In order to link Tawk, you must already have an account created. If you do not yet have an account') }}, 
                <a href="https://www.tawk.to/" target="_blank">
                {{ _('register for a Tawk account') }}</a>.
              </p>
              <h4 class="card-title">{{ _('Using Tawk is FREE') }}</h4>
              <p>{{ _('Subscribie does not charge you for the Tawk chat integration, but do make sure you learn how to use it to see the benefits') }}.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
