{% extends "admin/layout.html" %}
{% block title %} {{ _('Connect Google Tag Manager') }}{% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">{{ _('Connect Google Tag Manager') }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{{ _('Shop') }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">{{ _('Manage My Shop') }}</a></li>   
    <li class="breadcrumb-item active" aria-current="page">{{ _('Connect Google Tag Manager') }}</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-7">
          <h2>{{ _('Connect Google Tag Manager to your shop') }}</h2>
          <div class="alert
            {% if integration.google_tag_manager_container_id %}
            alert-success
            {% else %}
            alert-light
            {% endif %}">
          <p><strong>{{ _('Status') }}: </strong>
            {% if integration.google_tag_manager_container_id %}
              {{ _('Google Tag Manager is already connected') }}!
            {% else %}
              {{ _("Google Tag Manager isn't yet configured, use the form below") }}.
            {% endif %}
            </p>
          </div>
          <p>{{ _('To start tracking using Google Tag manager, copy') }}&amp; {{ _('paste your') }} 
            <em>{{ _('container id') }}</em> {{ _('into the box below') }}.
          </p>

          <form class="form" action="" method="POST" action="/">
            {{ form.csrf_token }}
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="container_id ">{{ _('Publishable Key') }}:</label>
                <div class="col-sm-9">
                  <input class="input" type="text" name="container_id"
                          id="container_id" placeholder="GTM-ABC123">
                </div>
              </div>
              
            <button type="submit" class="btn btn-primary btn-block mb-3">
            {% if integration.google_tag_manager_container_id %}
              {{ _('Reconnect') }}
            {% else %}
              {{ _('Connect') }}
            {% endif %} 
              {{ _('Google Tag Manager') }}
            </button>
          </form>
        </div>

        <div class="col-md-5">
          <div class="card shadow-sm">
            <img src="/static/google_tag_manager.jpg" class="card-img-top my-3"  style="width:50%; display:block; margin:auto">
            <div class="card-body">
              <h4 class="card-title">{{ _('Need some help') }}?</h4>
              <p>{{ _('In order to link Google Tag Manager, you must already have an account created. If you do not yet have an account') }}, 
                <a href="https://marketingplatform.google.com/about/tag-manager/">
                {{ _('register for Google Tag Manager') }}</a> {{ _('to create one') }}.
              </p>
              <h4 class="card-title">{{ _('Google Tag Manager is FREE') }}</h4>
              <p>{{ _('Subscribie does not charge you for Google Tag Manager integration, but do make sure you learn how to use it to see the benefits') }}.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
