{% extends "admin/layout.html" %}
{% block title %} Connect Stripe Manually {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Manage My Shop</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Connect Stripe</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-7">
          <h2>Connect Stripe to your shop</h2>
          <div class="alert {% if stripe_connected %}alert-success{% else %}alert-light{% endif %}"><p><strong>Status: </strong>{% if stripe_connected %}Stripe is already connected!{% else %}Stripe isn't yet configured, use the form below.{% endif %}</p></div>
          <p>To start taking one-off payments, please connect your Stripe account by copy &amp; pasting your Stripe API keys into the boxes below. You need to enter both your publishable and secret key.</p>
          
          <form action="" method="POST" action="/">
            {{ form.csrf_token }}
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="publishable_key">Publishable Key:</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="publishable_key" id="publishable_key" placeholder="...">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="secret_key">Secret Key:</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="secret_key" id="secret_key" placeholder="...">
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">{% if stripe_connected %}Reconnect{% else %}Connect{% endif %} Stripe</button>
          </form>
        </div>

        <div class="col-md-5">
          <div class="card shadow-sm" >
            <img src="{{ url_for('admin.static', filename='stripe.svg') }}"  
                 class="card-img-top" 
                 alt="..." 
                 style="width:50%; display:block; margin:auto">
            <div class="card-body">
              <h4 class="card-title">Need some help?</h4>
              <p>
                In order to link Stripe, you must already have a Stripe account 
                created. If you do not yet have an account, 
                <a href="https://dashboard.stripe.com/register" target="_blank">
                click here</a> to create one.
              </p>
              <p>   
                Once logged in, on the left 
                menu, click 'Developers' then 'API Keys'. To be able to copy the 
                'Secret Key' click 'Reveal Live Key Token'.
              </p>
              <h4 class="card-title">Stripe Charges</h4>
              <p>Whilst we at Subscribie do not charge per transaction, Stripe does.</p>
              <p> Their rates and more information can be found at: 
                  <a href="https://stripe.com/gb/pricing" target="_blank">
                      https://stripe.com/gb/pricing
                  </a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>



{% endblock %}
