{% extends "admin/layout.html" %}                                                
{% block title %} Connect Tawk Chat{% endblock %}                                
                                                                                 
{% block hero %}                                                                 
                                                                                 
<h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">
    My Customers
</h1>                                                                        
                                                                                 
{% endblock hero %} 
                                                                                 
{% block body %}
<div style="padding: 1rem 1.5rem 0 1.5rem;">                                     
  <div class="container">                                                        
    <nav class="breadcrumb" aria-label="breadcrumbs">                            
      <ul>                                                                       
        <li><a href="/">Shop</a></li>                                            
        <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>   
        <li class="is-active"><a href="#" aria-current="page">
            Manage Customers</a>
        </li>                                                                    
      </ul>                                                                      
    </nav>                                                                       
  </div>                                                                         
</div>

<div class="section">
	<div class="container">
  <a href="{{ url_for('admin.refresh_ssot', resource='customers') }}" 
     class="button is-warning" title="Please be patient">Refresh Customers List</a>
		<table class="table">
		  <thead>
			<tr>
			  <th>Id</th>
			  <th>Email</th>
			  <th>Name</th>
			  <th><abbr title="Address">Addr</abbr></th>
        <th>Actions</th>
        <th>Source</th>
			</tr>
		  </thead>
		  <tbody>
			{% for partner in partners %}
			<tr>
			  <th><abbr title="{{ partner['uid'] }}">
					{{ partner['uid']|truncate(9) }}
				  </abbr>
			  </th>
			  <td>{{ partner['billing_email'] }}</td>
			  <td>{{ partner['given_name'] }} {{ partner['family_name'] }}</td>
			  <td>
				  <address>
					{{ partner['billing_street_number'] or '' }}<br />
					{{ partner['billing_street'] }}<br />
					{{ partner['billing_city'] }}<br />
					{{ partner['billing_postal_code'] }}<br />
					{{ partner['billing_state'] }}<br />
					{{ partner['billing_state_code'] }}<br />
					{{ partner['billing_country'] }}<br />
					{{ partner['billing_country_code'] }}<br />
				  </address>
			  </td>
        <td>
          {% if is_active_gocardless(partner['billing_email']) %}
          <a href="{{ url_for('admin.cancel_mandates', email=partner['billing_email']) }}" 
            class="button is-danger" title="Cancel the mandate with this customer">
            Cancel GoCardless Subscription
          </a>
          {% endif %}
        </td>
        <td>{{ partner['source_gateway'] }}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	</div><!-- end .container -->
</div><!-- end .section -->

{% endblock body %} 


