{% extends "admin/layout.html" %}
{% block title %} Dashboard {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Manage My Shop</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage My Shop</li>
  </ul>
</div>

<div class="container">

  <div class="card px-3 py-3 my-3">
    <h3 class="card-title">Checklist</h3>
      <p class="card-subtitle mb-3 text-muted">
          Make sure everything's in order. If tasks appear below, then
          you'll need to complete them to get the most out of your shop.
      </p>
      <ul>
          {% if stripe_connected is sameas False %}
          <li>
          Stripe connection is not yet complete.
          <a class="btn btn-warning" 
              href="{{ url_for('admin.stripe_connect') }}">
              Review Stripe
          </a>
          </li>
          {% endif %}
      </ul>
  </div>

  <div class="card px-3 py-3 my-3">
    <h3 class="card-title">Stats</h3>
    <p>You have: {{ num_active_subscribers }} <a href="{{ url_for('admin.subscribers') }}">subscribers</a> with <em>active</em> subscriptions.</p>
    <p>You've had: {{ num_subscribers }} <a href="{{ url_for('admin.subscribers') }}">subscribers</a> since starting your shop.</p>
    <p>You've had: {{ num_signups }} <a href="{{ url_for('admin.subscribers') }}">people</a> either buy one-off or start a subscription since starting your shop.</p>
    <p>You've had: {{ num_one_off_purchases }} <a href="{{ url_for('admin.subscribers') }}">people</a> buy a one-off item from your shop.</p>
  </div>


    <div class="accordion col-lg-8 mx-auto mb-3" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
            <button class="btn btn-link btn-block text-left" type="button"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Edit / Add Plans
            </button>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
              <div class="px-3 py-3 my-3">
                  <a class="btn btn-success btn-block" 
                      href="{{ url_for('admin.edit') }}">
                    Edit plans
                  </a>
                  <a class="btn btn-success btn-block" 
                      href="{{ url_for('admin.add_plan') }}">
                    Add plan
                  </a>
                  <a class="btn btn-danger btn-block" 
                      href="{{ url_for('admin.delete_plan') }}">
                    Delete plans
                  </a>
                  <hr />
                  <p>Optionally group plans into categories</p>
                  <a class="btn btn-success btn-block"
                      href="{{ url_for('admin.list_categories') }}">
                    Manage Categories
                  </a>
              </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             My Subscribers 
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
              <div class="px-3 py-3 my-3">
                  <p class="card-subtitle mb-3 text-muted">
                      View your subscribers.
                  </p>
                  <a class="btn btn-success btn-block" 
                      href="{{ url_for('admin.subscribers') }}">
                      View Subscribers
                  </a>
              </div>
              <div class="px-3 py-3 my-3">
                  <p class="card-subtitle mb-3 text-muted">
                      Get a csv export of your subscribers name &amp; email address
                  </p>
                  <a class="btn btn-success btn-block"
                      href="{{ url_for('admin.export_subscribers', csv="") }}">
                      Export Subscribers
                  </a>
              </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Upcoming Payments
            </button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
              <div class="px-3 py-3 my-3">
                  <p class="card-subtitle mb-3 text-muted">
                      View upcoming payments from your subscribers.
                  </p>
                  <a class="btn btn-success btn-block" 
                      href="{{ url_for('admin.upcoming_invoices') }}">
                      View Upcoming Payments 
                  </a>
              </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
             Manage Payment Gateways
            </button>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
          <div class="px-3 py-3 my-3">
            <p class="card-subtitle mb-3 text-muted">Payment gateways allow you to take payment from your customers over the internet, you'll need to link at least <b>one</b> in order to successfully generate income from your store.</p>

            <div class="container">
              <div class="row justify-content-around">

                <div class="card col-lg my-3 mx-1 shadow-sm" >
                  <img src="{{ url_for('admin.static', filename='stripe.svg') }}"  
                        class="card-img-top" 
                        alt="..." 
                        style="width:50%; display:block; margin:auto">
                  <div class="card-body">
                    <h5 class="card-title">Stripe</h5>
                    <p class="card-text">Stripe works well for one-off payments, customers can use their credit or debit card to make purchases securely online.</p>
                    <a href="{{ url_for('admin.stripe_connect') }}" class="btn btn-block btn-success">
                    Connect Stripe
                    </a>
                  </div>
                </div> <!--end card-->

              </div>
            </div> <!--end container for cards-->

            <div class="alert alert-secondary mt-3">
              <div class="media">
                <img src="{{ url_for('admin.static', filename='money.svg') }}" 
                      class="align-self-center mr-3" 
                      alt="..." 
                      style="width: 64px">
                <div class="media-body">
                  <p class="mt-3"><strong>Unlike most subscription website services, Subscribie doesn't take a cut of each purchase!</strong></p>
                  <p>Payment providers however will charge a small fee, to find out the fees, click on the payment provider above and click 'Charges and Fees'.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Choice Groups
            </button>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
          <div class="px-3 py-3 my-3">
            <p>
              Create choice groups. Offer a choice between a selection 
              of products. E.g. Shampoo A or Shampoo B.  
            </p>
              <a class="btn btn-success btn-block" 
                  href="{{ url_for('admin.list_choice_groups') }}">
                Add / Edit / Delete Choice Groups
              </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              All Transactions / Manage Refunds 
            </button>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix">

          <div class="px-3 py-3 my-3">
              <p class="card-subtitle mb-3 text-muted">
                  View all transactions / Manage Refunds
              </p>
              <a class="btn btn-success btn-block" 
                  href="{{ url_for('admin.transactions') }}">
                  View Transactions / Manage Refunds 
              </a>
              <br />
              <p class="card-subtitle mb-3 text-muted">
                  View all Invoices (excluding upcoming).
              </p>
              <a class="btn btn-success btn-block" 
                  href="{{ url_for('admin.invoices') }}">
                  View Invoices
              </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Order Notes
            </button>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
          <div class="px-3 py-3 my-3">
              <p class="card-subtitle mb-3 text-muted">
                  View (optional) notes customers may give you when starting their 
                  subscription.
              </p>
              <a class="btn btn-success btn-block" 
                  href="{{ url_for('admin.order_notes') }}">
                  View Notes
              </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Upload logo
            </button>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight">
            <div class="px-3 py-3 my-3" >
                <p class="card-subtitle mb-3 text-muted">Upload your logo (optional) which is displayed in your shop header<p>
                <a href="{{ url_for('admin.upload_logo') }}"
               class="btn btn-block btn-success">Upload Logo
                </a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNine">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Integrations (Online Chat, Analytics &amp; inject custom code)
            </button>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine">
          <!-- Social Integrations -->
          <div class="px-3 py-3 my-3">

            <div class="card col-lg shadow-sm" >
              <img src="{{ url_for('admin.static', filename='tawk_logo.png') }}"  
                    class="card-img-top" 
                    alt="Tawk logo" 
                    style="width:auto; display:block; margin:1rem auto 0 auto">
              <div class="card-body">
                <h5 class="card-title">Tawk Online Chat</h5>
                <p class="card-text">Chat with your potential customers live on your website</p>
                <a href="{{ url_for('admin.connect_tawk_manually') }}"
                    class="btn btn-block
                    {% if integration.tawk_property_id %}
                      btn-success
                    {% else %}
                      btn-info
                    {% endif %}">
                    {% if integration.tawk_property_id %}
                        Active! Click to reconnect Tawk
                    {% else %}
                      Connect to Tawk
                    {% endif %}
                </a>
              </div>
            </div> <!--end card-->
          </div>
          <!-- End Tawk Integrations -->
          <!-- Inject Code -->
          <div class="px-3 py-3 my-3">

            <div class="card col-lg shadow-sm" >
              <div class="card-body">
                <h5 class="card-title">Inject Code</h5>
                <p class="card-text">Inject custom code into your shop. E.g. javascript</p>
                <a href="{{ url_for('admin.add_custom_code') }}"
                    class="btn btn-block btn-info">
                      Add custom code
                </a>
              </div>
            </div> <!--end card-->
          </div>
          <!-- End add custom code -->

          <!-- Analytics Integrations -->
          <div class="px-3 py-3 my-3">
            <div class="card col-lg shadow-sm" >
              <img src="{{ url_for('admin.static', filename='google_tag_manager.jpg') }}"  
                    class="card-img-top" 
                    alt="Google Tag Manager logo"  
                    style="width:25%; display:block; margin:1rem auto 0 auto">
              <div class="card-body">
                <h5 class="card-title">Google Tag Manager</h5>
                <p class="card-text">Track customer behaviour like the pros.
                  <a href="https://marketingplatform.google.com/about/tag-manager/"
                      target="_blank">
                  Learn about using Tag Manager</a>
                </p>
                <a href="{{ url_for('admin.connect_google_tag_manager_manually') }}"
                    class="btn btn-block
                    {% if integration.google_tag_manager_container_id %}
                      btn-success
                    {% else %}
                      btn-info
                    {% endif %}">
                    {% if google_tag_manager_connected %}
                        Active! Click to reconnect Tag Manager
                    {% else %}
                      Connect to Google Tag Manager
                    {% endif %}
                </a>
              </div>
            </div> <!--end card-->
          </div>
          <!-- End analytics Integrations -->
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTen">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Modules
            </button>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen">
          <!-- Loaded modules and links to their index pages -->
          <div class="px-3 py-3 my-3">

            <p class="card-subtitle mb-3 text-muted">
              List of enabled modules. For example, the iFrame embed module allows you to
              embed your Subscription website into another website if you have an existing
              website you want to keep using, but use Subscribie for your subscriptions.
            </p>
            
            {% for moduleName in loadedModules %}
              {% if loadedModules[moduleName]['links']|length != 0 %}
                <div class="card col-lg my-3 shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">{{ loadedModules[moduleName]['friendly-name'] }}</h5>
                    {% for link in loadedModules[moduleName]['links'] %}
                      <a class="btn btn-block btn-success" href="{{ url_for(link) }}">Manage</a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endfor  %}
              <!-- Pages module -->
              <div class="card col-lg my-3 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">Pages</h5>
                  <p class="card-subtitle mb-3 text-muted">Create pages on your shop.</p>
                  <a class="btn btn-block btn-success" 
                    href="{{ url_for('pages.get_module_pages_index') }}"> 
                  List pages
                  </a>
                  <br />
                  <p class="card-subtitle mb-3 text-muted">Mark pages as private, visible only to your subscribers.</p>
                  <a class="btn btn-block btn-success" 
                    href="{{ url_for('pages.update_private_pages') }}"> 
                  Set private pages
                  </a>
                </div>
              </div>
              <!-- end pages module -->
              <!-- Style module -->
              <div class="card col-lg my-3 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">Style Shop</h5>
                  <p class="card-subtitle mb-3 text-muted">Edit colours &amp; style</p>
                  <a class="btn btn-block btn-success"
                    href="{{ url_for('style.style_shop') }}">
                  Style
                  </a>
                </div>
              </div>
              <!-- end Style module -->
              <!-- iFrame module -->
              <div class="card col-lg my-3 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">iFrame Embed</h5>
                  <p class="card-subtitle mb-3 text-muted">Embed Subscribie in another website</p>
                  <a class="btn btn-block btn-success"
                    href="{{ url_for('iframe.get_iframe_embed') }}">
                  Get embed code
                  </a>
                </div>
              </div>
              <!-- end iFrame module -->
              <!-- SEO Titles module -->
              <div class="card col-lg my-3 shadow-sm">
                 <div class="card-body">
                    <h5 class="card-title">SEO Titles</h5>
                    <p class="card-subtitle mb-3 text-muted">Set optimised title tags for your pages.</p>
                    <a class="btn btn-block btn-success" 
                      href="{{ url_for('seo.list_pages') }}">
                    Manage pages
                    </a>
                 </div>
              </div>
              <!-- end SEO Titles module -->
          </div>
          <!-- End Loaded modules and links to their index pages -->
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEleven">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              Users & Passwords
            </button>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven">
          <div class="px-3 py-3 my-3">
              <a class="btn btn-success btn-block" 
                  href="{{ url_for('admin.add_shop_admin') }}">
                Add Shop Admin
              </a>
              <a class="btn btn-warning btn-block" 
                  href="{{ url_for('admin.change_password') }}">
                Change my password
              </a>
              <a class="btn btn-warning btn-block"
                  href="{{ url_for('admin.change_email') }}">
                Change my email address
              </a>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwelve">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              Email settings
            </button>
        </div>
        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve">
          <div class="px-3 py-3 my-3">

            <h3 class="card-title">Reply-to email address</h3>
              <p class="card-subtitle mb-3 text-muted">
              Emails are sent from a 'noreply' email address. If you like,
              you can set a reply-to email address so that your subscribers may reply
              to emails, such as their welcome email.
              </p>
              <a class="btn btn-success btn-block"
                  href="{{ url_for('admin.set_reply_to_email') }}">
                  Set reply-to email address
              </a>
            <h3 class="card-title">Templates</h3>
              <p class="card-subtitle mb-3 text-muted">Email subscriber gets when they sign-up
              to a plan.</p>
              <a class="btn btn-success btn-block" 
                  href="{{ url_for('admin.edit_welcome_email') }}">
                Customer Signup Confirmation
              </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFileManagement">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFileManagement" aria-expanded="false" aria-controls="collapseFileManagement">
              Upload Files
            </button>
        </div>
        <div id="collapseFileManagement" class="collapse" aria-labelledby="headingFileManagement">
            <div class="px-3 py-3 my-3" >
                <p class="card-subtitle mb-3 text-muted">Upload files for your subscribers to have access to<p>
                <a href="{{ url_for('admin.upload_files') }}"
               class="btn btn-block btn-success">Upload Files
                </a>
                <a href="{{ url_for('admin.list_files') }}"
               class="btn btn-success btn-block">List Files
                </a>
            </div>
        </div>

      </div><!-- end Upload Files -->
      <div class="card">
        <div class="card-header" id="headingShopSettings">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseShopSettings" aria-expanded="false" aria-controls="collapseShopSettings">
              {% if PATH_TO_SITES and PATH_TO_RENAME_SCRIPT and SUBSCRIBIE_DOMAIN and SERVER_NAME %}
            Shop Settings (TAX, VAT &amp; Rename shop)
              {% else %}
            Shop Settings (TAX &amp; VAT)
              {% endif %}
             
            </button>
        </div>
        <div id="collapseShopSettings" class="collapse" aria-labelledby="headingShopSettings">
          <div class="px-3 py-3 my-3">
              {% if PATH_TO_SITES and PATH_TO_RENAME_SCRIPT and SUBSCRIBIE_DOMAIN and SERVER_NAME %}             
              <a class="btn btn-success btn-block" 
                  href="{{ url_for('admin.rename_shop') }}">
              Rename shop web address
              </a>
              {% endif %}
              <a class="btn btn-success btn-block"
                  href="{{ url_for('admin.vat_settings') }}">
              VAT Settings
              </a>
          </div>

        </div>
      </div>

</div>


{% endblock %}
