{% extends "admin/layout.html" %}                                                
{% block title %} Dashboard {% endblock %}                                       
                                                                                 
{% block hero %}
    <h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">
        Delete Items
    </h1>
                                                                                 
{% endblock hero %}                                                                   
                                                                                 
{% block body %}

                                                                                 
<div style="padding: 1rem 1.5rem 0 1.5rem;">                                     
  <div class="container">                                                        
    <nav class="breadcrumb" aria-label="breadcrumbs">                            
      <ul>                                                                       
        <p>You're here: </p>                                                     
        <li><a href="/">Shop</a></li>                                            
        <li><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
        <li class="is-active"><a href="#" aria-current="page">                   
            Delete items</a>                                                
        </li>                                                                    
      </ul>                                                                      
    </nav>                                                                       
  </div>                                                                         
</div>

<div class="section">

    {% if confirm is sameas false %}
        <h1 class="title">Are you sure?</h1>
        <a href="{{ url_for('admin.delete_item_by_uuid', uuid=item.uuid) }}" 
            class="button is-danger">
            Yes
        </a>
        <br /><br />
        <a href="{{ url_for('admin.delete_item', cancel=1)}}" 
            class="button is-success">
            No
        </a>
    {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Delete</th>
            </thead>
        {% for item in items %}
            <tr>
                <td>{{ item.title }}</td>
                <td>
                    <a href="{{ url_for('admin.delete_item_by_uuid', uuid=item.uuid,
    confirm=1) }}" 
                        class="button is-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div><!-- end .section -->

{% endblock body %}
