{% extends "admin/layout.html" %}
{% block title %} Reset Password {% endblock %}

{% block body %}

<h2 class="text-center text-dark">Reset your password</h2>

    <div class="card" style="max-width:800px; margin:3rem auto;">
      <div class="card-body">
        <p>We will send you an email to reset your password.</p>
        <form method="POST" action="{{ url_for('auth.forgot_password') }}">
          {{ form.csrf_token }}
          <input id="email" class="form-control form-control-lg mt-4" name="email" type="email" placeholder="Email Address" required>
          <button type="submit" class="btn btn-success btn-lg btn-block my-3">
          <span>Submit</span>
          </button>
        </form>
      </div>
    </div>

{% endblock body %}
