<!doctype html>
<html lang=en>
<head>
<title>{% block title %}{% endblock %} | {{ company['name'] }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="{{ url_for('admin.static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('admin.static', filename='custom_style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Lato:900,400" rel="stylesheet">

{% if integration.google_tag_manager_container_id                                
   and integration.google_tag_manager_active                                     
%}                                                                               
    <!-- Google Tag Manager -->                                                  
    <script>                                                                     
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':                   
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],    
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=        
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',                                     
    '{{ integration.google_tag_manager_container_id }}');                        
    </script>                                                                    
    <!-- End Google Tag Manager -->                                              
{% endif %}

{% if integration.tawk_property_id                                               
   and integration.tawk_active                                                   
%}                                                                               
    <!-- Tawk Chat -->                                                           
    <script type="text/javascript">                                              
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();                    
        (function(){                                                             
        var                                                                      
        s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;                                                           
        s1.src='https://embed.tawk.to/{{ integration.tawk_property_id }}/default';
        s1.charset='UTF-8';                                                      
        s1.setAttribute('crossorigin','*');                                      
        s0.parentNode.insertBefore(s1,s0);                                       
        })();                                                                    
        </script>                                                                
    <!-- End Tawk Chat -->                                                       
{% endif %}

<meta name="theme-color" content="#1e88e5">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet"></head>
<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"/>

<body>

  <nav class="jumbotron jumbotron-fluid text-light kcBlue">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item text-light h2" href="/">
          {% if company['logo'] %}
            <img src="/static/{{ company['logo'] }}" alt="{{ company['name'] }}">
          {% else %}
            {{ company['name'] }}
          {% endif %}
        </a>
      </div>
    </div>
  </nav>

  <div class="site-content">
    <!-- {% block top %}
    {% endblock top %}
    <section class="hero kcBlue">
      <div class="hero-body">
        <div class="container" style="z-index:9999">
            {% block hero %}{% endblock %}
        </div>
      </div>
    </section> -->
    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="card alert-success my-3 mx-3 px-3 py-2" role="alert">
            <h4 class="alert-heading">Success</h4>
            <hr>
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    </main>

  </div>

  <footer class="container-fluid bg-light text-center py-5" >
    <p> By <a href="/">{{ company['name'] }}</a>. </p>
    <p> Made possible with <a href="https://subscriptionwebsitebuilder.co.uk" title="Karma Subscription Website Builder">Subscription Website Builder</a> in Newcastle upon Tyne.</p>
    <a href="{{ url_for('auth.login') }}">Login</a>
    <br />
    <a href="#" class="btn btn-outline-secondary mt-3">Scroll back to top</a>
  </footer>

  


</body>

<script type="application/javascript">
    jQuery(document).ready(function ($) {
      $('.modal-button').click(function() {
        console.log("Modal Opened");
        var target = $(this).data('target');
        $('html').addClass('is-clipped');
        $('#' + target).addClass('is-active');
      });
      $('.modal-background, .modal-close').click(function() {
        $('html').removeClass('is-clipped');
        $('.modal').removeClass('is-active');
      });
      $('.modal-card-head .delete').click(function() {
        $('html').removeClass('is-clipped');
        $('.modal').removeClass('is-active');
      });
      $('.modal-card-body #close').click(function() {
        $('html').removeClass('is-clipped');
        $('.modal').removeClass('is-active');
      });
      $(document).on('keyup',function(e) {
        if (e.keyCode == 27) {
          $('html').removeClass('is-clipped');
          $('.modal').removeClass('is-active');
        }
      });
    });
  </script>
</html>
