{% extends "admin/layout.html" %}
{% block title %} Login {% endblock %}

{% block body %}

<h2 class="text-center text-dark">Manage My Shop</h2>

    <div class="card" style="max-width:800px; margin:3rem auto;">
      <div class="card-body">
        <h3 class="card-title text-center my-3">Sign into your Subscribie account</h3>
        <p>Enter your email and password to login.</p>
        <form method="POST" action="{{ url_for('auth.login') }}">
          {{ form.csrf_token }}
          <input id="email" class="form-control form-control-lg mt-4" name="email" type="email" placeholder="Email Address" value="">
          <input id="password" class="form-control form-control-lg mt-4" name="password" type="password" placeholder="Password" value="">
          <button type="submit" class="btn btn-success btn-lg btn-block my-3">
            <span style="margin-right:1rem" class="icon"><i class="fas fa-magic"></i></span><span>Login</span>
          </button>
          <a href="{{ url_for('auth.forgot_password')}}">Forgot your password?</a>
        </form>
      </div>
    </div>

    <div class="card" style="max-width:800px; margin:3rem auto;">

      <div class="card-body">
        <h3 class="card-title text-center my-3">Magic Login - No password!</h3>
        <p>Pop your email address that you signed up with in the box below and we'll send you an email, click the link in that email and you'll be securely logged in.</p>
        <form method="POST" action="{{ url_for('auth.login') }}">
          {{ form.csrf_token }}
          <input id="email" class="form-control form-control-lg mt-4" name="email" type="email" placeholder="Email Address" value="">
          <button type="submit" class="btn btn-success btn-lg btn-block my-3">
            <span style="margin-right:1rem" class="icon"><i class="fas fa-magic"></i></span><span>Magic Login</span>
          </button>
        </form>
      </div>

    </div>

{% endblock body %}
