{% extends "admin/layout.html" %}
{% block title %} Recent Subscription Cancellations{% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Recent Subscription Cancellations</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>
    <li class="breadcrumb-item active" aria-current="page">Recent Subscription Cancellations</li>
  </ul>
</div>
<main>
  <div class="section">
    <div class="container">

      <p>
        Below is the list of recent subscription cancellations (if any) within the last 30 days.
      </p>
      <p>
        Be sure to click the subscriber name to investigate further, since they may have since signed-up to a new, or different plan.
      </p>
      <h3>Total Collected &amp; Monies Owed</h3>
      <p><em>"Total Collected"</em> is the total collected from that Subscriber <em>all time</em> accross <em>all</em> their subscriptions.</p>
      <p><em>"Monies owed"</em> is the amount not collected, for instance due to insufficient funds accross <em>all</em> the Subscriber's account.
      <br />To investigate further, click a Subscribers name.</p>

      <p>Please note: 'Monies owed' is a guide: Subscribie isn't aware of payments if they are made outside of this system (such as cash).</p>


      <h3>Reason Code</h3>
      <ul style="list-style: disc">
        <li><em>payment_failed</em> - means all retry attempts have failed and the subscription is cancelled</li>
        <li><em>payment_disputed</em> - means the subscriber disputed the charge(s) at their bank or card issuer</li>
        <li><em>cancellation_requested</em> - means a cancellation was requested which caused the subscription to be cancelled. If plans have a "Cancel at" date set, they will natually cancel at the "Cancel at" date set on the plan</li>
      </ul>

      <p class="alert alert-warning" role="alert">Please note this list only goes back 30 days</p>

      <table class="table mobile-optimised">
        <thead>
          <tr>
            <th>Subscriber</th>
            <th>Subscription</th>
            <th>Cancellation Date</th>
            <th>Reason</th>
            <th>Total Collected</th>
            <th>Monies Owed</th>
          </tr>
        </thead>
        <tbody>
        {% for cancellation in cancellations %}
          <tr>
            <td data-th="Name">
              <a href="{{ url_for('admin.show_subscriber', subscriber_id=cancellation['person'].id) }}">{{ cancellation['person'].given_name }} {{ cancellation['person'].family_name }}</a>
              <br />
            </td>
            <td data-th="Plan">
              {{ cancellation['subscription'].plan.title }}
            </td>
            <td>
              {{ cancellation['cancellation_date'] | timestampToDate }}
            </td>
            <td>
              {{ cancellation['cancellation_reason'] }}
            </td>
            <td>
              {{ currencyFormat(get_geo_currency_code(), cancellation['person'].balance(skipFetchDeclineCode=True)['total_collected']) }}
            </td>
            <td>
              {{ currencyFormat(get_geo_currency_code(), cancellation['person'].balance(skipFetchDeclineCode=True)['customer_balance']) }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- end .container -->
  </div><!-- end .section -->
</main>

{% endblock body %}
