{% extends "admin/layout.html" %}
{% block title %} Login {% endblock %}

{% block body %}

<h2 class="text-center text-dark">Set a new password</h2>

    <div class="card" style="max-width:800px; margin:3rem auto;">
      <div class="card-body">
        <form method="POST" action="{{ url_for('auth.password_reset') }}">
          {{ form.csrf_token }}
          <p>Please choose a new password:</p>
          <input type="hidden" value="{{ token }}" name="token">
          <input id="password" class="form-control form-control-lg mt-4" name="password" type="password" placeholder="secret" required>
          <button type="submit" class="btn btn-success btn-lg btn-block my-3">
          <span>Submit</span>
          </button>
        </form>
      </div>
    </div>

{% endblock body %}
