{% extends "admin/layout.html" %}                                                
{% block title %} Resume subscription {% endblock %}                                                                
                                                                                 
{% block body %}

<h1 class="text-center text-dark mb-3">Confirmation</h1>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
  </ul>
</div>                                                                              

<main>
    <div class="section">
        <div class="container">
            <div class="card col-md-6 mx-auto my-3 py-3">
                <h3 class="card-title mx-auto">Are you sure?</h3>
                <p>The Subscription will be resumed. 
                </p>
                <div class="mx-auto">
                    <a href="{{ url_for('admin.resume_stripe_subscription', subscription_id=subscription_id, confirm=1) }}" 
                        class="btn btn-danger mx-3 px-5" role="button">
                       <span class="resume-yes">Yes</span>
                    </a>
                    <a href="{{ url_for('admin.subscribers', resume=1)}}" 
                        class="btn btn-success mx-3 px-5" role="button">
                    <span class="resume-no">No</span>
                    </a>
                </div>
            </div>
    </div>
    </div><!-- end .section -->
</main>
{% endblock body %}
