{% extends "admin/layout.html" %}                                                
{% block title %} Subscribers {% endblock %}                                
                                                                                 
{% block hero %}                                                                 
                                                                                 
<h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">
    My Subscribers
</h1>                                                                        
                                                                                 
{% endblock hero %} 
                                                                                 
{% block body %}
<style>
td b {
    line-height: 36px;
}
</style>

<div style="padding: 1rem 1.5rem 0 1.5rem;">                                     
  <div class="container">                                                        
    <nav class="breadcrumb" aria-label="breadcrumbs">                            
      <ul>                                                                       
        <li><a href="/">Shop</a></li>                                            
        <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>   
        <li class="is-active"><a href="#" aria-current="page">
            Subscribers</a>
        </li>                                                                    
      </ul>                                                                      
    </nav>                                                                       
  </div>                                                                         
</div>

<div class="section">
	<div class="container">
		<table class="table">
		  <thead>
			<tr>
			  <th>Subscribers</th>
			</tr>
		  </thead>
		  <tbody>
			{% for person in people %}
			<tr>
        <td>
          <b>Name:</b> {{ person.given_name }} {{ person.family_name }}<br />
          <b>Creation date:</b> 
            {% if person.created_at %} 
              {{ person.created_at.strftime('%Y-%m-%d') }}
            {% endif %}
          <br />
          <b>Email:</b> {{ person.email }}<br />
          <b>Phone:</b> {{ person.phone }}<br />
          <b>Address:</b><br />
            <address>
              {{ person.address_line1 }}<br />
              {{ person.city }} <br />
              {{ person.postal_code }} <br />
            </address>
          <b>Subscriptions:</b>  <br />
          {% if person.subscriptions %}
            <ol>
            {% for subscription in person.subscriptions %}
              <li>
                <div style="border: 2px solid grey;padding: 20px">
                <b>Title:</b> {{ jamla_get(sku_uuid=subscription.sku_uuid)['title'] }} <br />
                <b>ID:</b> {{ subscription.uuid }} <br />
                <b>Date started: </b> {{ subscription.created_at.strftime('%Y-%m-%d') }} <br />
                <b>GoCardless Subscription id:</b> 
                {% if subscription.gocardless_subscription_id %}
                <a href="https://manage.gocardless.com/subscriptions/{{ subscription.gocardless_subscription_id }}"
                  target="_blank" title="View subscription in GoCardless dashboard">
                  {{ subscription.gocardless_subscription_id }}</a>
                {% else %}
                  None
                {% endif %}
                <br />
                <b>Price monthly:</b> {{ jamla_get(sku_uuid=subscription.sku_uuid)['monthly_price']|default(0)|currencyFormat }} <br />
                <b>Sell price:</b> {{ jamla_get(sku_uuid=subscription.sku_uuid)['sell_price']|default(0)|currencyFormat }} <br />
                <b>Actions:</b> 
                    {% if subscription.gocardless_subscription_id %}
                      <a href="{{ url_for("admin.pause_gocardless_subscription",
                        subscription_id=subscription.gocardless_subscription_id) }}">
                       Pause
                      </a>
                    {% endif %}
                </div>
              </li><br />
            {% endfor %}
            {% else %}
              None
            {% endif %}
            </ol>
        </td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	</div><!-- end .container -->
</div><!-- end .section -->

{% endblock body %} 


