{% extends "admin/layout.html" %}                                                
{% block title %} Subscribers {% endblock %}                                
                                                                                 
{% block body %}

<h2 class="text-center text-dark mb-3">My Subscribers</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Subscribers</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">
      <div class="mb-4">
        {% if show_active %}
          <a href="{{url_for('admin.subscribers')}}" id="show-active-subscribers" class="btn btn-primary active">Show all</a>
        {% else %}
          <a href="{{url_for('admin.subscribers', action='show_active')}}" id="show-active-subscribers" class="btn btn-primary ">Show Active</a>
      {%endif %}
      <a href="{{url_for('admin.archived_subscribers')}}" class="btn btn-primary">Show Archived</a>
      <button id="refresh_subscriptions" title="Get latest subscription statuses (active/paused/inactive)" class="btn btn-primary disable-on-click">Refresh Subscriptions</button>
       </div>
      <table class="table mobile-optimised">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Contacts</th>
            <th>Address</th>
            <th>Plan</th>
          </tr>
        </thead>
        <tbody>
        {% for person in people %}
          <tr>
            <td data-th="Name">
              <a href="{{ url_for('admin.show_subscriber', subscriber_id=person.id) }}">{{ person.given_name }} {{ person.family_name }}</a>
              <br />
            </td>
            <td data-th="Date">{% if person.created_at %} 
              {{ person.created_at.strftime('%Y-%m-%d') }}
            {% endif %}</td>
            <td data-th="Contact"><strong>Email: </strong>
                <a href="mailto:{{ person.email }}" class="subscriber-email">{{ person.email }}</a><br>
                <strong>Phone: </strong><a href="tel:{{ person.mobile }}">
                {% if person.mobile and person.mobile != "NULL" %}
                    {{ person.mobile }}</a><br>
                {% endif %}
            </td>
            <td data-th="Address"><address>
              {{ person.address_line1 }}<br />
              {{ person.city }} <br />
              {{ person.postal_code }} <br />
            </address></td>
            <td data-th="Plan">
              {% if person.subscriptions %}
              <ul class="list-unstyled">
                {% for subscription in person.subscriptions %}
                    <li>
                        <div class="card">
                            <ul class="list-unstyled px-2">
                                <li><strong>Title: </strong>
                                    <span class="subscription-title">{{ subscription.plan.title }}</span>
                                </li>
                                {% if subscription.chosen_options %}
                                    <li>
                                        <details open>
                                            <summary><strong>Chosen Options</strong></summary>
                                            <ul>
                                                {% for choice in subscription.chosen_options %}
                                                    <li><strong>{{ choice.choice_group_title }}:</strong> {{ choice.option_title }}</li>
                                                {% endfor %}
                                            </ul>
                                        </details>
                                    </li>
                                {% endif %}
                                <li><strong>Subscription ID: </strong>{{ subscription.uuid }}</li>
                                <li><strong>Date started: </strong>{{ subscription.created_at.strftime('%Y-%m-%d') }}</li>
                                <li>
                                    {% if subscription.plan.requirements and subscription.plan.requirements.subscription %}
                                        <strong>Price ({{ subscription.plan.interval_unit }}): </strong>
                                        <span class="subscribers-plan-interval_amount">{{ subscription.plan.interval_amount |default(0)|currencyFormat }}</span>
                                    {% else %}
                                        (One-off. Not a subscription)
                                    {% endif %}
                                </li>
                                <li><strong>Sell price: </strong>
                                    <span class="subscribers-plan-sell-price">
                                        {% if subscription.plan.requirements and subscription.plan.requirements.instant_payment %}
                                            {{ subscription.plan.sell_price|default(0)|currencyFormat }}</li>
                            {% else %}
                                (No up-front fee)
                            {% endif %}
                                    </span>
                                    <li><strong>Status: </strong>
                                        {% if subscription.plan.requirements and subscription.plan.requirements.subscription %}
                                            {{ subscription.stripe_status }}
                                        {% else %}
                                            Paid
                                        {% endif %}
                                    </li>
                                    {% if subscription.stripe_cancel_at %}
                                      <strong>Automatically Cancels at:</strong>
                                      {{ subscription.stripe_cancel_at | timestampToDate }}
                                    {% endif %}
                                    <li>
                                    </li>
                                    <li>
                                        {% if subscription.plan.requirements and subscription.plan.requirements.note_to_seller_required %}
                                            <details open>
                                                <summary><strong>Order Note</strong></summary>
                                                {% if subscription.note %}
                                                    {{ subscription.note.note }}
                                                {% else %}
                                                    No note was given.
                                                {% endif %}
                                            </details>
                                        {% endif %}
                                    </li>
                                    <li><strong>Actions: </strong>
                                        {% if subscription.plan.requirements and subscription.plan.requirements.subscription %}
                                            {% if subscription.stripe_status|lower in ['active', 'trialing'] %}
                                                <a href="{{ url_for("admin.pause_stripe_subscription",
                                                subscription_id=subscription.stripe_subscription_id,
                                                goback=1) }}">
                                                    Pause
                                                </a> | 
                                                <a href="{{ url_for("admin.cancel_stripe_subscription",
                                                subscription_id=subscription.stripe_subscription_id,
                                                confirm="") }}">
                                                    Cancel
                                                </a> |
                                            {% endif %}
                                            {% if subscription.stripe_status|lower == 'paused' %}
                                                <a href="{{ url_for("admin.resume_stripe_subscription",
                                                subscription_id=subscription.stripe_subscription_id,
                                                goback=1) }}">
                                                    Resume
                                                </a>
                                            {% endif %}
                                        {% endif %}</li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
              </ul>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- end .container -->
  </div><!-- end .section -->
</main>

<script>
{# give UI feedback whilst waiting for active subscribers to load #}
document.getElementById('show-active-subscribers').addEventListener('click', function(e) {
  e.target.textContent = "Please wait...";
});

{# Refresh subscription statuses when button clicked #}
btnRefreshSubscriptions = document.getElementById('refresh_subscriptions');

btnRefreshSubscriptions.addEventListener('click', refreshSubscriptionStatuses);

function refreshSubscriptionStatuses() {
  fetch("{{ url_for('admin.refresh_subscriptions') }}")
  .then(response => { document.location = "{{ url_for('admin.refresh_subscriptions') }}" });
}
{# End Refresh subscription statuses when button clicked #}

</script>

{% endblock body %} 
