{% extends "admin/layout.html" %}                                                
{% block title %} Subscribers {% endblock %}                                
                                                                                 
{% block body %}

<h2 class="text-center text-dark mb-3">My Subscribers</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Subscribers</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">
      <table class="table table-hover table-scroll">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Contacts</th>
            <th>Address</th>
            <th>Subscription</th>
          </tr>
        </thead>
        <tbody>
        {% for person in people.items %} {# Note: .items comes from sqlalchemy pagination  #}
          <tr>
            <td>{% if person.created_at %} 
              {{ person.created_at.strftime('%Y-%m-%d') }}
            {% endif %}</td>
            <td><a href="{{ url_for('admin.show_subscriber', subscriber_id=person.id) }}">{{ person.given_name }} {{ person.family_name }}</a></td>
            <td><strong>Email: </strong><a href="mailto:{{ person.email }}">{{ person.email }}</a><br>
                <strong>Phone: </strong><a href="tel:{{ person.phone }}">{{ person.phone }}</a><br></td>
            <td><address>
              {{ person.address_line1 }}<br />
              {{ person.city }} <br />
              {{ person.postal_code }} <br />
            </address></td>
            <td>
              {% if person.subscriptions %}
              <ul class="list-unstyled">
                {% for subscription in person.subscriptions %}
                <li><div class="card">
                  <ul class="list-unstyled px-2">
                    <li><strong>Title: </strong>{{ subscription.plan.title }}</li>
                    {% if subscription.chosen_options %}
                    <li>
                        <details open>
                          <summary><strong>Chosen Options</strong></summary>
                          <ul>
                          {% for choice in subscription.chosen_options %}
                             <li><strong>{{ choice.choice_group_title }}:</strong> {{ choice.option_title }}</li>
                          {% endfor %}
                          </ul>
                        </details>
                    </li>
                    {% endif %}
                    <li><strong>ID: </strong>{{ subscription.uuid }}</li>
                    <li><strong>Date started: </strong>{{ subscription.created_at.strftime('%Y-%m-%d') }}</li>
                    <li><strong>GoCardless Subscription id: </strong>
                      {% if subscription.gocardless_subscription_id %}
                      <a href="https://manage.gocardless.com/subscriptions/{{ subscription.gocardless_subscription_id }}"
                        target="_blank" title="View subscription in GoCardless dashboard">
                        {{ subscription.gocardless_subscription_id }}</a>
                      {% else %}
                        None
                      {% endif %}</li>
                    <li><strong>Price ({{ subscription.plan.interval_unit }}): </strong>{{ subscription.plan.interval_amount |default(0)|currencyFormat }}</li>
                    <li><strong>Sell price: </strong>{{ subscription.plan.sell_price|default(0)|currencyFormat }}</li>
                    <li><strong>Status: </strong>{{subscription_status(subscription.gocardless_subscription_id)}}</li>
                    <li><strong>Actions: </strong>
                      {% if subscription.gocardless_subscription_id %}
                        {% if subscription_status(subscription.gocardless_subscription_id) == 'Active' %}
                        <a href="{{ url_for("admin.pause_gocardless_subscription",
                          subscription_id=subscription.gocardless_subscription_id,
                          goback=1) }}">
                         Pause
                        </a> | 
                        {% endif %}
                        {% if subscription_status(subscription.gocardless_subscription_id) == 'Paused' %}
                        <a href="{{ url_for("admin.resume_gocardless_subscription",
                          subscription_id=subscription.gocardless_subscription_id,
                          goback=1) }}">
                         Resume
                        </a>
                        {% endif %}
                      {% endif %}</li>
                  </ul>
                </div></li>
                {% endfor %}
                {% else %}
                  None
              </ul>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <nav role="navigation" aria-label="pagination">
        <ul class="pagination justify-content-start">
          <li class="page-item">
            {% if people.has_prev %}
              <a class="page-link" href="{{ url_for('admin.subscribers', page=people.page - 1) }}">Previous</a>
            {% endif %}</li>

          {% for page_num in people.iter_pages() %}
            {% if page_num %}
              {% if people.page == page_num %}
                <li class="page-item active">
                  <a class="page-link" href="{{ url_for('admin.subscribers', page=page_num) }}"><b>{{ page_num }}</b></a>
                </li>
              {% else %}
                <li class="page-item ">
                  <a class="page-link" href="{{ url_for('admin.subscribers', page=page_num) }}">{{ page_num }}</a>
                </li>
      
              {% endif %}
            {% else %}
              ...
            {% endif %}
          {% endfor %}
        
          <li class="page-item">
            {% if people.has_next %}
              <a class="page-link" href="{{ url_for('admin.subscribers', page=people.page + 1) }}">Next page</a>
            {% endif %}</li>
        </ul>
      </nav>
    </div> <!-- end .container -->
  </div><!-- end .section -->
</main>

{% endblock body %} 
