{% extends "admin/layout.html" %}                                                
{% block title %} Payments {% endblock %}                                
                                                                                 
{% block hero %}                                                                 
                                                                                 
<h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">
    Payments
</h1>                                                                        
                                                                                 
{% endblock hero %} 
                                                                                 
{% block body %}
<div style="padding: 1rem 1.5rem 0 1.5rem;">                                     
  <div class="container">                                                        
    <nav class="breadcrumb" aria-label="breadcrumbs">                            
      <ul>                                                                       
        <li><a href="/">Shop</a></li>                                            
        <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>   
        <li class="is-active"><a href="#" aria-current="page">
            View Payments</a>
        </li>                                                                    
      </ul>                                                                      
    </nav>                                                                       
  </div>                                                                         
</div>

<div class="section">
	<div class="container" style="overflow-x:auto">
  <a href="{{ url_for('admin.refresh_ssot', resource='transactions') }}" 
     class="button is-warning" title="Please be patient">Refresh Transactions List</a>
		<table class="table">
		  <thead>
			<tr>
			  <th>Date</th>
			  <th>Amount</th>
			  <th>Ref</th>
              <th><abbr title="Description">Des</abbr></th>
              <th>Currency</th>
              <th>Mandate</th>
              <th>Payout</th>
              <th>Creditor</th>
              <th>created_at</th>
              <th>charge_date</th>
              <th>customer_bank_account</th>
              <th>customer</th>
              <th>source_gateway</th>
              <th>source_type</th>
              <th>source_id</th>
			</tr>
		  </thead>
		  <tbody>
			{% for transaction in transactions %}
			<tr>
			  <td>{{ transaction['date'] }}</td>
			  <td>{{ transaction['amount'] }}</td>
			  <td>{{ transaction['reference'] }}</td>
			  <td>{{ transaction['description'] }}</td>
			  <td>{{ transaction['currency'] }}</td>
			  <td><a href="" title="{{ transaction['mandate'] }}">
                    View mandate</a>
              </td>
			  <td>
                    {% if transaction['payout'] %}
                        <a href="" title="{{ transaction['payout'] }}">
                        View payout</a>
                    {% else %}
                        None
                    {% endif %}
              </td>
			  <td>{{ transaction['creditor'] }}</td>
			  <td>{{ transaction['created_at'] }}</td>
			  <td>{{ transaction['charge_date'] }}</td>
			  <td>{{ transaction['customer_bank_account'] }}</td>
			  <td>{{ transaction['customer'] }}</td>
			  <td>{{ transaction['source_gateway'] }}</td>
			  <td>{{ transaction['source_type'] }}</td>
			  <td>{{ transaction['source_id'] }}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	</div><!-- end .container -->
</div><!-- end .section -->

{% endblock body %} 


