{% extends "admin/layout.html" %}                                                
{% block title %} Payments {% endblock %}                                
                                                                                 
{% block hero %}                                                                 
                                                                                 
<h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">
    Payments
</h1>                                                                        
                                                                                 
{% endblock hero %} 
                                                                                 
{% block body %}
<div style="padding: 1rem 1.5rem 0 1.5rem;">                                     
  <div class="container">                                                        
    <nav class="breadcrumb" aria-label="breadcrumbs">                            
      <ul>                                                                       
        <li><a href="/">Shop</a></li>                                            
        <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>   
        <li class="is-active"><a href="#" aria-current="page">
            View Payments</a>
        </li>                                                                    
      </ul>                                                                      
    </nav>                                                                       
  </div>                                                                         
</div>

<div class="section">
	<div class="container" style="overflow-x:auto">
        <form action="#" method="GET">
        <h4>Search...</h4>
        <div class="form-group">
          <label for="subscriber_name">Subscriber name:</label>
          <input type="text" name="subscriber_name" id="subscriber_name" class="form-control mb-2" placeholder="Enter subscriber's name...">
          <label for="plan_title">Plan title:</label>
          <input type="text" name="plan_title" id="plan_title" class="form-control" placeholder="Enter plan title...">
          <input type="submit" class="btn btn-primary mt-4" />
        </div>
        </form>
        {% if person %}
          <h1>All transactions: {{ full_name|capitalize }}</h1>
        {% else %}
          <h1>All Transactions</h1>
        {% endif %}

        <p>Every transaction on your shop.</p>
        {% if request.args.get("subscriber", None) %}
              <div class="alert-warning">
              <a href="{{ url_for('admin.transactions') }}">View all transactions</a>
              </div>
        {% endif %}
        {% if request.args.get("subscriber_name", None) %}
              <div class="alert-warning" style="padding:5px;">
              Filtered by Subscriber: "{{ request.args.get("subscriber_name") }}". <br />
              <a href="{{ url_for('admin.transactions') }}">View all transactions</a>
              </div>
        {% endif %}
        {% if request.args.get("plan_title", None) %}
              <div class="alert-warning" style="padding:5px;">
              Filtered by plan title: "{{ request.args.get("plan_title") }}". <br />
              <a href="{{ url_for('admin.transactions') }}">View all transactions</a>
              </div>
        {% endif %}
		<table class="table">
		  <thead>
			<tr>
        <th>Date</th>
        <th>Status</th>
        <th>Refund</th>
        <th>Payment id</th>
        <th>Amount</th>
        <th>Source</th>
        <th>Subscriber</th>
        <th>Subscription</th>
        <th>Comment</th>
			</tr>
		  </thead>
		  <tbody>
			{% for transaction in transactions.items %}
			<tr>
        <td>{{ transaction.created_at }}</td>

        <td> 
             {% if transaction.external_refund_id is sameas None %}
                      {{ transaction.payment_status }}
             {% else %}
                      Refunded
             {% endif %}
        </td>
        <td>
            <!-- if there is a external_refund id then don't show refund button -->
            {% if transaction.external_refund_id is sameas None %}
                <a href="{{ url_for('admin.refund_stripe_subscription', payment_id=transaction.external_id, confirm="") }}">Refund</a>

            {% endif %}


        </td> 
        <td>{{ transaction.external_id }}</td>
        <td class="transaction-amount">&pound;{{ "%.2f"|format(transaction.amount/100) }}</td>
        <td>{{ transaction.external_src }}</td>
        <td>
          <a class="transaction-subscriber" href="{{ url_for('admin.show_subscriber', subscriber_id=transaction.person.id)}}">{{ transaction.person.full_name|capitalize }}</a>
        </td>
        <td> {% if transaction.subscription.plan %}
               {{ transaction.subscription.plan.title}}
             {% endif %}
        </td>
        <td>
            {{ transaction.comment }}
        </td>
			</tr>
			{% endfor %}
		  </tbody>
    </table>

    <nav role="navigation" aria-label="pagination">
      <ul class="pagination justify-content-start">
        <li class="page-item">
          {% if transactions.has_prev %}
            <a class="page-link" href="{{ url_for('admin.transactions', page=transactions.page - 1, plan_title=request.args.get    ("plan_title")) }}">Previous</a>
          {% endif %}</li>

        {% for page_num in transactions.iter_pages() %}
          {% if page_num %}
            {% if transactions.page == page_num %}
              <li class="page-item active">
                <a class="page-link" href="{{ url_for('admin.transactions', page=page_num) }}"><b>{{ page_num }}</b></a>
              </li>
            {% else %}
              <li class="page-item ">
                <a class="page-link" href="{{ url_for('admin.transactions', page=page_num, plan_title=request.args.get("plan_title")) }}">{{ page_num }}</a>
              </li>
    
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
      
        <li class="page-item">
          {% if transactions.has_next %}
            <a class="page-link" href="{{ url_for('admin.transactions', page=transactions.page + 1, plan_title=request.args.get("plan_title")) }}">Next page</a>
          {% endif %}</li>
      </ul>
    </nav>

	</div><!-- end .container -->
</div><!-- end .section -->

{% endblock body %} 


