{% extends "admin/layout.html" %}                                              
{% block title %} Upcoming Payments{% endblock %}                                
                                                                                 
{% block body %}


<h2 class="text-center text-dark mb-3">Upcoming Payments</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Upcoming Payments</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container" style="overflow:scroll">
      
      <table class="table table-hover table-scroll">
  
        <thead>
          <tr>
            <th>Fulfillment State</th>
            <th>Date</th>
            <th>GoCardless ID</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Name</th>
            <th>Contacts</th>
            <th>Address</th>
            <th>Subscription</th>
          </tr>
        </thead>
  
        <tbody>
        {% if payments|length == 0 %}
          <tr>
            <td colspan="9">
               No upcoming payments yet. You can do it!
            </td>
          </td>
        {% endif %}
  
        {% for payment in payments %}
          <tr>
            <td>
              <form action="{{ url_for('admin.update_payment_fulfillment', gocardless_payment_id=payment.id) }}" method="GET">
                <select class="form-control form-control-sm my-2" name="state">
                  {% set fulfillment_state = get_transaction_fulfillment_state(payment.id) %}
                  <option value="">-</option>
                  <option value="complete"
                    {% if fulfillment_state == "complete" %}
                    selected
                    {% endif %}>
                    Complete
                  </option>
                </select>
                <input type="hidden" name="gocardless_id" value="{{ payment.id }}" />
                <input type="submit" class="btn btn-primary btn-sm btn-block" value="Update" />
              </form>
            </td>
            <td>{{ datetime.strptime(payment.charge_date, '%Y-%m-%d').strftime("%d/%m/%Y") }}</td>
            <td>{{ payment.id }}</td>
            <td>{{ payment.status }}</td>
            <td>{{ payment.amount|default(0)|currencyFormat}}</td>
            {% if get_subscription_from_gocardless_subscription_id(payment.links['subscription']) != none  %}
            {% set subscription = get_subscription_from_gocardless_subscription_id(payment.links['subscription']) %}
            <td>{{ subscription.person.given_name }} {{ subscription.person.family_name }}</td>
            <td>
              <strong>Email: </strong><a href="mailto:{{ subscription.person.email }}">{{ subscription.person.email }}</a><br>
              <strong>Phone: </strong><a href="tel:{{ subscription.person.mobile}}">{{ subscription.person.mobile}}</a><br>
            </td>
            <td><address>
                {{ subscription.person.address_line1 }}<br />
                {{ subscription.person.city }}
                {{ subscription.person.postal_code }}
            </address></td>
            <td>
              <div class="content">
                <ul class="is-unstyled-li">
                  <li>
                    <div class="card">
                      <ul class="is-unstyled-li">
                        <li><strong>Plan: </strong>{{ subscription.plan.title }}</li>
                        <li><strong>Description:</strong>
                          <ul>
                            {% for selling_point in subscription.plan.selling_points %}
                              <li>{{ selling_point.point }}</li>
                            {% endfor %}
                          </ul>
                        </li>
                        {% if subscription.chosen_options %}
                        <li>
                            <details open>
                              <summary><strong>Chosen Options</strong></summary>
                              <ul>
                              {% for choice in subscription.chosen_options %}
                                 <li><strong>{{ choice.choice_group_title }}:</strong> {{ choice.option_title }}</li>
                              {% endfor %}
                              </ul>
                            </details>
                        </li>
                        {% endif %}
                        <li><strong>ID: </strong>{{ payment.links['subscription'] }}</li>
                        <li><strong>Date started: </strong>{{ subscription.created_at.strftime('%d/%m/%Y') }}</li>
                        {% if subscription.plan.requirements.note_to_seller_required %}
                        <li>
                          <details open>
                            <summary><strong>Order Note</strong></summary>
                              {% if subscription.note %}
                                {{ subscription.note.note }}
                              {% else %}
                                No note was given.
                              {% endif %}
                          </details>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </li>  
                </ul>
              </div>
            </td>
            {% else %}
            <td colspan="4"></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
        
      </table>

      <nav role="navigation" aria-label="pagination">
        <ul class="pagination justify-content-start">
          <li class="page-item">
              <a class="page-link" href="{{ url_for('admin.upcoming_payments', previous=previous_page_cursor) }}">Previous</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="{{ url_for('admin.upcoming_payments', next=next_page_cursor) }}">Next page</a>
          </li>
        </ul>
      </nav>

    </div><!-- end .container -->
  </div><!-- end .section -->
</main>



{% endblock body %} 

