{% extends "admin/layout.html" %}                                                
{% block title %} Upcoming Payments{% endblock %}                                
                                                                                 
{% block hero %}                                                                 
                                                                                 
<h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">
    Upcoming Payments
</h1>                                                                        
                                                                                 
{% endblock hero %} 
                                                                                 
{% block body %}
<style>
td b {
    line-height: 36px;
}
</style>

<div style="padding: 1rem 1.5rem 0 1.5rem;">                                     
  <div class="container">                                                        
    <nav class="breadcrumb" aria-label="breadcrumbs">                            
      <ul>                                                                       
        <li><a href="/">Shop</a></li>                                            
        <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>   
        <li class="is-active"><a href="#" aria-current="page">
            Upcoming Payments</a>
        </li>                                                                    
      </ul>                                                                      
    </nav>                                                                       
  </div>                                                                         
</div>

<div class="section">
	<div class="container">

		<table class="table">
		  <thead>
			<tr>
			  <th>Payments</th>
			</tr>
		  </thead>
		  <tbody>
			{% for payment in payments %}
			<tr>
        <td>
          <b>Status:</b> {{ payment.status }} <br />
          <b>Amount:</b> {{ payment.amount|default(0)|currencyFormat}} <br />
          <b>Subscription Ref:</b> {{ payment.links['subscription'] }} <br />
          {% if get_subscription_from_gocardless_subscription_id(payment.links['subscription']) != none  %}
            {% set subscription = get_subscription_from_gocardless_subscription_id(payment.links['subscription']) %}
            <b>Subscription Detail:</b> <br />
            <div>
                <b>Customer:</b><br />
                <b>Name: </b> {{ subscription.person.given_name }} {{ subscription.person.family_name }} <br />
                <b>Email: </b> {{ subscription.person.email }}<br />
                <b>Phone: </b> {{ subscription.person.mobile}}<br />
                <b>Address:</b><br />
                <address>
                  {{ subscription.person.address_line1 }}<br />
                  {{ subscription.person.city }}
                  {{ subscription.person.postal_code }}
                </address>
            </div>
            <b>Created at:</b> {{ subscription.created_at.strftime('%d/%m/%Y') }} <br />
            <b>Title: </b> {{ subscription.item.title }}
              <ul>
              {% for selling_point in subscription.item.selling_points %}
                <li>{{ selling_point.point }}</li>
              {% endfor %}
              </ul>
          {% endif %}
          <br />
          <b>Charge date:</b> {{ datetime.strptime(payment.charge_date, '%Y-%m-%d').strftime("%d/%m/%Y") }} <br />
        </td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	</div><!-- end .container -->
</div><!-- end .section -->

{% endblock body %} 


