{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock title %}
{% from 'macros/plan_card.html' import plan_card %}

{% block hero %}
<div class="section-hero px-2">
  <div class="wrapper mx-auto">
    <div class="container">
      <div class="hero-content py-5 px-0 px-sm-4">
        <h1 class="title-1">{{ company.name }}</h1>
        {% if company.slogan is sameas None or company.slogan == "None"  %}
            <p></p>
        {% else %}
            <p class="text-light">{{ company.slogan }}</p>
        {% endif %}
        <a class="btn-outlined-lg" href="#plans" title="Subscriber login">{{ _('Choose plan') }}</a>
        {% if settings.donations_enabled %}
        <a href='/donate' class="btn-lg btn-warning float-right">Donate</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block body %}

<!-- Plans -->
<div class="plans-section mx-2 mb-5 py-2 py-md-4">
  <div class="wrapper mx-auto">
    {% for category in categories %}
    <div id="plans" class="container mx-auto py-5 px-4">
      <div class="plans-section-header text-center my-4">
        <h4 class="title-1" name="{{ category.name }}-category">{{ category.name }}</h4>
      </div>
      <div class="plans-row row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for plan in category.plans if plan.archived != 1 and plan.private is sameas false %}
            {{ plan_card(plan) }}
        {% endfor %}
      </div> <!-- end plans-row -->
    </div> <!-- plans -->
    {% endfor %} {# end categories loop #}
  </div>
</div>

<!-- ------------------------ -->

  <!-- modal -->
  <div class="modal fade " id="imgModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="modal-img" src="" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- // end modal -->

</div>
<!------------------------>


<script>
  $('.pricing-plan').hover(
       function(){ $(this).addClass('is-active') },
       function(){ $(this).removeClass('is-active') }
  )
  function showHorizontal() {
    document.getElementById('pricing-table-horizontal').style.display = "block";
    document.getElementById('pricing-table-vertical').style.display = "none";
    console.log('Button Clicked!');
  }
  function showVertical() {
    document.getElementById('pricing-table-vertical').style.display = "block";
    document.getElementById('pricing-table-horizontal').style.display = "none";
    console.log('Button Clicked!');
  }

  $( ".plan-img-action" ).click(function() {
    var imgURL = $(this).attr('data-highres');
    $(".modal-img").attr("src", imgURL);
  });

</script>

{% endblock %}
