{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block hero %}
<div class="section-hero px-2">
  <div class="wrapper mx-auto">

    <div class="container">
      <div class="hero-content py-5 px-0 px-sm-4 ">
        <h1 class="title-1">{{ company.name }}</h1>
        {% if company.slogan is sameas None or company.slogan == "None"  %}
            <p></p>
        {% else %}
            <p class="text-light">{{ company.slogan }}</p>
        {% endif %}
        <a class="btn-outlined-lg" href="#plans" title="Subscriber login">Choose plan</a>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block body %}

<!-- Plans -->
<div class="plans-section mx-2 mb-5 py-2 py-md-4">
  <div class="wrapper mx-auto">
    {% for category in categories %}
    <div id="plans" class="container mx-auto py-5 px-4">
      <div class="plans-section-header text-center my-4">
        <h4 class="title-1">{{ category.name }}</h4>
      </div>
      <div class="plans-row row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for plan in category.plans if plan.archived != 1 and plan.private is sameas false %}
          <div class="pricing-plan col-md p-2">
            <div class="card h-100">
              {% if plan.primary_icon %}
                <a href="#" class="plan-img-action" data-toggle="modal" data-target="#imgModal" data-highres="{{ plan.primary_icon }}">
                  <img src="{{ plan.primary_icon }}" class="plan-img card-img-top">
                </a>
              {% endif %}
              <div class="card-body">
                <h5 class="body-lg">{{ plan.title|safe }}</h5>

                {% if plan.description is not sameas None %}
                  <div>
                    <div class="btn-link-lg btn-block text-left pl-0" type="button" data-toggle="collapse" data-target="#collapse-{{ plan.id }}" aria-expanded="false" aria-controls="collapse-{{ plan.id }}">
                      More details
                    </div>
                    <div class="collapse" id="collapse-{{ plan.id }}">
                      <p class="text mb-0 pt-2">{{ plan.description }}</p>
                    </div>
                  </div>
                {% endif %}

                <hr class="my-4">
                {% if plan.trial_period_days > 0 %}
                <p class="py-3 body-lg">{{ plan.trial_period_days }} days free</p>
                {% endif %}
                {% if plan.requirements.subscription %}
                  <div class="my-md-4">
                    <span class="text">
                      {% if plan.trial_period_days > 0 %}Then {% endif %}
                      <span class="price">&pound;{{ "%.2f"|format(plan.interval_amount/100) }}</span>/{{ plan.interval_unit }}
                    </span> <br>
                    {% if plan.requirements.instant_payment %}
                      <span class="text">Upfront cost: &pound;{{ "%.2f"|format(plan.sell_price/100) }}</span>
                    {% else %}
                      <span class="text">Upfront cost: None</span>
                    {% endif %}
                  </div>
                  {% else  %} {# Not a subscription based product #}
                  <div class="my-md-4">
                    <span class="text">
                      <span class="price">&pound;{{ "%.2f"|format(plan.sell_price/100) }}</span>/One-off
                    </span>  <br>
                    <span class="text">No subscription</span>
                  </div>
                {% endif %}

                {% for sellingPoint in plan.selling_points%}
                <div class="plan-selling-points d-flex align-items-start">
                  <i class="fas fa-check-circle pr-2 mt-1"></i><p>{{ sellingPoint.point|safe }}</p>
                </div>
                {% endfor %}
                {% if plan.cancel_at %}
                  <small>Automatically cancels on: {{ plan.cancel_at | timestampToDate }}</small>
                {% endif %}
              </div>

              <div class="card-footer">

                {% if plan.choice_groups %}
                  <div>
                    <div class="btn-link-lg btn-block mb-1" type="button" data-toggle="collapse" data-target="#collapse-choise-{{ plan.id }}" aria-expanded="false" aria-controls="collapse-choise-{{ plan.id }}">
                      See choice options
                    </div>
                    <div class="collapse" id="collapse-choise-{{ plan.id }}" >
                      {% for choice_group in plan.choice_groups %}
                      <details>
                        <summary>{{ choice_group.title }} ({{ choice_group.options|count }} options)</summary>
                        <ul>
                          {% for option in choice_group.options %}
                          <li>{{ option.title }}</li>
                          {% endfor %}
                        </ul>
                      </details>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                {% if plan.choice_groups %}
                  <a href="{{ url_for('views.set_options', plan_uuid=plan.uuid) }}" class="btn-outlined-lg btn-block">
                    Choose
                  </a>
                {% else %}
                  <a href="/new_customer?plan={{ plan.uuid }}" class="btn-outlined-lg btn-block">
                    Choose
                  </a>
                {% endif %}

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %} {# end categories loop #}
    </div>
  </div>
</div>

<!-- ------------------------ -->

  <!-- modal -->
  <div class="modal fade " id="imgModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="modal-img" src="" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- // end modal -->

</div>
<!------------------------>


<script>
  $('.pricing-plan').hover(
       function(){ $(this).addClass('is-active') },
       function(){ $(this).removeClass('is-active') }
  )
  function showHorizontal() {
    document.getElementById('pricing-table-horizontal').style.display = "block";
    document.getElementById('pricing-table-vertical').style.display = "none";
    console.log('Button Clicked!');
  }
  function showVertical() {
    document.getElementById('pricing-table-vertical').style.display = "block";
    document.getElementById('pricing-table-horizontal').style.display = "none";
    console.log('Button Clicked!');
  }

  $( ".plan-img-action" ).click(function() {
    var imgURL = $(this).attr('data-highres');
    $(".modal-img").attr("src", imgURL);
  });

</script>

{% endblock %}
