<!doctype html>
<html lang=en>
<head>
<title>{% block title %}{% endblock %} | {{ company.name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css?family=Lato:900,400" rel="stylesheet">
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
{% if custom_code != "None" %}
<!-- custom code -->
  {{ custom_code }}
<!-- end custom code -->
{% endif %}

{% if integration.google_tag_manager_container_id
   and integration.google_tag_manager_active
%}
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',
    '{{ integration.google_tag_manager_container_id }}');
    </script>
    <!-- End Google Tag Manager --> 
{% endif %}

{% if integration.tawk_property_id
   and integration.tawk_active
%}
    <!-- Tawk Chat -->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var
        s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/{{ integration.tawk_property_id }}/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
    <!-- End Tawk Chat -->
{% endif %}

<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"/>

<!-- color picker -->
<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>

</head>

<body>

{# if not inside iframe_embeded, show header #}
{% if session.get('iframe_embeded') is sameas False %}

 {# Discover if any private pages exist #}
 {% set ns = namespace(hasPrivatePages = false) %}
 {% for page in pages %}
    {% if page.private %}
      {% set ns.hasPrivatePages = true %}
    {% endif %}
 {% endfor %}

  <nav class="navbar navbar-expand-lg my-4 container">

    <a class="navbar-brand mr-0 px-0 px-sm-4" href="/">
      {% if company.logo_src is not sameas None %}
        <img src="{{ company.logo_src }}" id="logo" alt="{{ company.name }} logo">
      {% else %}
        <span class="m-0" style="color: var(--grey-900)">
          {{ company.name }}
        </span>

      {% endif %}
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="custom-toggler navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="btn-link" href="/">{{ _('Home') }}</a>
        </li>
        {% for page in pages %}
          {% if page.private is sameas False %}
            <!-- this should be the public only menu-->
            <li class="nav-item">
              <a class="btn-link" href="{{ url_for('views.custom_page', path=page.path) }}">
                {{ page.page_name[0]|upper}}{{ page.page_name[1:] }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        {% if settings.donations_enabled %}
        <li class="nav-item">
        <a href="/donate" class="btn-link">Donate</a>
        </li>
        {% endif %}
      </ul>

      <ul class="navbar-nav mt-2 mt-lg-0">
        {% if g.user or g.subscriber %}

        {% if ns.hasPrivatePages %}
          <div class="dropdown nav-item">
            <a class="dropdown-toggle btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ _('Private pages') }}
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            {% for page in pages %}
              {% if page.private %}
                {% if g.user is not sameas None or g.subscriber is not sameas None %}
                  <a class="dropdown-item" href="{{ url_for('views.custom_page', path=page.path) }}">{{ page.page_name[0]|upper}}{{ page.page_name[1:] }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
            </div>
          </div>
        {% endif %}
        {% endif %}


        {% if g.user %}
        <li class="nav-item">
          <a class="btn-link mb-3" href="/admin/dashboard">{{ _('Dashboard') }}</a>
        </li>

        <li class="nav-item">
          <a class="btn-outlined" href="/auth/logout">{{ _('Logout') }}</a>
        </li>
        {% elif g.subscriber %}
        <li class="nav-item">
          <a class="btn-link mb-3" href="/account">{{ _('Account') }}</a>
        </li>

        <li class="nav-item">
          <a class="btn-outlined" href="/account/logout">{{ _('Logout') }}</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="btn-outlined" href="{{ url_for('subscriber.login') }}" title="Subscriber login">{{ _('Subscriber Login') }}</a>
        </li>
        {% endif %}
          
      </ul>
    </div>
  </nav>

  <div class="site-content">

    {% block top %}
    {% endblock top %}
      
        {% block hero %}{% endblock %}

  {% endif %} {# if not inside iframe_embeded, show header #}
    <main class="main">
      {% block body %}{% endblock %}
    </main>
  </div>

  {# if not inside iframe_embeded, show footer #} 
  {% if session.get('iframe_embeded') is sameas False %}

  <footer class="container-fluid text-center py-3 footer mt-auto" >
    <p> {{ _('By') }} <a href="/" class="body-lg">{{ company['name'] }}</a>. </p>
    <p> <a href="https://subscriptionwebsitebuilder.co.uk" title="Subscription Website Builder" class="body-lg">{{ _('Collect payments easily with Subscribie') }}</a> - {{ _('Made in') }} Newcastle Upon Tyne</p>
    
    {% if g.user %}
      <a class="body-lg" href="/auth/logout">{{ _('Logout') }}</a>
    {% elif g.subscriber %}
      <a class="body-lg" href="/account/logout">{{ _('Logout') }}</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}" class="body-lg">{{ _('Shop owner login') }}</a>
      or
      <a href="{{ url_for('subscriber.login') }}" class="body-lg">{{ _('Subscriber login') }}</a>
    {% endif %}
    
    <br />
    <a href="#" class="btn-outlined mt-3">{{ _('Scroll back to top') }}</a>

    {% if 'country' in session %}
    <div id="country-region-select" class="mt-2" style="text-align: left" title="{{ session['country']['name'] }} ({{ session['country']['alpha_3'] }})">
      {{ _('Country') }} {{ session['country']['flag'] }}
    </div>
    {% endif %}

  </footer>
  {# end if not inside iframe_embeded, show footer #} 
  {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

<script type="application/javascript">
  
  function inIframe () {
      try {
          return window.self !== window.top;
      } catch (e) {
          return true;
      }
  }

  /* 
    if in iframe, open new plan/customer in new window
    as GoCardless denys iframe via X-Frame-Options deny
  */
  if (inIframe()) {
    chooseElms = document.querySelectorAll('.choose-plan');
    for (chooseElm of chooseElms) {
      console.log(chooseElm);
      chooseElm.target = "_blank";
    }
  }

  </script>
  {{ custom_css|safe }}
</html>
