{% extends "layout.html" %}
{% block title %} {% if title %} {{ title }} {% else %} New Customer {% endif %} {% endblock %}

{% block hero %}

  <div class="columns vertical-align is-mobile">
    <div class="column">
      <h1 class="title is-1 has-text-white is-size-3-mobile">Order Information</h1>
      <h2 class="subtitle has-text-white is-3 is-size-4-mobile">Complete the form below</h2>
    </div>
    <div class="column is-one-third is-hidden-touch" style="text-align:right">
      <img src="/static/mutli-box.svg" style="height:100%;" />
    </div>
  </div>

{% endblock %}

{% block body %}
<div class="section">
  <div class="container">

  <form action="" id="new_customer" method=post action=/new_customer >

    {{ form.csrf_token }}

    {% if error %}
      <p class=error><stong>Error:</strong> {{ error }}
    {% endif %}

    <div class="columns">
        <div class="column is-two-thirds">

          <h3 class="title is-3 is-size-4-mobile" style="text-align:left">Your details</h3>
          <p class="subtitle is-5 is-size-6-mobile" style="text-align:left">We only use your details in order to get in touch with you regarding the order status and for billing. No spam, no rubbish.</p>

          <div class="field is-horizontal">
            <div class="field-label is-medium">
              <label class="label">Your Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-medium" type="text" name=given_name id=given_name placeholder="John" value="{{ given_name }}" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-medium" type="text" name=family_name id=family_name placeholder="Smith" value="{{ family_name }}" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-medium">
              <label class="label">Email</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-medium" type="email" name=email id=email placeholder="johnsmith@gmail.com" value="{{ email }}" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-medium">
              <label class="label">Phone</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-medium" type="tel" name=mobile id=mobile placeholder="+447920000000" value="{{ mobile }}" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <br />

          <h3 class="title is-4 is-size-4-mobile" style="text-align:left">Your Address</h3>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Address line 1</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" name="address_line_one" id="address_line_one" required>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">City</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" name="city" id="city" required>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Post Code</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" name="postcode" id="postcode" required>
                </p>
              </div>
            </div>
          </div>

          {% if plan.requirements.note_to_seller_required %}
            <h3 class="title is-4 is-size-4-mobile" style="text-align:left">Note to seller</h3>
            <p>{{ plan.requirements.note_to_buyer_message }}<p>
            <textarea rows="5" cols="25" name="note_to_seller" required>
            </textarea>
          {% endif %}

        </div>

        <div class="is-divider-vertical"></div>

        <div class="column">

          <h3 class="title is-4 is-size-4-mobile" style="text-align:left">Order Summary</h3>

          <h4 class="title is-5 is-size-5-mobile" style="text-align:left">{{ plan.title }}</h4>
          <div class="content">
            <ul>
            {% for selling_point in plan.selling_points %}
              <li><p class="subtitle is-6">{{ selling_point.point}}</p></li>
            {% endfor %}
            </ul>
          </div>

          {%if chosen_options %}
          <h4 class="title is-5 is-size-5-mobile" style="text-align:left">Choices</h4>
          <div class="content">
            <ul>
            {% for option in chosen_options %}
              <li><p class="subtitle is-6">{{ option.choice_group_title }}: {{ option.option_title }}</p></li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}

          <div class="content has-text-right">
            {% if plan.requirements.instant_payment %}
              <p><b>Pay today:</b> <span class="tag is-success is-medium">&pound;{{ "%.2f"|format(plan.sell_price/100) }}</span></p>
            {% endif %}
            {% if plan.requirements.subscription %}
            <p><b>Price ({{ plan.interval_unit }}) :</b> <span class="tag is-info is-large">&pound;{{ "%.2f"|format(plan.interval_amount/100) }}</span></p>
            {% endif %}
          </div>
          <div class="content has-text-right">

          </div>

        </div>
    </div>
    <!-- detect if embeded in iframe to trigger new tab if needed -->
    <input type="hidden" name="is_iframe" id="is_iframe" value="" />
    <!-- end detect if embeded in iframe to trigger new tab if needed -->
    <input type=submit class="button is-success is-medium is-fullwidth" value="Continue to Payment">

  </form>
  <script type="text/javascript">
    let inIframeElm = document.getElementById('is_iframe');
    if ( window.location !== window.parent.location ) {
      // In an iframe
      console.log("In an iframe");
      inIframeElm.value = 'True';
    } else {
      // Not in an iframe
      console.log("Not in an iframe");
      inIframeElm.value = 'False';
    }
  </script>
</div>
</div>

{% endblock %}
