            
        {% extends "layout.html" %}
        {% block title %} {{ title }} {% endblock title %}

        {% block hero %}

            <div class="container">
              <div class="row">
                <div class="col-md-8 pl-0">
                  <h1 class="h1 text-white font-weight-bold">{{ title }}</h1>
                </div>
              </div>
            </div>

        {% endblock %}
        {% block body %}
        <div class="section">
          <div class="container">
          
    <p>Yayyy <br><br><br>Why not<br></p>
          </div><!-- end container -->
        </div><!-- end section -->
        {% endblock body %}
    
          