{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block hero %}
    <div class="section-hero px-2">
      <div class="wrapper mx-auto">
    
        <div class="container">
          <div class="hero-content py-5 px-0 px-sm-4 ">
            <h2 class="title-1">{{ _('Choose your options') }}</h2>
          </div>
        </div>
        
      </div>
    </div>

{% endblock %}

{% block body %}

<main>
<div class="section mx-auto my-4">
  <div class="container mx-auto">
      <form action="" method="POST" class="col-md-6 pb-3">

      {% for choice_group in plan.choice_groups %}
      
        <h3 class="body">{{ _('The') }} <span class="body-lg">{{ plan.title }}</span> {{ _('plan has options') }}</h3>
        <p class="text mb-3">{{ _('The choice group') }} <span class="body-lg">{{ choice_group.title }}</span> {{ _('has') }} <span class="body-lg">{{ choice_group.options|count }}</span> {{ _('options') }}. {{ _('Please choose one of them') }}</p>
   
          {% for option in choice_group.options %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" name="{{ choice_group.id }}" id="{{ option.id }}" value="{{ option.id }}"  required>
              </div>
            </div>
            <label class="form-control" for="{{ option.id }}">{{ option.title }}</label>
          </div>
          {% endfor %}
        
      
      {% endfor %}

      <input type="submit" class="btn-primary-lg btn-block"  value="Save" />
      </form>
  </div>
</div>
</main>
{% endblock %}
