{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block body %}

<div class="my-5">
    <div class="pricing-plan col-md-4 p-2 mx-auto my-3">
      <div class="card h-100">
        {% if plan.primary_icon %}
          
            <img src="{{ plan.primary_icon }}" class="plan-img card-img-top">
          
        {% endif %}
        <div class="card-body">
          <h5 class="body-lg">{{ plan.title|safe }}</h5>

          {% if plan.description is not sameas None %}
            <div>
              <div class="btn-link-lg btn-block text-left pl-0" type="button" data-toggle="collapse" data-target="#collapse-{{ plan.id }}" aria-expanded="false" aria-controls="collapse-{{ plan.id }}">
                More details
              </div>
              <div class="collapse" id="collapse-{{ plan.id }}">
                <p class="text mb-0 pt-2">{{ plan.description }}</p>
              </div>
            </div>
          {% endif %}

          <hr class="my-4">
          {% if plan.trial_period_days > 0 %}
          <p class="py-3 body-lg">{{ plan.trial_period_days }} days free</p>
          {% endif %}
          {% if plan.requirements.subscription %}
            <div class="my-md-4">
              <span class="text">
                {% if plan.trial_period_days > 0 %}Then {% endif %}
                <span class="price">&pound;{{ "%.2f"|format(plan.interval_amount/100) }}</span>/{{ plan.interval_unit }}
              </span> <br>
              {% if plan.requirements.instant_payment %}
                <span class="text">Upfront cost: &pound;{{ "%.2f"|format(plan.sell_price/100) }}</span>
              {% else %}
                <span class="text">Upfront cost: None</span>
              {% endif %}
            </div>
            {% else  %} {# Not a subscription based product #}
            <div class="my-md-4">
              <span class="text">
                <span class="price">&pound;{{ "%.2f"|format(plan.sell_price/100) }}</span>/One-off
              </span>  <br>
              <span class="text">No subscription</span>
            </div>
          {% endif %}

          {% for sellingPoint in plan.selling_points%}
          <div class="plan-selling-points d-flex align-items-start">
            <i class="fas fa-check-circle pr-2 mt-1"></i><p>{{ sellingPoint.point|safe }}</p>
          </div>
          {% endfor %}
        </div>

        <div class="card-footer">

          {% if plan.choice_groups %}
            <div>
              <div class="btn-link-lg btn-block mb-1" type="button" data-toggle="collapse" data-target="#collapse-choise-{{ plan.id }}" aria-expanded="false" aria-controls="collapse-choise-{{ plan.id }}">
                See choice options
              </div>
              <div class="collapse mb-3" id="collapse-choise-{{ plan.id }}" >
                {% for choice_group in plan.choice_groups %}
                <details>
                  <summary>{{ choice_group.title }} ({{ choice_group.options|count }} options)</summary>
                  <ul>
                    {% for option in choice_group.options %}
                    <li>{{ option.title }}</li>
                    {% endfor %}
                  </ul>
                </details>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if plan.choice_groups %}
            <a href="{{ url_for('views.set_options', plan_uuid=plan.uuid) }}" class="btn-outlined-lg btn-block">
              Choose
            </a>
          {% else %}
            <a href="/new_customer?plan={{ plan.uuid }}" class="btn-outlined-lg btn-block">
              Choose
            </a>
          {% endif %}

        </div>
      </div>
    </div>
</div>
{% endblock %}
