{% extends "admin/layout.html" %}
{% block title %} Add Custom Thank you page{% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Custom Thank You Page url</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Custom Thank You Page URL</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-7">
          <p>
          Please type the exact URL you want your subscribers taken to automatically after subscribing to a plan. Your subscribers will be taken to this page once their payment is complete.
          </p>
          <p>
          If you want to go back to the default checkout Thank You Page, please type "default" and click Save.
          </p>

          <form action="" method="POST" action="/">
            {{ form.csrf_token }}
            <div class="form-group">
              <label for="email"><b>Your URL:</b></label>
              <input type="text" name="url" class="form-control" 
                      id="url" aria-describedby="emailHelp" 
                      placeholder="https://google.com" required>
            </div>
            <button name="Save" type="submit" class="btn btn-primary btn-block mb-3">Save</button>
          </form>
        </div>

      </div>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>



{% endblock %}
