{% extends "admin/layout.html" %}
{% block title %} Geo Currency Settings {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Geo Currency Settings</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Geo Currency Settings</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-7">
          <h2>Geo Currency Settings</h2>
          <p>Enable/Disable automatic display of currency based on detected geolocation.</p>

          <form action="" method="POST" action="/">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="enableGeoCurrency" value="1" id="yes" {% if settings.geo_currency_enabled is sameas True %}checked {% endif %}>
                <label class="form-check-label" for="yes">
                  Enable
                </label>
              </div>
              <br />
              <div class="form-check">
                <input class="form-check-input" type="radio" name="enableGeoCurrency" value="0" id="no" {% if settings.geo_currency_enabled is sameas False %}checked {% endif %}>
                <label class="form-check-label" for="no">
                  Disable
                </label>
              </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-block mb-3">Save</button>
          </form>
        </div>

      </div>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>



{% endblock %}
