{% extends "admin/layout.html" %}
{% block title %} Rename Shop Address{% endblock %}

{% block body %}


<h2 class="text-center text-dark mb-3">Rename Shop Address</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Rename Shop Address</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-7">
          <h2>Change Your Shop Web Address</h2>
          <p>The URL of your shop will be changed as long as the name is available
              and the name contains only letters and numbers</p>
	  <p> Your current web address is: {{ SERVER_NAME }}</p>	
          <div>
            <div class="form-group">
     
              <label for="shop">New name:</label>
              <input type="text" name="new_name" class="form-control" id="new_name"
                     aria-describedby="shopHelp" placeholder="{{ SERVER_NAME }}"  required>
            </div>
            <button type="submit" id="submit" class="btn btn-primary btn-block mb-3">Save</button>
          </div>
        </div>

      </div>

    </div> <!-- end container-->
  </div> <!-- end section-->

<script>
  maxAttempts = 10;
  attempts = 0;
  function checkResponse(response, new_name) {
    if (attempts >= maxAttempts) {
      alert("Failed to rename site.");
      return;
    }
    if (response.status == 200) {
      console.log("Rename site success");
      document.location = "https://" + new_name + '.subscriby.shop';
     } else {
      attempts++
      console.log("Waiting for rename..");
      setTimeout(() => waitForSiteToBeReady(new_name), 2000);
     }
  }

 function waitForSiteToBeReady(new_name) {
   console.log("waitForSiteToBeReady...");
   new_name = new_name.replace("subscriby.shop", "").replace(".","");
   fetch("https://" + new_name + ".subscriby.shop")
   .then(response => checkResponse(response, new_name))
   .catch((error) => { console.error(error)});
 }

  function rename_site(e) {
    let new_name = document.getElementById("new_name").value;
    document.getElementById('submit').textContent = "Please wait...";
    console.log("Renaming shop...");
    const data = { "new_name": new_name };
    fetch("/admin/rename-shop", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
       console.log(data);
    })
    .then(waitForSiteToBeReady(new_name));
  }

  // When the user clicks save, try to rename the site
  document.getElementById('submit').addEventListener('click', rename_site);
</script>
</main>

{% endblock %}
