{% extends "layout.html" %}
{% block title %}Subscription Website Builder for Subscription Billing{% endblock %}

{% block body %}

{# Template for google signin. This gets shown by using the <google-signin></google_signin> html tag #}
<script src="{{ url_for('static', filename="google-signin-component.js") }}"></script>
<template id="google-signin-template">
  <link rel="stylesheet" href="{{url_for('static', filename="google-signin-template.css")}}">
  <a href="{{ url_for('views.google_signin') }}" class="btn-google">Continue with Google</a>
</template>
{# End template for google signin #}

            <google-signin></google-signin>

<section class="features">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
            <span class="feature-section-title">Features</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
            <span class="feature-section-description">What subscribie has to offe, and how it can work for you.</span>
        </div>
    </div>

    <div class="row features-container">
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12 feature-icon d-flex justify-content-center align-items-center text-center">
                    <img alt="" src="{{ url_for('static', filename='feature1.png') }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
                    <span class="feature-description">Customer chose package</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span class="customer-description">
                        Use out easy website builder to setup packages for your customers
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12 feature-icon d-flex justify-content-center align-items-center text-center">
                    <img alt="" src="{{ url_for('static', filename='feature2.png') }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
                    <span class="feature-description">Customer enter contact info</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span class="customer-description">
                        A simple customer form takes all the required information, such as name and adress
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12 feature-icon d-flex justify-content-center align-items-center text-center">
                    <img alt="" src="{{ url_for('static', filename='feature3.png') }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
                    <span class="feature-description">Recurring subscription is Set-up</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span class="customer-description">
                        The customer is setup with a recurring payment for the package they choose
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features payment-section position-relative">
    <div class="payment-bg"></div>
    <div class="row">
        <div class="col-sm-12 mb-2 mt-2 col-md-6 d-flex flex-wrap justify-content-center align-items-center text-center">
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
                    <span class="payment-title">
                    Reccuring payments
                </span>
                </div>
            </div>
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <div class="row-sm-12 d-flex justify-content-center align-items-center text-center">
                    <span class="payment-desc"> Easily take repeat payments without filtering a finger </span>
                </div>
            </div>
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center text-center">
                    <div class="payment-icon">
                        <img alt="" src="{{ url_for('static', filename='credit.png') }}">
                    </div>
                </div>
            </div>
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center text-center">
                    <div class="payment-description">
                        <span class="payment-p">No matter how many subscriptions or products you sell, your cost will stay the same</span>
                        <p>Easily accept one-off, recurring payments online using our subscription website builder.</p>
                        <p>We integrate with Stripe which allows customers to pay for your subscription service on a recurring basis, or one-off if you have on-time plans. This gives great flexibility to you and your customers. You can take recurring payments online, and change subscriptions plans as needed.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 mb-2 mt-2 col-md-6 d-flex flex-wrap justify-content-center align-items-center text-center">
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
                    <span class="payment-title">
                    Unlimited plans, no extra cost
                </span>
                </div>
            </div>
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <div class="row-sm-12 d-flex justify-content-center align-items-center text-center">
                    <span class="payment-desc">Rest easy knowing your costs won’t change.</span>
                </div><br /><br />
                <p>Create unlimited subscription packages and no matter how many you sell, your basic Subscribie cost and
                 the percentage taken will remain the same. We offer a free shop web address, or Subscribie can be embedded 
                 into an existing website.
                 </p>
            </div>
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center text-center">
                    <div class="payment-icon">
                        <img alt="" src="{{ url_for('static', filename='no-credit.png') }}">
                    </div>
                </div>
            </div>
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center text-center">
                    <div class="payment-description">
                        <span class="payment-p">No matter how many subscriptions or products you sell, your cost will stay the same</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
