{% extends "layout.html" %}
{% block title %} FAQ Subscribie {% endblock %}

{% block body %}

<div class="container">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">FAQ</h1>
        <small class="lead">Subscription Website Builder</small>
    </div>

    <h2>How much do you charge?</h2>
    <p>
    We <em>don't</em> take a cut of your sales. The only charge from us is the 
    fixed monthly cost of the shop. The payment processors Stripe and GoCardless     do take a small percentage, see 
    <a href="https://stripe.com/gb/pricing" target="_blank">Stripe pricing</a>
    and <a href="https://gocardless.com/pricing/" target="_blank">GoCardless pricing.</a> but remember, we don't take a cut ontop of that.
    </p>

    <h2>How do I login?</h2>
    <p>Visit your shop url, press 'login' and enter your email address.
       You will receive an email with a link which logs you into your shop.
       We don't store passwords at Subscribie, so you're more safe from
       password theft.</p>

    <h2>What is my shop url?</h2>
    <p>Your shop url is in your welcome email. It is comprised of your business
       name entered during sign-up.</p>

    <h2>Can I use Subscribie with my existing website?</h2>
    <p>
    Yes. You don't need to have an existing website, but if you do, then 
    you can embed your subscription website into an existing website using
    the 'embed' option from your shops dashboard.
    </p>

    <h2>When I get orders, how will I see them and track them?</h2>
    <p>
    New orders appear as a new customer on the customers list on your 
    shop dashboard. Also, there's a transactions list to see payments which have
    came through. For more detail you can also log into the payment site (e.g.
    Stripe and GoCardless) to get finer grained details.
    </p>

    <h2>Can I take order notes from customers?</h2>
    <p>
    Yes. For each subscription plan you sell, you can choose to request customers
    leave a note alongside their order. You can then see these on you shop 
    dashboard under 'order notes'.
    </p>

    <h2>Is it possible to have both a recurring price and a one-off price on the same product?</h2>
    <p>
     Yes. Although this is a rare scenario, in this scenario, you would create the same item twice but with two titles:<br />
     Title one: (Your product name) - Pay one-off <br />
     Title two: (Your product name) - Pay monthly<br />
      You would then configure only an up-front cost for item one, and 
      a monthly fee for item two. Easy!
    </p>

    <h2>How many orders can Subscribie handle, does the price change?</h2>
    <p>
    There is no enfored limit on the number of orders your shop can take,
    and the price remains the same regardless of how many orders your shop
    processes.
    </p>

    <h2>May I use my own web address/domain name?</h2>
    <p>Yes, after activating your shop you can either use an existing web address you 
       own, or purchase an additional domain through us. We recommend 
       <a href="https://domains.karmacomputing.co.uk" target="_blank">Karma Domains</a> 
       for .co.uk subscription websites. You don't have to do this, all shops get a 
       Subscribie branded web address for free!
    </p>

    <a href="/pricing" class="btn btn-primary btn-lg active" title="View Pricing"
    role="button" aria-pressed="true">Start now</a>
    <a href="https://subscriptionwebsitebuilder.co.uk/blog"
        class="btn btn-secondary btn-lg active" role="button">
    or be inspired</a>


</div>

{% endblock %}
