<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Collect Recurring Payments Easily with Subscribie | Subscribie">
    <meta name="description" content="Collect recurring payments online and sell subscriptions easily with Subscribie">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://subscribie.co.uk/">
    <meta property="og:title" content="Collect Recurring Payments Easily with Subscribie | Subscribie">
    <meta property="og:description" content="Collect recurring payments online and sell subscriptions easily with Subscribie">
    <meta property="og:image" content="https://subscribie.co.uk/static/meta-thumbnail.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://subscribie.co.uk/">
    <meta property="twitter:title" content="Collect Recurring Payments Easily with Subscribie | Subscribie">
    <meta property="twitter:description" content="Collect recurring payments online and sell subscriptions easily with Subscribie">
    <meta property="twitter:image" content="https://subscribie.co.uk/static/meta-thumbnail.png">


    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
{% if integration.google_tag_manager_container_id
   and integration.google_tag_manager_active
%}
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',
    '{{ integration.google_tag_manager_container_id }}');
    </script>
    <!-- End Google Tag Manager -->
{% endif %}

{% if integration.hotjar_account_id
   and integration.hotjar_active
%}

<!-- Hotjar Tracking Code for https://subscriptionwebsitebuilder.co.uk -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:{{ integration.hotjar_account_id }},hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endif %}

{% if integration.tawk_property_id
   and integration.tawk_active
%}
    <!-- Tawk Chat -->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var
        s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/{{ integration.tawk_property_id }}/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
    <!-- End Tawk Chat -->
{% endif %}

{% if custom_code != "None" %}
<!-- custom code -->
  {{ custom_code }}
<!-- end custom code -->
{% endif %}

    <title>{% block title %}{% endblock %} | {{ company.name }}</title>
</head>
<body>

<div class="main-container">
 <div class="header header-bg">
        <div class="row nav-menu">
            <div class="col-sm-12 ">
                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between flex-wrap">
                    <a class="navbar-brand text-white" href="/">Subscribie</a>
                    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler"
                            data-target="#navbarNav" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav w-100 d-flex justify-content-end align-items-center ">
                            <li class="nav-item w-auto active">
                                <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/page/pricing">Pricing</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/shop-owner-login">Login</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="https://subscribie.co.uk/start-building">Register</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="https://subscriptionwebsitebuilder.co.uk/blog">Blog</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/page/faq">FAQ</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/page/features">Features</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/page/subscription-billing">Subscription Billing</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/page/choose-subscribie">Why Subscribie?</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/#revenue-calculator">Revenue Calculator</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/page/collect-membership-fees-online">Collect Membership Fees Online</a>
                            </li>
                            <li class="nav-item w-auto">
                                <a class="nav-link text-white" href="/page/subscription-software">Subscription Software</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    {% block body %}{% endblock %}

    <footer>
        <div class="row footer-section">
            <div class="col-sm-12 col-md-3 d-flex justify-content-center align-items-start text-center">
                <h3>Subscribie</h3>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="section-title w-100">
                    <a href="/start-building" style="text-decoration:underline">Create an account</a>
                </div>
                <div class="w-100">
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="/shop-owner-login/">Sign in</li>
                        <li class="footer-menu-item"><a href="/page/subscription-billing">Subscription billing</a></li>
                        <li class="footer-menu-item"><a href="/page/features">Features</a></li>
                        <li class="footer-menu-item"><a href="/page/pricing">Pricing</a></li>
                        <li class="footer-menu-item"><a href="/subscription-software">Subscription software</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="section-title w-100">
                    <span>Resources</span>
                </div>
                <div class="w-100">
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="http://subscriptionwebsitebuilder.co.uk/#revenue-calculator">Revenue Calculator</a></li>
                        <li class="footer-menu-item"><a href="/page/collect-membership-fees-online">Collect Membership Fees Online</a></li>
                        <li class="footer-menu-item"><a href="http://subscriptionwebsitebuilder.co.uk/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-sm-center align-content-md-start align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="copyrights">
                    © Subscribie 2021. All right reserved
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
