{% extends "layout.html" %}
{% block title %} Login {% endblock %}

{% block body %}
<div class="header-content py-4">
  <div class="row">
      <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
          <h1>Login to your shop</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
          <h3>We'll redirect you to your shop</h3>
      </div>
  </div>
</div>
</div>

<div class="container">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('builder.shop_owner_login') }}">
  			{{ form.csrf_token }}
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" class="form-control" name="email" type="email" 
                placeholder="Email Address" aria-describedby="emailHelp" 
                value="" required>
            <small id="emailHelp" class="form-text text-muted">
            Enter your account email address below and we'll locate your shop,
            and send you to it.
            </small>

            <br />
            <button type="submit" class="btn btn-success">
              <span style="margin-right:1rem" class="icon">
                <i class="fas fa-magic"></i>
                </span><span>Go to my shop</span>
            </button>
        </div>
    </form>
</div>
{% endblock body %}
