{% extends "layout.html" %}
{% block title %} Login {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">                                          
    <div class="container">                                                      
        <div class="row">                                                        
            <div class="col-sm">                                                 
            <h1 class="display-4">Login To Your Shop</h1>                       
            </h2>                                                                
            <h2 class="display-6">We'll redirect you to your shop</h2>                                                                
            <hr class="my-4">                                                    
             <div class="flashy-container"><div class="flashy"></div></div>      
            </div>                                                               
            <div class="col-sm">                                                 
                <img src="/static/shop.svg" 
                    class="d-none d-lg-block d-md-block d-sm-block" />                    
            </div>                                                               
        </div>                                                                   
    </div>                                                                       
</div>

<div class="container">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('builder.show_owner_login') }}">
  			{{ form.csrf_token }}
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" class="form-control" name="email" type="email" 
                placeholder="Email Address" aria-describedby="emailHelp" 
                value="" required>
            <small id="emailHelp" class="form-text text-muted">
            Enter your account email address below and we'll locate your shop,
            and send you to it.
            </small>

            <br />
            <button type="submit" class="btn btn-success">
              <span style="margin-right:1rem" class="icon">
                <i class="fas fa-magic"></i>
                </span><span>Go to my shop</span>
            </button>
        </div>
    </form>
</div>
{% endblock body %}
