<style>

.card {
  color: black;
}
</style>

    <div class="row mb-3">
        <h1 class="display-4">Simple Pricing</h1>
        <br />
        <small class="lead">Start selling your subscriptions now.</small>
    </div>

      <div class="row">
        {% for plan in plans if plan.archived != 1 and plan.private is sameas false %}

        <div class="card mb-4 shadow-sm col-lg-3 col-md-5 my-3 mx-3 px-0">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">
               {{ plan['title']|safe }}
            </h4>
          </div>

          <div class="card-body">
          {% if plan.requirements.subscription and plan.trial_period_days > 0 %}
            <h1 class="card-title pricing-card-title">
            {% if plan.trial_period_days > 0 %}
            {{ plan.trial_period_days }} days free
            {% endif %}
            <small class="text-muted">
            then {{ plan.showIntervalAmount() }}
            / {{ plan.interval_unit }}</small>
            </h1>
          {% elif plan.requirements.subscription %}
            <h1 class="card-title pricing-card-title">
            {{ plan.showIntervalAmount() }}
            <small class="text-muted">/ {{ plan.interval_unit }}</small>
            </h1>
          {% else %}
            <h1 class="card-title pricing-card-title">
              Free
            </h1>
          {% endif %}
		    {% if plan.requirements.instant_payment %}
              <p class="text-muted">
              Upfront cost: {{ plan.showSellPrice() }}
              </p>
		    {% else %}
              <p class="text-muted">
              No Upfront payment
              </p>
		    {% endif %}
            <ul class="text-left list-unstyled">
                {% for sellingPoint in plan.selling_points %}
                    <li>
                    <i class="fas fa-check-circle" style="color: #008000;"></i>
                    {{ sellingPoint.point|safe }}
                    </li>
                {% endfor %}
            </ul>
            {% if plan.choice_groups %}
            <h4>Choices</h4>
             {% for choice_group in plan.choice_groups %}
              <details>
                <summary>{{ choice_group.title }} ({{ choice_group.options|count }} options)</summary>
                <ul>
                  {% for option in choice_group.options %}
                  <li>{{ option.title }}</li>
                  {% endfor %}
                </ul>
              </details>
             {% endfor %}
            {% endif %}

          {% if plan.description is not sameas None %}
            <div>
              <div class="btn-link-lg btn-block text-center pl-0" type="button" data-toggle="collapse" data-target="#collapse-{{ plan.id }}" aria-expanded="false" aria-controls="collapse-{{ plan.id }}">
                <h5 class="mb-4">More details</h5>
              </div>
              <div class="collapse" id="collapse-{{ plan.id }}">
                <p class="text pt-2">{{ plan.description }}</p>
              </div>
            </div>
          {% endif %}

            <a href="/start-building?plan={{ plan.uuid }}&sku={{ plan.sku }}"
               class="btn btn-lg btn-block btn-primary">Start now</a>
          </div>
        </div>
        {% endfor %}
      </div>
</div>

