{% extends "layout.html" %}
{% block title %} Subscribie Pricing | 3 months for just &pound;10 {% endblock %}

{% block body %}

<div class="container">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Simple Pricing</h1>
        <small class="lead">Start selling your subscriptions now.</small>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        {% for plan in plans %}

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">
               {{ plan['title']|safe }}
            </h4>
          </div>
          <div class="card-body">
          {% if plan.requirements.subscription %}
            <h1 class="card-title pricing-card-title">
            &pound;{{ "%.2f"|format(plan.interval_amount/100) }}
            <small class="text-muted">/ {{ plan.interval_unit }}</small>
            </h1>
          {% else %}
            <h1 class="card-title pricing-card-title">
            &pound;0.00
            </h1>
          {% endif %}
		    {% if plan.requirements.instant_payment %}
              <p class="text-muted">
              Upfront cost: &pound;{{ "%.2f"|format(plan.sell_price/100) }}
              </p>
		    {% else %}
              <p class="text-muted">
              Upfont cost: &pound;0.00
              </p>
		    {% endif %}
            <ul class="text-left list-unstyled">
                {% for sellingPoint in plan.selling_points %}
                    <li>
                    <i class="fas fa-check-circle" style="color: #008000;"></i>
                    {{ sellingPoint.point|safe }}
                    </li>
                {% endfor %}
            </ul>
            {% if plan.choice_groups %}
            <h4>Choices</h4>
             {% for choice_group in plan.choice_groups %}
              <details>
                <summary>{{ choice_group.title }} ({{ choice_group.options|count }} options)</summary>
                <ul>
                  {% for option in choice_group.options %}
                  <li>{{ option.title }}</li>
                  {% endfor %}
                </ul>
              </details>
             {% endfor %}
            {% endif %}
            <a href="/new_customer?plan={{ plan.uuid }}&sku={{ plan.sku }}"
               class="btn btn-lg btn-block btn-primary">Choose</a>
          </div>
        </div>
        {% endfor %}
      </div>



</div>

{% endblock %}
