{% extends "layout.html" %}
{% block title %} Refund Policy Subscribie {% endblock %}

{% block body %}

<div class="container">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Cancellation and Termination</h1>
        <small class="lead">Refund Policy</small>
    </div>

    <ol>
        <li>You may close your Account at any time by emailing hello@subscriptionwebsitebuilder.co.uk and following the instructions given in our response.</li>
	<li>Once Closed:
	    <ol>
                <li>We will cease providing you the Services and they will no longer be accessible</li>
		<li>You will not be entitled to any refunds of any Fees, pro rata or otherwise.</li>
		<li>Your online store will be taken offline</li>
            </ol>
        </li>
	<li>
	We reserve the right to modify or terminate the Service or your Account without notice at any time. For example, upgrades, security , these examples are non-exhaustive
	</li>
    </ol>

    <a href="/pricing" class="btn btn-primary btn-lg active" title="View Pricing"
    role="button" aria-pressed="true">Start now</a>
    <a href="https://subscriptionwebsitebuilder.co.uk/blog"
        class="btn btn-secondary btn-lg active" role="button">
    or be inspired</a>


</div>

{% endblock %}
