{% extends "layout.html" %}
{% block title %} Subscribie Pricing | 3 months for just {{ currency_symbol }}10 {% endblock %}

{% block body %}
<div class="header-content py-4">
  <div class="row">
      <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
          <h1>Your site is ready to start selling</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
          <h3>Activate now</h3>
      </div>
  </div>
</div>
</div>
</div>
<div class="container">

    <div class="container">
      <div class="card-deck mb-3 text-center">
        {% for plan in plans if plan.archived != 1 and plan.private is sameas false %}
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">
               {{ plan['title']|safe }}
            </h4>
          </div>
          <div class="card-body">
            {% if plan.requirements.subscription and plan.trial_period_days > 0 %}
            <h1 class="card-title pricing-card-title">
            {% if plan.trial_period_days > 0 %}
            {{ plan.trial_period_days }} days free
            {% endif %}
            <small class="text-muted">
              then {{ plan.showIntervalAmount() }}
            / {{ plan.interval_unit }}</small>
            </h1>
            {% elif plan.requirements.subscription %}
              <h1 class="card-title pricing-card-title">
              {{ plan.showIntervalAmount() }}
              <small class="text-muted">/ {{ plan.interval_unit }}</small>
              </h1>
            {% else %}
              <h1 class="card-title pricing-card-title">
              {{ geo_currency_symbol }}0.00
              </h1>
            {% endif %}
		    {% if plan.requirements.instant_payment %}
              <p class="text-muted">
              Upfront cost: {{ plan.showSellPrice() }}
              </p>
		    {% else %}
              <p class="text-muted">
              Upfront cost: {{ currency_symbol }}0.00
              </p>
		    {% endif %}
            <ul class="list-unstyled mt-3 mb-4">
                {% for sellingPoint in plan.selling_points %}
                    <li>{{ sellingPoint.point|safe }}</li>
                {% endfor %}
            </ul>
            <a href="/new_customer?plan={{ plan.uuid }}"
               class="btn btn-lg btn-block btn-primary">Choose</a>
          </div>
        </div>
        {% endfor %}
      </div>



</div>

{% endblock %}
