{% extends "layout.html" %}
{% block title %} Subscription Website Builder UK {% endblock %}

{% block body %}

<div class="container">
	<div class="row">
	<div class="jumbotron jumbotron-fluid">
		    <div class="col-sm">
			<h1 class="display-4">Subscription website builder UK</h1>
				<p class="lead">
			Made especially for UK businesses
		    <i class="fas fa-check"></i>
		    </p>
	</div><!-- end jumbotron -->
	</div><!-- end row -->

    <div class="col-sm">	
    <h2>Why a UK subscription builder?</h2>
    <p>There's nothing wrong with subscription sites offered in dollars and cents, but when 
     a service is built in a different country there is subtle differences.</p>
    <ul>
     <li>Using DirectDebit (a UK based system)</li>
     <li>Accounts and sort codes (not all using IBAN, or other codes)</li>
     <li>A subscription website builder UK made, better understands your needs</li>
    </ul>
    <p>Most website builders are based on and in the US markets. This 
     subscription website builder is made in the uk, and works well with the UK market.
    <p>

    <p>Payment systems in the UK work differently to the US, so having a UK website builder
    is beneficial <em>especially</em> when looking to build a subscription based websites 
    using direct debit.</p>

    <h2>Easily add your subscription plans</h2>
    <img src="/static/steps/1.svg" width="300px" title="add subscription plans" />

    <p>Simply use the <a href="/" title="start your subscription website">website builder</a> 
       to add all your plans, and a simple shop is created which allows you to sell your 
       subscriptions to customers, and take repeat payments online using Direct Debit.</p>
    <p>You may also take one-off upfront payments, for example to collect an initial set-up
       fee from your customers.</p>

    <a href="/start-building" title="Build your site now" class="btn btn-primary btn-lg">Start Building</a>
    <a href="/pricing" class="btn btn-secondary btn-lg">View Pricing</a>
    </div>
</div>

{% endblock %}
