{% extends "layout.html" %}
{% block title %}Thank you!{% endblock %}
{% block body %}
<div class="header-content py-4">
  <div class="row">
      <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
          <h1>Website Activated</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12 d-flex justify-content-center align-items-center text-center">
          <h3>Congratulations, your subscription website is live!</h3>
      </div>
  </div>
  <div class="row">
      <img src="/static/start.svg" style="max-width: 500px; width:75%; padding-bottom:25px" />
      <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <a href="{{ session['site-url'] }}/auth/login" class="get-started-btn">Login to my site</a>
      </div>
  </div>
</div>
</div>
</div>

<div class="section">
  <div class="container">

    <h3 class="title is-3 is-size-4-mobile">So, what happens next?</h3>
    <p>
      Your site is ready to login to and start setting up!
    </p>
    <br />
      <a class="btn btn-primary" href="{{ session['site-url'] }}/auth/login">Login to my site</a>
    <br /><br />
    <p>Now your subscription website is live the real work begins. How do you make your website a sucess? Would you open
    a real shop and expect everyone to know about it without any marketing? No!</p>

    <p>Read our <a href="https://subscriptionwebsitebuilder.co.uk/blog">blog</a> 
        full of practical steps &amp; ideas you can take right now to make your subscription website a sucess.
    </p>

  </div>
</div>

{% endblock %}
