{% extends "layout.html" %}
{% block title %} Reasons to Choose Subscribie {% endblock %}

{% block body %}

<style>
p {
    font-size: 1.2em;
}
</style>

<div class="container">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Reasons To Choose Subscribie</h1>
        <small class="lead">Start a subscription website in 10 minutes</small>
    </div>

    <h2>Subscribie is <em>fast.</em> Start selling on subscription quickly</h2>
    <p>
    In a rush? Head to the 
    <a href="https://subscriptionwebsitebuilder.co.uk/start-building">Start Building</a> page, 
    and within ten minutues you can generate a simple subscription website to sell your service 
    or items on subscription. You can specify a monthly fee, as well as up-front costs (for
    things such as set-up fees). 
    </p>

    <h2>Sell anything on subscription- not just things</h2>
    <p>
    	With Subscribie, we don't assume you're selling physical items. Perhaps
	you're wanting to sell a service, or your time. We don't assume you're
	posting goods. This means Subscribie is flexible to your
	business needs, regardless of whether you are selling items or services.
    </p>

    <h2>Got a website already? You can embed Subscribie into it</h2>
    <p>You can embed Subscribie into an existing website. We provide a piece
       code which you simply paste into your website. Just login your shops 
       admin dashboard, copy &amp; paste the code and you're done!
       <img src="/static/subscription-embed-widgetpng.png" />
    </p>

    <h2>Free Shop address</h2>
    <p>
	Every shop gets a free shop web address, so if you don't have a web address
	already, you can use ours for free. If you have an existing website address, 
	you can either embed Subscribie into your existing website, or ask for 
	help to connect your existing address to Subscribie.
    </p>

    <h2>Open Source Subscription Software (You can see the code)</h2>
    <p>
	We built Subscribie to solve a problem we had, we only charge to host 
	Subscribie for you (see <a href="https://subscriptionwebsitebuilder.co.uk/pricing">pricing</a>). 
	Most people love that, but if you want to you can also host it yourself (but you need to
	know how, or hire someone).<a href="https://subscriptionwebsitebuilder.co.uk/start-building">
        Start building now</a>, and we'll host for you.
    </p>

    <a href="/start-building" class="btn btn-primary btn-lg active" 
       title="Start building a subscription website now"
    role="button" aria-pressed="true">Start now</a>
    <br />

</div>

{% endblock %}
