{% extends "layout.html" %}
{% block title %}Broadband availability postcode checker{% endblock %}

{% block hero %}

  <div class="container">
    <h1 style="color:white" class="title is-1 is-size-3-mobile">Broadband Availability Checker</h1>
    <h2 style="color:white" class="subtitle is-3 is-size-5-mobile">Enter your house number and postcode to get started</h2>

    <form action="" name="check" id="check" method=post>

      <div style="max-width:800px; margin:auto">
        {% if error %}
        <div class="notification is-info>"
          <p><strong><i class='em {{ erroricon }}'></i> {{ error }}</strong></p>
        </div>
        {% endif %}

        <div class="columns is-paddingless" style="max-width:750px; margin:auto">
          <div class="column is-half">
            <div class="field">
              <label for="buildingnumber" class="label is-large is-small-mobile" style="color:white">House Number</label>
              <div class="control">
                <input class="input is-large data-hj-whitelist" type="text" placeholder="12A" name=buildingnumber id=buildingnumber value="{{ buildingnumber }}">
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label for="PostCode" class="label is-large is-small-mobile" style="color:white">Post Code</label>
              <div class="control">
                <input class="input is-large data-hj-whitelist" type="text" placeholder="AB12 34CD" name=PostCode id=PostCode value="{{ PostCode }}">
              </div>
            </div>
          </div>
        </div>

        <div style="max-width:750px; margin:auto; padding: 0.75rem;">
          <input type=submit id="checkAvailability" class="button is-large is-fullwidth is-success" value="Check Availability">
        </div>

      </div>
    </form>


  </div>

{% endblock %}

{% block body %}
<div class="section">
  <div class="container">

    <h3 class="title is-3">Broadband in the UK</h3>

<p>Know that broadband availability in the UK is a lot simpler than it might sound. Much of the network in the UK is ran and operated by an organisation called Openreach. When you run a check for broadband in your area you're likely just asking what the Openreach network infrastructure can provide.</p>

<p>When checking your broadband availability by postcode, know that it's always better to check with both your house number and postcode. Without doing so, you risk getting a more generalised result - sure your street or general area might have fibre, but it can't check your specific address if you don't specify (obviously).</p>
<br />
<p>If you don't have a phoneline (or don't know if you have a line installed or not) using the a broadband availability checker is your best bet.
Bare in mind that if your area is served by Openreach, then BT, Sky, Plutnet and alike are simply using this same network. There's no point in checking availability across these providers, it's the same network. Why is this possible?</p>

<p>In 2006 the <a href="https://en.wikipedia.org/wiki/Local-loop_unbundling#United_Kingdom">local loop unbuldling act</a> made it possible for Internet Service Providers (ISPs) to offer broadband services, but have the infrastructure managed by Openreach. The service provider is responsible for "managing the customer relationship". This is why, much of the time if you have problems with your connection it's better to get an engineer to investigate than changing your provider. There's no change in the physical connection by changing the provider- it's best to deal with the issue at source.</p>

<br />
<h4 class="title is-5">What about Virgin , Talk Talk etc?</h4>

<p>It's true there are operators which own their own networks Virgin and TalkTalk are among these. They all eventually connect to the wider internet via "Peering arrangements" (more about ISP peering vs transit if you're interested). Which allows your connection to reach the wider internet. </p>
<br />
<p>Therefore, when performing an availability check- if you're not happy with the speed you're getting, there's little point comparing between operators using the same network. Seek alternative providers which either run their own network(s) or, innovative suppliers such as Wildcard Networks who provide point-to-point wireless broadband. The reality is that if you're in a non-served region, wireless may be your only option until faster fibre connections become available in your area. </p>

<p>Use the <a href="https://broadband-availability-checker.karmacomputing.co.uk">broadband availability postcode checker</a> now.</p>

</div>
</div>
{% endblock %}
