{% extends "layout.html" %}                                                      
{% block title %} Dashboard {% endblock %}

{% block body %}

<h1>Dashboard</h1>
 
<p>Connect your payment providers to get started!</p>

<h2>GoCardless</h2>
<strike>
<a href="#">{% if gocardless_connected %}Re-{% endif %}Connect your gocardless account</a><br />
</strike>

<a href="/connect/gocardless/manually">Manually {% if gocardless_connected  %}Re-{% endif %}Connect your gocardless account</a>

<h2>Stripe</h2>
<a href="/connect/stripe">Connect your stripe account</a>


{% endblock %}
