{% extends "layout.html" %}
{% block title %}Getting Started{% endblock %}
{% block body %}

<img src="/static/connected.svg" style="max-height:300px">

<h1 class="title is-1 is-size-3-mobile">Getting Started</h1>
<h2 class="subtitle is-4 is-size-5-mobile">Let's get you online</h2>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h4 class="title is-4 is-size-5-mobile has-text-left">Unpack your modem box</h4>
          <p class="has-text-left">You should receive your modem 2-3 days before your 'Go Live' date. They're typically posted through Royal Mail or Hermes, so keep an eye out!</p>
          <br />
          <p class="has-text-left">You should receive the modem itself, a power cord, Ethernet &amp; DSL cable and a microfilter.</p>
        </div>
        <div class="column">
          <img src="/static/unboxing.svg" style="max-height:300px">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h4 class="title is-4 is-size-5-mobile has-text-left">Find your master socket</h4>
          <p class="has-text-left">To get the best performance from your internet connection, you'll need to use the master telephone socket.</p>
          <br />
          <p class="has-text-left">This is typically located near a main door, such as your front door and it'll look like the examples to the right. You'll need an electrical outlet nearby too.</p>
          <br />
        </div>
        <div class="column">
          <img src="/static/mastersocket.svg" style="max-height:300px">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h4 class="title is-4 is-size-5-mobile has-text-left">Plug it all in</h4>
          <p class="has-text-left">Remove everything from the master phone socket, then plug in the microfilter. Any existing devices you unplugged (such as Sky+ box, landline phone) then should be plugged into the microfilter. Then plug one end of the DSL cable into the other socket on the microfilter, the other end of the DSL cable into the modem. Plug in the power cord too, then turn it on!</p>
          <br />
          <div class="notification is-light has-text-left">
            <article class="media">
              <figure class="media-left">
                <span class="icon has-text-info"><i class="fa fa-info"></i></span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    If your service isn't yet active, you won't be able to browse the web
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
          <img src="/static/plugin.svg" style="max-height:300px">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h4 class="title is-4 is-size-5-mobile has-text-left">Connect to your WiFi</h4>
          <p class="has-text-left">On the bottom of your modem, you'll find the SSID and network password. Use these to connect to your device to the WiFi network.</p>
          <br />
          <p class="has-text-left">You're welcome to change these, find out how to using your Getting Started guide.</p><br />
          <div class="notification is-light has-text-left">
            <article class="media">
              <figure class="media-left">
                <span class="icon has-text-danger"><i class="fa fa-warning"></i></span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    If you reset the modem, you'll also reset the DSL password we set. So you'll need to get in contact with us.
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
          <img src="/static/wifipassword.svg" style="max-height:300px">
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
