<!doctype html>
<head>
<html lang=en>
<title>{% block title %}{% endblock %} | Karma Computing</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" type="text/css" href="/static/bulma.min.css">
<meta name="theme-color" content="#1e88e5">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22031796-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-22031796-1');
</script>


</head>

<body>
  <section class="hero is-info kcBlue is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.karmacomputing.co.uk">
            <img src="/static/logo_with_white_text.svg" alt="Karma Computing ltd" width="112" height="28">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://www.karmacomputing.co.uk">
              Main Website
            </a>
            <a class="navbar-item" href="/gettingstarted">
              Existing Customer
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted" href="https://www.karmacomputing.co.uk/page/website.contactus">
                <span>Contact Us</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      {% block body %}{% endblock %}
    </div>
  </div>

  {% block footer %}{% endblock %}

</section>
</body>

<script src="/static/app.js"></script>
<script src="/static/example.js"></script>
</html>
