<!doctype html>
<html lang=en>
<head>
<title>{% block title %}{% endblock %} | Karma Computing</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="/static/bulma.css">
<link href="https://fonts.googleapis.com/css?family=Lato:900,400" rel="stylesheet">
<meta name="theme-color" content="#1e88e5">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5K5C9DR');</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- End Google Tag Manager -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet"></head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5K5C9DR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <nav class="navbar is-info kcBlue">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/static/logo_with_white_text.svg" alt="Karma Computing ltd" width="112" height="28">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="https://www.karmacomputing.co.uk">
            Main Website
          </a>
          <a class="navbar-item" href="https://support.karmacomputing.co.uk">
            Help &amp; Support
          </a>
          <span class="navbar-item">
            <a class="button is-info is-inverted" href="https://www.karmacomputing.co.uk/page/website.contactus">
              <span>Contact Us</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>

  <div class="site-content">

    <section class="hero kcBlue" style="margin-bottom:25px;">
      <div class="hero-body has-text-centered">
        {% block hero %}{% endblock %}
      </div>
    <img src="/static/rounded_border.png" style="width:100%;" />
    </section>
    <main class="main">
      {% block body %}{% endblock %}
    </main>

  </div>

  <footer class="footer" style="padding: 3rem 1.5rem 3rem;">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>KC Broadband Checker</strong> by <a href="https://www.karmacomputing.co.uk">Karma Computing Ltd</a>.
          <br />Made with <3 by the KC gang in Newcastle upon Tyne</a>.
        </p>
        <br />
        <a href="#" class="button is-small">Scroll back to top</a>
      </div>
    </div>
  </footer>


</body>

<script src="/static/app.js"></script>
<script src="/static/example.js"></script>
<!-- Google Code for tawk.to Chat Conversion -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-878294506/qWg4CKiW7XcQ6uvmogM',
      'event_callback': callback
  });
  return false;
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH-7qUJIuofix2CcnMf3vJ2sTo2T7t1qs&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js" charset="utf-8" async="async"></script>
<script type="text/javascript">

var Tawk_API = Tawk_API || {};
Tawk_API.onChatStarted = function(){
       gtag_report_conversion();
};
</script>

<script type="application/javascript">
    jQuery(document).ready(function ($) {
      $('.modal-button').click(function() {
        console.log("Modal Opened");
        var target = $(this).data('target');
        $('html').addClass('is-clipped');
        $('#' + target).addClass('is-active');
      });
      $('.modal-background, .modal-close').click(function() {
        $('html').removeClass('is-clipped');
        $('.modal').removeClass('is-active');
      });
      $('.modal-card-head .delete').click(function() {
        $('html').removeClass('is-clipped');
        $('.modal').removeClass('is-active');
      });
      $('.modal-card-body #close').click(function() {
        $('html').removeClass('is-clipped');
        $('.modal').removeClass('is-active');
      });
      $(document).on('keyup',function(e) {
        if (e.keyCode == 27) {
          $('html').removeClass('is-clipped');
          $('.modal').removeClass('is-active');
        }
      });
    });
  </script>

</html>
