<!doctype html>
<title>{% block title %}{% endblock %} | Karma Computing</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#1e88e5">

<div class=box>
  <h1><a href="/">Karma Computing</a></h1>
  <p class=tagline>Honest broadband vailability checker in your area.</p>
  <p>Otherwise available (non mobile friendly) at <a href="https://www.dslchecker.bt.com/adsl/ADSLChecker.AddressOutput">dslchecker</a>
    {% block body %}{% endblock %}
  </div>

<script src="/app.js"></script>
<link rel=stylesheet href=/static/style.css type=text/css>
