{% extends "layout.html" %}
{% block title %}Broadband Availability Checker{% endblock %}
{% block body %}

<img src="/static/house_telegraph_pole.svg" id="telegraphPole" style="max-width: 800px; width:75%;" />
<img src="/static/loading.gif" id="loading" style="max-width: 800px; width:75%;" />

  <h1 class="title is-1">Broadband Availability Checker</h1>

  <h2 class="subtitle is-3">Let's see what you can get</h2>
  <p>Enter your house/business number and post code into the form below, we'll use this to find out what services we can provide you with</p>
  <br /><br />
  <form action="" id="check" method=post>
    {% if error %}
    <p class=error><stong>Error:</strong> {{ error }}
      {% endif %}

      <div class="columns">
        <div class="column is-one-quarter">
          <div class="field">
            <div class="control">
              <input class="input is-large" type="text" placeholder="Enter your house number" name=buildingnumber id=buildingnumber value="{{ buildingnumber }}">
            </div>
          </div>
        </div>
        <div class="column is-three-quarter">
          <div class="field">
            <div class="control">
              <input class="input is-large" type="text" placeholder="Enter your post code" name=PostCode id=PostCode value="{{ PostCode }}">
            </div>
          </div>
        </div>
      </div>

      <input type=submit id="checkAvailability" class="button is-large" value="Check Availability">
  </form>


<style>
  #loading {
    display: none;
  }
</style>
{% endblock %}
