{% extends "layout.html" %}
{% block title %}Broadband Availability Checker{% endblock %}
{% block body %}
  <h1>Broadband Availability Checker</h1>
  <form action="" id="check" method=post>
    {% if error %}
    <p class=error><stong>Error:</strong> {{ error }}
      {% endif %}

      <label for=buildingnumber>
      House number: <input type=text name=buildingnumber id=buildingnumber value="{{ buildingnumber }}" class=buildingnumberinput >
      </label>

      <label for=PostCode>
      Postcode: <input type=text name=PostCode id=PostCode value="{{ PostCode }}" class=PostCodeinput >
      </label>

      <input type=submit value="Check Availability">
  </form>

{% endblock %}
