{% extends "layout.html" %}
{% block title %}Broadband Availability Checker{% endblock %}
{% block body %}
  <h1>Broadband Availability Checker</h1>
  <form action="" id="check" method=post>
    {% if error %}
    <p class=error><stong>Error:</strong> {{ error }}
      {% endif %}
    <p>House number:
      <input type=text name=buildingnumber value="{{ buildingnumber }}" class=buildingnumberinput >
    <p>Postcode:
      <input type=text name=PostCode value="{{ PostCode }}" class=PostCodeinput >
      <input type=submit value="Check Availability">
  </form>

{% endblock %}
