{% extends "layout.html" %}
{% block title %}New Customer{% endblock %}

{% block hero %}

  <div class="container">
    <img src="/static/house_telegraph_pole_connection.svg" style="max-width: 500px; width:75%;" />
    <h1 style="color:white" class="title is-1 is-size-3-mobile">It's great to meet you</h1>
    <h2 style="color:white" class="subtitle is-3 is-size-5-mobile">Fill in the form below to confirm your details</h2>
  </div>

{% endblock %}

{% block body %}

<div class="section">
  <div class="container">

  <form action="" id="new_customer" method=post action=/new_customer >

    {% if error %}
      <p class=error><stong>Error:</strong> {{ error }}
    {% endif %}

    <h3 class="title is-3 is-size-4-mobile" style="text-align:left">Your details</h3>
    <p class="subtitle is-5 is-size-6-mobile" style="text-align:left">We only use your details in order to get in touch with you regarding the order status and for billing. No spam, no rubbish.</p>

    <div class="columns" style="text-align:left">
      <div class="column">
        <div class="field">
          <label for="given_name" class="label">First Name</label>
          <p class="control has-icons-left">
            <input class="input is-medium" type="text" name=given_name id=given_name value="{{ given_name }}" placeholder="Enter your first name">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label for="family_name" class="label">Last Name</label>
          <p class="control has-icons-left">
            <input class="input is-medium" type="text" name=family_name id=family_name value="{{ family_name }}" placeholder="...and now your last name">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="columns" style="text-align:left">
      <div class="column">
        <div class="field">
          <label for="mobile" class="label">Main Contact Number</label>
          <p class="control has-icons-left">
            <input class="input is-medium" type="tel" name=mobile id=mobile value="{{ mobile }}" placeholder="Enter your mobile number">
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label for="email" class="label">Email Address</label>
          <p class="control has-icons-left">
            <input class="input is-medium" type="email" name=email id=email value="{{ email }}" placeholder="...and now your email address">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
      </div>
    </div>

    <h3 class="title is-3 is-size-4-mobile" style="text-align:left">Your Address</h3>
    <p class="subtitle is-5 is-size-6-mobile" style="text-align:left">The address shown below is where the broadband service will be installed and activated. If your billing address is different, enter this on the next stage.</p>

    <div class="notification is-light">
      <div class="columns">
        <div class="column">
          <p><i class="em em-house_with_garden"></i>&nbsp;&nbsp;{{ buildingnumber }} {{ route }}, {{ postal_town }}, {{ postCode }}</p>
        </div>
        <div class="column is-one-third" style="text-align:right">
          <a class="button is-dark is-small is-fullwidth modal-button" data-target="modalResetAddress" style="max-width: 300px; display: inline-flex;"><span class="icon is-small is-left"><i class="fas fa-edit"></i></span>&nbsp;&nbsp;Change Service Address</a>
        </div>
      </div>
    </div>
    <p>We filled in your address information based on the address you searched for. Please make sure this is correct as any errors may result in your order being delayed or cancelled. You must also have permission from either the landlord or property owner that you can change the service provider of the line serving this premises.</p>
    <br />
    <input type=submit class="button is-success is-large is-pulled-right" value="Continue to Payment">
    <br /><br />

  </form>
</div>
</div>

<div class="modal" id="modalResetAddress">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><i class="em em-information_desk_person"></i> Change Service Address</p>
    </header>
    <section class="modal-card-body">
      <p>Because the plan you've selected was checked against your address, you can't change it at this stage. Click the button below to go back to the start, you can enter the new address into the search box there.</p>
      <br />
      <a href="/" class="button is-medium is-dark is-fullwidth">Restart Order</a>
    </section>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

{% endblock %}
