{% extends "layout.html" %}
{% block title %}Nearly Done{% endblock %}

{% block hero %}

  <img src="/static/prerequisites.svg" style="max-width: 500px; width:75%;" />

  <h1 style="color:white" class="title is-1 is-size-3-mobile">Final Questions</h1>
  <div class="question1">
    <h2 style="color:white" class="subtitle is-3 is-size-5-mobile">Does your premises already have a phone line?</h2>
    <div class="container" style="width:75%; max-width:800px;">
      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <a class="button is-success is-fullwidth is-large" id="1_yes">Yes</a>
        </div>
        <div class="column">
          <a class="button is-danger is-fullwidth is-large" id="1_no">No</a>
        </div>
      </div>
      <a class="button is-fullwidth is-outline modal-button" data-target="modalDoI">Do I have a phone line?</a><br />
      <small style="text-align:center; color:white">If your property has a telephone line already installed, click 'Yes'. Otherwise click 'No' If you don't know, select 'No'.</small>
    </div>
  </div>
  <div class="question1_title" style="display:none">
    <h2 style="color:white" class="subtitle is-3 is-size-5-mobile">Great, please answer the questions below...</h2>
  </div>

{% endblock %}

{% block body %}

  <form id="prereq">

  <div class="section">

    <div class="container question2" id="phoneline_yes" style="display:none">

      <h3 class="title is-4 has-text-centered">You've got a phone line</h3>
      <p class="has-text-centered"><a class="button is-small is-warning">Change first answer</a></p>

      <br />

      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h3 class="title is-4">What's your current landline number?</h3>
          <p>If you've already got a line into your premises, we need to know the current landline number. This helps us with the line registration process, to make sure we take over the correct line. If you don't know this, please enter 'Not Known'. We may contact you regarding your order if this causes any problems.</p>
        </div>
        <div class="column">
          <div class="field">
            <input id="1" type="text" name="current_cli" placeholder="E.g. 01291409800" class="input is-large">
          </div>
        </div>
      </div>

      <br />

      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h3 class="title is-4">Do you require a new line to be installed?</h3>
          <p>How can you be expected to browse the internet... with a wire attached?! Not here, we'll send you a free Wireless Hub when you sign up. It comes pre-configured with everything set (including a simple but secure WiFi password), so you just need to simply Plug and Play.</p>
        </div>
        <div class="column">
          <div class="field">
            <input id="2" type="checkbox" name="2" class="switch is-large is-rounded is-success">
            <label for="2">Yes, I need an engineer to install a line<label>
          </div>
        </div>
      </div>
    </div>

    <div class="container question2" id="phoneline_no" style="display:none">

      <h3 class="title is-3 has-text-centered">You haven't got a phone line</h3>
      <p class="has-text-centered"><a class="button is-small is-warning">Change first answer</a></p>

      <br />

      <p>Because you don't have a phone line already installed, we'll have to send an engineer round to get you connected to our network. Our connection is delivered using Openreach's telephone network, so even if you don't want to make phone calls, you still need a live telephone wire connected to your premises. We can typically do this for free (terms and conditions apply) if you agree to a 24 month contract instead of 3 months for ADSL <i>or</i> 12 for Fibre. We need to ask a few more questions about your property before we can begin the planning stage.</p>

      <br />

      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h3 class="title is-4">Are you in a new build?</h3>
          <p>If you're in a new build, there may already be plans to connect your premises to the OpenReach network. Click the toggle to state if you're in a new building. We define new as a building that has been developed/built in the last 6 months.</p>
        </div>
        <div class="column">
          <div class="field">
            <input id="newBuild" type="checkbox" name="newBuild" class="switch is-large is-rounded is-success">
            <label for="newBuild">Yes, I'm in a new building<label>
          </div>
        </div>
      </div>

      <br />

      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h3 class="title is-4">Do you require a new line to be installed?</h3>
          <p>How can you be expected to browse the internet... with a wire attached?! Not here, we'll send you a free Wireless Hub when you sign up. It comes pre-configured with everything set (including a simple but secure WiFi password), so you just need to simply Plug and Play.</p>
        </div>
        <div class="column">
          <div class="field">
            <input id="modem" type="checkbox" name="modem" class="switch is-large is-rounded is-success">
            <label for="modem">Yes, I need an engineer to install a line<label>
          </div>
        </div>
      </div>
    </div>


  </form>
</div>

  <div class="section">
    <div class="container">
          <h3 class="title is-4">Why do we need to know this?</h3>
          <p class="has-text-left">Telling us about the current wiring and sockets you've got in your premises can help us determine if you need an engineer to visit. If you've already got a broadband connection and you're just moving, it's likely we can use whatever socket(s) and wiring you've already got.</p>
    </div>
  </div>

  <script>
    $('.pricing-plan').hover(
         function(){ $(this).addClass('is-active') },
         function(){ $(this).removeClass('is-active') }
    )
    $('#1_yes').click(
    function(){
      $('.question2').hide(),$('.question1').fadeOut(1000, function(){$('.question1_title').fadeIn(1000, function(){$('#phoneline_yes').fadeIn()})})}
    )
    $('#1_no').click(
    function(){
      $('.question2').hide(),$('.question1').fadeOut(1000, function(){$('.question1_title').fadeIn(1000, function(){$('#phoneline_no').fadeIn()})})}
    )

  </script>

  <div class="modal" id="modalDoI">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"><i class="em em-fishing_pole_and_fish"></i>&nbsp;&nbsp;Do I have a Phone Line?</p>
      </header>
      <section class="modal-card-body content">
        <p>Internet can be delivered to a premises using a variety of methods, we here at KC Broadband use Openreach's telephone network. To see if you've already got a phone line, check the following:</p>
        <ul>
          <li><p>If you currently receive broadband from TalkTalk, Sky, EE, PlusNet, BT you already have a phone line, so <b>click 'Yes'</b></p></li>
          <li><p>If you can find a telephone socket in your premises with an OpenReach or BT logo on it, <b>click 'Yes'</b></p></li>
          <li><p>If you're in a newly built house and have been informed by the developer that you <u>don't</u> have a phone line, <b>click 'No'</b></p></li>
          <li><p>If you are unsure, can't find any telephone sockets and your landlord/developer doesn't know, <b>click 'No'</b></p></li>
        </ul>
        <p>Click anywhere outside this box, or the 'X' in the top right to exit this pop-up.</p>
      </section>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

{% endblock %}
