{% extends "admin/layout.html" %}


{% block title %}
  {{ title }}
{% endblock title %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='spectrum/spectrum.min.js') }}" /></script>
<link rel='stylesheet' href="{{ url_for('static', filename='spectrum/spectrum.min.css') }}" />

<h2 class="text-center text-dark mb-3">Documents</h2>

<div class="container text-muted">
  Documents related to {{ company.name }}
</div>

<main>
  <div class="section">
    <div class="container">
      <ul>
      {% for document in documents %}
      <li><a href="{{ url_for('document.show_document', document_uuid=document.uuid) }}">{{ document.name }}</a></li>
      {% endfor %}
      </ul>
    </div><!-- end container -->
  </div><!-- end section -->
</main>


{% endblock body %}
