{% extends "admin/layout.html" %}
{% block title %} {{ title }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Subscriber: {{ person.given_name }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.subscribers') }}">Subscribers</a></li>   
    <li class="breadcrumb-item active" aria-current="page">Create Charge</li>
  </ul>
</div>
      
<main>
  <div class="container">
      <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">{{ person.given_name }} {{ person.family_name }}</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ person.email }}</li>
            <li class="list-group-item">{{ person.mobile }}</li>
            <li class="list-group-item"><strong>Address</strong>
              <address>
                {{ person.address_line1  }} <br />
                {{ person.city }} <br />
                {{ person.postal_code }}
              </address>
            </li>
          </ul>
          <br />
        </div>

        <div class="col-md-1"></div>

        <div class="card col-md-7" style="width: 18rem;">
          <div class="card-body">
            <h3>Create an instant charge</h3>
            <form action="{{ url_for('admin.stripe_create_charge') }}" method="POST">
              <input type="hidden" name="person_id" value="{{ person.id }}" />
              <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" name="amount" class="form-control" id="amount" aria-describedby="amountHelp" placeholder="2000" required>
                <small id="amountHelp" class="form-text text-muted">Enter the amount in smallest unit. E.g. 2000 is &pound;20</small>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control" id="description" placeholder="Ref 123xyz" aria-describedby="descriptionHelp" maxlength="22" required>
                <small id="descriptionHelp" class="form-text text-muted">This will appear on their bank statement. Max length 22</small>
              </div>
              <button type="submit" class="btn btn-danger">Charge Subscriber Now</button>
            </form>

          </div>
        </div>
      </div>

  </div><!--end container-->

</main>

{% endblock body %}
