{% extends "admin/layout.html" %}
{% block title %} {{ title }} {% endblock %}

{% block body %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2 class="text-center text-dark mb-3">Subscriber: {{ person.full_name | title }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.subscribers') }}">Subscribers</a></li>   
    <li class="breadcrumb-item active" aria-current="page"> {{ person.given_name }}</li>
  </ul>
</div>
      
<main>
  <div class="container">
      {# subscriber basic details #}
      <div class="row">
        <div class="card col-md-12">
          <div class="card-body">
            <h3 class="card-title">👤 {{ person.full_name | title }}</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">📧 {{ person.email }}</li>
            <li class="list-group-item">📱 {{ person.mobile }}</li>
            <li class="list-group-item">🏠 <strong>Address</strong>
              <address>
                {{ person.address_line1  }} <br />
                {{ person.city }} <br />
                {{ person.postal_code }}
              </address>
            </li>
          </ul>
          <a class="btn btn-success mb-4" title="Instantly charge your subscriber a one-off amount" href="{{ url_for('admin.charge_subscriber', person_id = person.id) }}">Charge Subscriber</a>
          <a class="btn btn-danger" href="{{ url_for('admin.archive_subscriber', subscriber_id = person.id) }}">Archive Subscriber</a>
          <br />
        </div>
      </div>
      {# end subscriber basic details #}

      <div class="row mt-5">
        <div class="card col-md-12">
          <div class="card-body">
            <h3>Subscriber Balance</h3>
            <p>Subscriber balance is the total charged <em>minus</em> total successfully collected over the lifetime
            of their account.</p>

      <dl class="row">
       <dt class="col-sm-3">All-Time<dt>
       <dd class="col-sm-9"></dd>
       <dt class="col-sm-3">Total Charged:</dt>
       <dd class="col-sm-9">{{ currencyFormat( get_geo_currency_code(), customer_balance_list['total_charged']) }}</dd>
              <dt class="col-sm-3">Total Collected:</dt>
       <dd class="col-sm-9">{{ currencyFormat( get_geo_currency_code(), customer_balance_list['total_collected']) }}</dd>
              <dt class="col-sm-3">Balance:</dt>
       <dd class="col-sm-9">{{ currencyFormat( get_geo_currency_code(), customer_balance_list['customer_balance']) }} (not collected- <a href="#whyNegativeBalance">why?</a>)</dd>
           </dl>

     <div>
      <canvas id="customerBalancePieChart"></canvas>
     </div>

     <script>
     // Subscriber balance Pie chart
     const ctx = document.getElementById('customerBalancePieChart');

     var data = {
      labels: ['Total Collected', 'Total Outstanding'],
      datasets: [
       {
        label: '',
        data: [{{ customer_balance_list['total_collected']/100 }}, {{ customer_balance_list['customer_balance']/100 }}]
       }
      ]
     }

     var pieChart = new Chart(ctx, {
      type: 'pie',
      data: data,
            options: {
              responsive: false,
              title: {
                display: true,
                text: 'Total collected, Total outstanding'
              },
       plugins: {
         tooltip: {
           callbacks: {
             label: function(context) {
                              console.log(context);
               let label = context.dataset.label || '';

               if (label) {
                 label += ': ';
               }
               if (context.parsed.y !== null) {
                 label += new Intl.NumberFormat('en-GB', { style: 'currency', currency: '{{ get_geo_currency_code() }}' }).format(context.parsed);
               }
               return label;
             }
           }
         }
       }
            }
     });
     </script>
          {% if customer_balance_list['customer_balance'] > 0 %}
              {% if collection_decline_codes|count != 0 %}
              <br />
              <h4 id="whyNegativeBalance">Why might this Subscriber owe money?</h4>
              <p>Over the lifetime of this account, Subscribie has seen the following decline codes (from the bank, payment processor or credit network) when collecting payments from {{ person.given_name }}:</p>
                  <ul style="list-style-type: disc" class="p-3">
                  {% for  decline_code in collection_decline_codes %}
                        <li>
                        {{ decline_code }}
                        {% if decline_code  == "do_not_honor" %}
                            <details><summary>What does "<em>{{ decline_code }}</em>" mean?</summary>
                              <p>The only way to resolve this is to ask your customer to reach out to 
                                their card-issuing bank to look at the transaction and determine why it was declined.</p>
                              <p>Customers should provide the bank with the charge amount, date/time, and the company name for assistance</p>
                        {% elif decline_code  == "insufficient_funds" %}
                            <details><summary>What does "<em>{{ decline_code }}</em>" mean?</summary>
                              <p>The card had insufficient funds to complete the purchase at the time it was charged</p>
                        {% elif decline_code  == "generic_decline" %}
                        <details><summary>What does "<em>{{ decline_code }}</em>" mean?</summary>
                          <p>The card was declined for an unknown reason or incorrectly flaged as a risky payment.</p>
                          <p>The customer needs to contact their card issuer for more information.</p>
                        {% endif %}
                      </li>
                  {% endfor %}
                  </ul>

              <h4>Missing Payments</h4>
              {% if open_invoices|count == 0 %}
                  <p>There are no failed payments for {{ person.given_name }}.{% if customer_balance_list['customer_balance'] > 0 %} However one or more payment collections failed their first attempt.{% endif %}</p>
                  {% if customer_balance_list['customer_balance'] > 0 %}
                   <p>Automatic payment retries are taking place soon to collect outstanding payments.</p>
                   <p>We recommend you allow the automatic retries to take place before sending the subscriber a payment URL to 
                   avoid double payment.</p>
                   <p>If retries completely fail for a payment, a payment url is generated to chase the subscriber manually.</p>
                  {% endif %}

              {% endif %}
              {% if open_invoices|count > 0 %}
              <p>Easily identify failed payments for which no more automatic retries will take place.</p>
              <p>You may wish to manually chase the subscriber, and send them the 'Invoice Payment URL' <em>for each invoice</em> in order
                for them to settle the outstanding amount(s) for each unsettled invoice.
              </p>

              <div id="scroll-alert" class="alert alert-info" style="display:none;">
                <em>&lt;---- Swipe table to the left to see all</em>
              </div>
              <table id="subscriber-invoices">
                <tr>
                  <th>Plan title</th>
                  <th>When?</th>
                  <th>Amount Unpaid</th>
                  <th>Invoice payment URL</th>
                  <th>Invoice Reference</th>
                </tr>
                {% for open_invoice in open_invoices %}
                <tr>
                  <td>{{ open_invoice.subscribie_subscription.plan.title }}</td>
                  <td>{{ open_invoice.created | timestampToHumanReadableDate }}</td>
                  <td>£23</td>
                  <td><a href="{{ open_invoice.hosted_invoice_url }}" title="Send this invoice url to your subscriber to chase payment" target="_blank">Payment link</a></td>
                  <td>{{ open_invoice.id }}</td>
                </tr>
                {% endfor %}
                </table>
              {% endif %} {# end if open_invoices|count > 0 #}

              {% endif %}


              {% if collection_decline_codes|count > 0 %}
                <h4 class="mt-5">Exactly which payment collections are failing or failed?</h4>
              {% endif %}
              <p>Examine {{ person.given_name }}'s <a href="#invoices">Invoices</a> and look for errors such as
              "<em>insufficient_funds</em>" to get an idea of their situation.
              </p>
              <p>Read the <a href="#invoice-heading-explanations">Invoice heading explanations</a> such as "attempts" to get an idea of any patterns to payments collection issues.</p>
          {% endif %}

          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="card col-md-12">
          <div class="card-body">
            <h3>Subscriptions</h3>
          </div>
          <ul class="list-group list-group-flush">
            {% for subscription in person.subscriptions %}
              <li class="list-group-item">
                <strong>{{ subscription.plan.title }}</strong><br />
                <strong>Status:</strong> {{ subscription.stripe_status or 'Unknown' }} <br />
                <strong>Started: </strong> {{ subscription.created_at.strftime('%d-%m-%Y') }}<br />
                <strong>Interval Unit:</strong> 
                        {% if subscription.plan.requirements.subscription %}
                          {{ subscription.plan.interval_unit|capitalize }} 
                        {% else %}
                          (One-off. Not a subscription)
                        {% endif %}
                  <br />
                {% if subscription.plan.requirements.subscription %}
                  {% if subscription.stripe_status|lower == 'active' %}
                  <strong>Next date:</strong> {{ subscription.next_date().strftime('%d-%m-%Y') }} <br />
                  {% endif %}
                {% endif %}
                {% if subscription.question_answers %}
                <strong>Question Answers:</strong>
                  {% for answer in subscription.question_answers %}
                    <details>
                      <summary>
                        {{ answer.question_title }}
                      </summary>
                      {{ answer.response }}
                    </details>
                  {% endfor %}

                {% endif %}

                {% if subscription.chosen_options %}
                <strong>Choices:</strong>
                  
                  {% for chosen_option in subscription.chosen_options %}
                    <details open>
                      <summary>
                        {{ chosen_option.choice_group_title }}:
                      </summary>
                      {{ chosen_option.option_title }}
                    </details>
                  {% endfor %}

                {% endif %}

                <a href="{{ url_for('admin.transactions', subscriber=person.uuid) }}" title="View transactions">View Transactions</a>
                <br />
                <strong>Documents: </strong>
                {% if subscription.documents|length == 0 %}
                   None
                {% else %}
                  <ul>
                  {% for document in subscription.documents %}
                  {# Show documents assocated with subscription (if any) #}
                  <li><a href="{{ url_for('document.show_document', document_uuid=document.uuid) }}">
                      {{ document.name }}</a> | 
                      {{ document.created_at.strftime('%Y-%m-%d') }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <!-- invoices list -->
          <div class="card-body" id="invoices">
            <h3>Invoices</h3>
            <div id="scroll-alert" class="alert alert-info" style="display:none;">
              <em>&lt;---- Swipe invoice table to the left to see all</em>
            </div>
            <style>
            #subscriber-invoices {
              border-collapse: collapse;
            }
            #subscriber-invoices tbody {
              display: block;
              overflow-x: scroll;
            }
            @media (max-width: 850px) {
              /* Scroll invoices table on mobile */
              #scroll-alert {
                display: block !important;
              }
              #subscriber-invoices tbody {
                max-width: 450px;
              }
            }
            @media (max-width: 400px) {
              #subscriber-invoices tbody {
                max-width: 265px;
              }
            }
            #subscriber-invoices th {
              padding: 8px;
            }
            #subscriber-invoices tr {
              border-bottom: 1px solid lightgray;
            }
            #subscriber-invoices td {
              text-align: center;
              padding: 0.75em;
            }
            </style>
            <table id="subscriber-invoices">
            <tr>
              <th>Amount</th>
              <th>Status</th>
              <th>Charge Date</th>
              <th>Attempts</th>
              <th>Errors</th>
              <th>Next retry</th>
              <th>Download</th>
            </tr>
              {% for invoice in invoices %}
              <tr>
                <td>{{ currencyFormat(invoice.currency, invoice.amount_due) }}</td>
                <td>{{ invoice.status }}</td>
                <td>{{ invoice.created | timestampToDate }}</td>
                <td>{{ invoice.attempt_count }}</td>
                <td>{{ invoice['stripe_decline_code'] or '' }}</td>
                {% if invoice.status == "open" %}
                <td>{{ invoice.next_payment_attempt | timestampToDate or 'Never'}}</td>
                {% else %}
                <td>{{ invoice.next_payment_attempt | timestampToDate or ''}}</td>
                {% endif %}
                <td><a href="{{ url_for('admin.download_invoice', invoice_id=invoice.id) }}" title="Download invoice">Download</a></td>
              </tr>
              {% endfor %}
            </table>
            <hr id="invoice-heading-explanations" />
            <h4>Invoice heading explanations</h4>
            <dl>
                <dt>open</dt>
                <dd>The invoice has been finalised, and is awaiting customer payment.</dd>

                <dt>paid</dt>
                <dd>The invoice was paid.</dd>

                <dt>uncollectible</dt>
                <dd>The customer is unlikely to pay this invoice (treat it as bad debt in your accounting process).</dd>

                <dt>Attempts</dt>
                <dd>Number of payment attempts made for this invoice, from the perspective of the payment retry schedule. Any payment attempt counts as the first attempt, and subsequently only automatic retries increment the attempt count.</dd>

                <dt>Next Retry</dt>
                <dd>If a charge fails for a given invoice, and it can be retried, then "next retry" is the date when
                    another attempt to charge the subscriber will be made to collect that outstanding charge. Note
                    that new invoices will still be raised for a subscription if the subscription is still active.</dd>
            </dl>

            <details>
              <summary>When are failed payment attempts retried?</summary>
              <p>Using machine learning, Smart Retries chooses optimal times to retry failed payment attempts to increase the chance of successfully paying an invoice. The machine learning system behind Smart Retries uses hundreds of time-dependent, dynamic signals, such as:</p>
              <ul>
                <li>The number of different devices that have presented a given payment method in the last N hours.</li>
                <li>The optimal time to pay (payments made for debit cards in certain countries might be slightly more successful at 12:01 AM in local time zones).</li>
              </ul>
              <p>A payment retry will happen no more than 8 times within 3 weeks.</p>
            </details>


          </div>
          <!-- end invoices list -->
        </div>
      </div>

  </div><!--end container-->

</main>

{% endblock body %}
