PLAYWRIGHT_HEADLESS=false
PLAYWRIGHT_HOST=http://127.0.0.1:5000/
PLAYWRIGHT_SLOWMO=500

PLAWRIGHT_MAX_RETRIES=1
# GLOBAL EMAIL SETTINGS #
IMAP_SEARCH_UNSEEN="1"
IMAP_SEARCH_SINCE_DATE="21-Aug-2022"
EMAIL_SEARCH_API_HOST="email-search-api.example.com"

# SHOP OWNER EMAIL SETTINGS #
SHOP_OWNER_EMAIL_HOST="email.example.co.uk"
SHOP_OWNER_EMAIL_USER="alice@example.co.uk"
SHOP_OWNER_MAGIC_LOGIN_IMAP_SEARCH_SUBJECT="Subscribie Magic Login"
SHOP_OWNER_EMAIL_PASSWORD="secret"

# SUBSCRIBER EMAIL SEttingS #
SUBSCRIBER_EMAIL_HOST="email.example.co.uk"
SUBSCRIBER_EMAIL_USER="test@example.co.uk"
SUBSCRIBER_EMAIL_PASSWORD="secret"
RESET_PASSWORD_IMAP_SEARCH_SUBJECT="Password Reset"


#Test Folder name
TEST=GBP-tests
