{% extends "admin/layout.html" %}
{% block title %} Account - {{ company.name }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">{{ company.name }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Account</li>
  </ul>
</div>

<div class="container">

  <div class="card px-3 py-3 my-3">
    <h3 class="card-title">Your subscriptions</h3>

    <p>View your subscriptions.</p>
    <p>Please contact {{ company.name }} if you wish to alter your subscription.</p>
      <a class="btn btn-success mb-3" 
          href="{{ url_for('subscriber.subscriptions') }}">
        Manage Subscriptions
      </a>
  </div>

  <div class="card px-3 py-3 my-3">
    <h3 class="card-title">File access</h3>

    <p>Some subscriptions may give you access to files. If they do, they will appear below</p>
      <a class="btn btn-success mb-3" 
          href="{{ url_for('subscriber.list_files') }}">
        View Files
      </a>
  </div>

  <div class="card px-3 py-3 my-3">
    <h3 class="card-title">Private Pages Access</h3>

    <p>Some subscriptions may give you access to private pages. If they do, they will appear below</p>
    <ul>
      {% for page in pages if page.private %}
      <li><a href="/{{ page.path }}">{{ page.page_name }}</li>
      {% endfor %}
    </ul>
  </div>

</div>


{% endblock %}
