{% extends "admin/layout.html" %}
{% block title %} Account - {{ company.name }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Uploaded files</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Uploaded files</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

          <h2>Uploaded Files</h2>
          <p>Files listed here will be available to your subscribers when they login.</p>
    <style>
    th {
        padding: 5px;
    }
    </style> 
    <table border="1">  
    <thead>
        <th>File name</th>
        <th>Created at</th>
    </thead>
    {% for file in files %}
    <tr>
        <th><a href="{{ url_for('admin.download_file', uuid = file.uuid) }}" target="_blank">{{ file.file_name }}</th>
        <th>{{ file.created_at.strftime('%d/%m/%Y %H:%M') }}</th>
    <tr>
    {% endfor %}

    </table>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>



{% endblock %}
