{% extends "admin/layout.html" %}
{% block title %} {{ _('Subscriptions') }} - {{ company.name }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">{{ _('Subscriptions') }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('subscriber.account') }}">{{ _('My Account') }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ _('Subscriptions') }}</li>
  </ul>
</div>

<div class="container">

    <h3 class="card-title">{{ _('Your Subscriptions') }}</h3>
    {% for subscription in g.subscriber.subscriptions %}
      {% if subscription.plan %}
      <div class="card px-3 py-3 my-3">
        <ul class="list-unstyled px-2">
            <li><strong>{{ _('Title') }}: </strong>
                <span class="subscription-title">{{ subscription.plan.title }}</span>
            </li>
            {% if subscription.chosen_options %}
                <li>
                    <details open>
                        <summary><strong>{{ _('Chosen Options') }}</strong></summary>
                        <ul>
                            {% for choice in subscription.chosen_options %}
                                <li><strong>{{ choice.choice_group_title }}:</strong> {{ choice.option_title }}</li>
                            {% endfor %}
                        </ul>
                    </details>
                    <a href="{{ url_for('subscriber.update_subscription_choices', subscription_id=subscription.id) }}" class="btn btn-success">
                      {{ _('Update Choices') }}
                    </a>
                </li>
            {% endif %}
            <li><strong>{{ _('Subscription ID') }}: </strong>{{ subscription.uuid }}</li>
            <li><strong>{{ _('Date started') }}: </strong>{{ subscription.created_at.strftime('%Y-%m-%d') }}</li>
            <li>
                {% if subscription.plan.requirements and subscription.plan.requirements.subscription %}
                    <strong>{{ _('Price') }} ({{ subscription.plan.interval_unit }}): </strong>
                    <span class="subscribers-plan-interval_amount">{{ subscription.plan.showIntervalAmount() }}</span>
                {% else %}
                    ({{ _('One-off') }}. {{ _('Not a subscription') }})
                {% endif %}
            </li>
            <li><strong>{{ _('Sell price') }}: </strong>
                <span class="subscribers-plan-sell-price">
                    {% if subscription.plan.requirements and subscription.plan.requirements.instant_payment %}
                        {{ subscription.plan.showSellPrice() }}</li>
                    {% else %}
                        ({{ _('No up-front fee') }})
                    {% endif %}
                </span>
                <li><strong>{{ _('Status') }}: </strong>
                    {% if subscription.plan.requirements and subscription.plan.requirements.subscription %}
                        {{ subscription.stripe_status }}
                    {% else %}
                        {{ _('Paid') }}
                    {% endif %}
                </li>
                {% if subscription.stripe_cancel_at %}
                  <strong>{{ _('Automatically Cancels at') }}:</strong>
                  {{ subscription.stripe_cancel_at | timestampToDate }}
                {% endif %}
                <li>
                </li>
                <li>
                    {% if subscription.plan.requirements and subscription.plan.requirements.note_to_seller_required %}
                        <details open>
                            <summary><strong>{{ _('Order Note') }}</strong></summary>
                            {% if subscription.note %}
                                {{ subscription.note.note }}
                            {% else %}
                                {{ _('No note was given') }}.
                            {% endif %}
                        </details>
                    {% endif %}
                </li>
        </ul>
        <h5>{{ _('Details') }}</h5>
        <ul>
        {% for selling_point in subscription.plan.selling_points  %}
          <li>{{ selling_point.point }}</li>
        {% endfor %}
        </ul>

      </div>
      {% endif %}
    {% endfor %}
</div>


{% endblock %}
