{% extends "subscriber/layout.html" %}
{% block title %} {{ _('Account') }} - {{ company.name }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">{{ _('Invoices') }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('subscriber.account') }}">My Account</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ _('Invoices') }}</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

          <h2>{{ _('Invoices') }}</h2>
          <p>
            View your invoices below.
          </p>
    <style>
        th {
            padding: 5px;
        }
    </style>
    <table class="table">
    <thead>
        <th>{{ _('Action') }}</th>
        <th>Download</th>
        <th>{{ _('Amount') }}</th>
        <th>{{ _('Charge Date') }}</th>
        <th>{{ _('Status') }}</th>
        <th>{{ _('Plan') }}</th>
        <th>{{ _('Charge attempts') }}</th>
        <th>{{ _('Next payment attempt') }}</th>
        <th>{{ _('Decline code') }}</th>
    </thead>
    {% for invoice in invoices %}
    <tr>
        <td><a href="{{ url_for("subscriber.subscriber_pay_invoice", invoice_reference=invoice.id) }}">Pay Now</a></td>
        <td><a href="{{ url_for('subscriber.subscriber_invoice_download', invoice_id=invoice.id) }}">Download</a></td>
        <td>{{ currency_format(invoice.currency, invoice.amount_due) }}</td>
        <td>{{ invoice.created | timestampToDate }}</td>
        <td>{{ invoice.status }}</td>
        <td>{{ invoice.subscribie_subscription.plan.title }}</td>
        <td>{{ invoice.attempt_count }}</td>
        <td>{% if invoice.next_payment_attempt is sameas None %} {{ _('Never') }} {% else %} {{ invoice.next_payment_attempt | timestampToDate }} {% endif %} </td>
        <td>{% if invoice['stripe_decline_code'] == 'unknown' %}  {% else %} invoice['stripe_decline_code'] {% endif %} </td>
    
    <tr>
    {% endfor %}

    </table>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>



{% endblock %}
