{% extends "admin/layout.html" %}
{% block title %} Subscriptions - {{ company.name }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Subscriptions</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('subscriber.account') }}">My Account</a></li>
    <li class="breadcrumb-item active" aria-current="page">Subscriptions</li>
  </ul>
</div>

<div class="container">

    <h3 class="card-title">Your Subscriptions</h3>
    {% for subscription in g.subscriber.subscriptions %}
      {% if subscription.plan %}
      <div class="card px-3 py-3 my-3">
        <h4>{{ subscription.plan.title }}</h4>
        <ul>
          <li><strong>Created at:</strong> {{ subscription.created_at.strftime('%d/%m/%Y') }}</li>
          <li><strong>Price:</strong> &pound;{{ "%.2f"|format(subscription.plan.interval_amount/100) }}</li>
          <li><strong>Interval Unit:</strong> {{ subscription.plan.interval_unit|capitalize }}</li>
          <li><strong>Next date:</strong> {{ subscription.next_date().strftime('%d-%m-%Y') }} </li>
        </ul>
        {% if subscription.chosen_options %}
        <strong>Chosen Options:</strong>

          {% for chosen_option in subscription.chosen_options %}
            <details open>
              <summary>
                {{ chosen_option.choice_group_title }}:
              </summary>
              {{ chosen_option.option_title }}
            </details>
          {% endfor %}

          <a href="{{ url_for('subscriber.update_subscription_choices', subscription_id=subscription.id) }}" class="btn btn-success">
            Update Choices
          </a>
        {% endif %}


        <h5>Details</h5>
        <ul>
        {% for selling_point in subscription.plan.selling_points  %}
          <li>{{ selling_point.point }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endfor %}
</div>


{% endblock %}
