{% extends "subscriber/layout.html" %}
{% block title %} {{ _('Account') }} - {{ company.name }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">{{ _('Failing Payments') }}</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('subscriber.account') }}">My Account</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ _('Failing Payments') }}</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

          <h2>{{ _('Failing Payments') }}</h2>
          <p>
            {{ _('A "failed invoice" means that all') }} <em>{{ _('automatic') }}</em> {{ _('payment collection attemps for a given invoice have failed, and there will be no further') }}
            <em>{{ _('automatic') }}</em> {{ _('payment collections for that invoices') }}.
          </p>
          <p>
            {{ _('Please note there may still be manual attempts made to collect the payment') }}.
          </p>
    <style>
        th {
            padding: 5px;
        }
    </style>
    <table class="table">
    <thead>
        <th>{{ _('Action') }}</th>
        <th>{{ _('Amount') }}</th>
        <th>{{ _('Charge Date') }}</th>
        <th>{{ _('Status') }}</th>
        <th>{{ _('Charge attempts') }}</th>
        <th>{{ _('Next payment attempt') }}</th>
        <th>{{ _('Decline code') }}</th>
    </thead>
    {% for bad_invoice in bad_invoices %}
    <tr>
        <td><a href="{{ url_for("subscriber.subscriber_pay_invoice", invoice_reference=bad_invoice.id) }}">Pay Now</a></td>
        <td>{{ currency_format(bad_invoice.currency, bad_invoice.amount_due) }}</td>
        <td>{{ bad_invoice.created | timestampToDate }}</td>
        <td>{{ bad_invoice.status }}</td>
        <td>{{ bad_invoice.attempt_count }}</td>
        <td>{% if bad_invoice.next_payment_attempt is sameas None %} {{ _('Never') }} {% else %} {{ bad_invoice.next_payment_attempt | timestampToDate }} {% endif %} </td>
        <td>{{ bad_invoice['stripe_decline_code'] or "Unknown" }} </td>
    
    <tr>
    {% endfor %}

    </table>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>



{% endblock %}
