{% extends "admin/layout.html" %}
{% block title %} Account - {{ company.name }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Failed Invoices</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('subscriber.account') }}">My Account</a></li>
    <li class="breadcrumb-item active" aria-current="page">Failed Invoices</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

          <h2>Failed Invoices</h2>
          <p>
            A "failed invoice" means that all <em>automatic</em> payment collection
            attemps for a given invoice have failed, and there wll be
            no further <em>automatic</em> payment collections for that invoices.
          </p>
          <p>
            Please note there may still be manual attempts made to collect the payment.
          </p>
    <style>
        th {
            padding: 5px;
        }
    </style>
    <table class="table">
    <thead>
        <th>Action</th>
        <th>Amount</th>
        <th>Charge Date</th>
        <th>Status</th>
        <th>Charge attempts</th>
        <th>Decline code</th>
    </thead>
    {% for failed_invoice in failed_invoices %}
    <tr>
        <td><a href="{{ url_for("subscriber.subscriber_pay_invoice", invoice_reference=failed_invoice.id) }}">Pay Now</a></td>
        <td>{{ failed_invoice.amount_due | currencyFormat }}</td>
        <td>{{ failed_invoice['created']| timestampToDate }}</td>
        <td>{{ failed_invoice.status }}</td>
        <td>{{ failed_invoice.attempt_count }}</td>
        <td>{{ failed_invoice['stripe_decline_code'] or "Unknown" }} </td>
    
    <tr>
    {% endfor %}

    </table>

    </div> <!-- end container-->
  </div> <!-- end section-->
</main>



{% endblock %}
