{% extends "admin/layout.html" %}
{% block title %} {{ title }} {% endblock %}

{% block body %}

<h2 class="text-center text-dark mb-3">Edit Category</h2>

<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Manage My Shop</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.list_categories') }}">Categories</a></li> 
    <li class="breadcrumb-item active" aria-current="page">Edit Categories</li>
  </ul>
</div>

<main>
  <div class="section">
    <div class="container">

      <h3>Edit Category</h3>
      <p class="card-subtitle mb-3 text-muted">Edit the category below.</p>

      <hr>

      <form action="#" method="POST">
        <div class="form-category row py-md-3">
          <label for="title" class="col-sm-2 col-form-label">Category name:</label>
          <div class="col-sm-10">
            <input name="name" id="name" type="text" value="{{ category.name }}" autofocus class="form-control" required>
          </div>
        </div>
        <div class="row py-md-3">
          <label for="title" class="col-sm-2 col-form-label">Position:</label>
          <div class="col-sm-10">
            <input name="position" id="position" type="number" placeholder="0" value="{{ category.position }}" autofocus class="form-control" required>
            <p>Use a position number to control the order in which categories appear. Lower positions appear first.</p>
          </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary btn-block col-md-6 my-3 mx-auto">
      </form>

    </div><!--end container-->
  </div><!--end section-->
</main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
  </head>
  <body>
    <div id="summernote"></div>
    <script>
      $('#page-body').summernote({
        placeholder: 'Start typing...',
        tabsize: 2,
        height: 240,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>

{% endblock body %}
