.kcBlue{

    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  
  }

@media (max-width: 768px) {
  .section {
    padding: 0;
  }

  .table-scroll {
    display: inline-block;
    overflow-x: scroll;
  }

  .pagination {
    margin-bottom: 1rem;
  }
}


@media screen and (max-width:768px) {
    table.mobile-optimised {
        display:block;
    }
    table.mobile-optimised thead {
        display:none
    }
    table.mobile-optimised td {
        display: block;
        border: none;
    }
    table.mobile-optimised tbody, table.mobile-optimised tr {
        display:block
    }
    .mobile-optimised td:before {
        content:attr(data-th);
        display:block;
        font-weight:bold;
        margin:0 0 2px;
        color:#000;
    }
    .mobile-optimised tbody tr {
        border: 1px solid rgba(0,0,0,.125);
        margin-bottom:10px;
    }
}


textarea {
    padding: 10px;
}
