---

name: Login Emails Sending
on: 
  schedule:
  - cron: "0 9 * * *" # 9am
  - cron: "0 19 * * *" # 7pm
  workflow_dispatch:
jobs:
  test-login-emails-sending:
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    environment: production
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v1

      - uses: microsoft/playwright-github-action@v1

      - name: Install node dependencies needed for Playwright browser tests
        run: |
          npm i -D @playwright/test@1.14.0
          npx playwright install
          sudo npx playwright install-deps 

      - name: Run test shop owner email magic login received
        env:
          PLAYWRIGHT_HEADLESS: true
          SHOP_OWNER_LOGIN_URL: ${{ secrets.SHOP_OWNER_LOGIN_URL }}
          SHOP_OWNER_EMAIL_HOST: ${{ secrets.SHOP_OWNER_EMAIL_HOST }}
          SHOP_OWNER_EMAIL_USER: ${{ secrets.SHOP_OWNER_EMAIL_USER }}
          SHOP_OWNER_EMAIL_PASSWORD: ${{ secrets.SHOP_OWNER_EMAIL_PASSWORD }}
          EMAIL_SEARCH_API_HOST: ${{ secrets.EMAIL_SEARCH_API_HOST_ISSUE_704 }}
          SHOP_OWNER_MAGIC_LOGIN_IMAP_SEARCH_SUBJECT: "Subscribie Magic Login"
          IMAP_SEARCH_UNSEEN: "1"
          IMAP_SEARCH_SINCE_DATE: "01-Sep-2022"
        run: |
          set -x
          cd tests/browser-automated-tests-playwright; npx playwright test --grep @704

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: Screenshots-and-video-artifacts
          path: |
            ./index.spec.js-snapshots/*
            ./tests/browser-automated-tests-playwright/test-results/*
